[2017-11-11 22:16] #612 closed

[2017-11-11 22:19] koskimas commented on #612
Oh and if you are working with node < 6 and don't use babel, you are stuck with promises:

[code]

[2017-11-11 22:22] koskimas commented on #612
With node < 8 you can also simulate `async/await` using generator-functions (`function *something()`) and `yield` just like I've done in the ES6 example.

[2017-11-11 22:28] koskimas commented on #612
Oh and another thing: You are giving a knex configuration for `Model.knex` while you should be giving it an instance of knex.

[2017-11-11 22:41] rmp135 opened #613 "Unable to define PascalCase column names for relations"
Not sure if I've missed something in the docs but I'm having trouble setting the `to` and `from` tables for relationships to use PascalCase column names e.g. `Game.CardID`, it just refuses to enter the column into the `insert` statement. I've managed to get around this by using ~~camelCase~~ snake_case but it took hours to figure out. You might want to make it more obvious in the documentation tha

[2017-11-11 23:45] koskimas commented on #613
If you don't have any case conversion set up for your models you need to give every column in the database format. If your columns are pascal cased in the db, then use pascal case in relation mappings. If they are snake cased, then use snake case. Objection doesn't require you to use any specific casing. You have probably messed something else up. If you post your migrations and models here I may

[2017-11-11 23:54] rmp135 commented on #613
I don't have case conversion setup.

My models couldn't really simpler.

[code]
The database columns are in pascal case.
If I keep the relations in pascal case and attempt to perform a graph insert
[code]
The ID columns of the cards are skipped. If I change the case of the relation to camel case then they do insert but performing a select with `eager('cards')` fails (it was performing two queries

[2017-11-11 23:57] koskimas commented on #613
The default id column is lowercase `id`. You probably need to add this to your models:

[code]

[2017-11-12 00:19] koskimas commented on #613
Was that it?

[2017-11-12 01:19] #613 closed

[2017-11-12 08:01] chilly2go commented on #612
I'm running node v8.9

Thank you for your answers!
The query I wrote was taken from the objection documentation and... well... I did not know better but could not find some more "howto" or "tutorial".
Hope I did not bother you.

[2017-11-12 09:15] rmp135 commented on #613
Looks like that fixed it. Thanks.

[2017-11-12 10:32] koskimas commented on #612
No bother at all. The example projects are probably the best tutorials around for objection.

https://github.com/Vincit/objection.js/tree/master/examples

[2017-11-12 10:34] sexualmaniac opened #614 "Possible knexSnakeCaseMappers relations bug"
Hello

I am waiting for [this feature](https://github.com/Vincit/objection.js/issues/472) and I tried new `knexSnakeCaseMappers` in my project, but the model relations don't work until I define them in camelCase.

Is this expected or a bug?

[2017-11-12 10:43] koskimas commented on #614
When the mapping is done in knex, objection knows nothing about snake_case. As far as objection is concerned the database has been defined using camel case. Everything that knex returns and takes is camelCased when you use the knex's mappers. That's just how they work. So yes, it is expected.

So you would like to defined relations using snake case, but how would you like to write queries? Like th

[2017-11-12 10:49] sexualmaniac commented on #614
@koskimas makes sense. I'm using snake_case column names in migrations, queries, relations. The camelCase conversion is used only for api input/output.

I would like to keep using snake case everywhere, this variant:

[code]

[2017-11-12 10:52] koskimas commented on #614
Ok, then you can still use the old way of making the mapping using `$parseDatabaseJson` and `$formatDatabaseJson` hooks. I'll probably add helpers for that too so that you can do this:

[code]

[2017-11-12 10:59] sexualmaniac commented on #614
@koskimas so with `super` it will look like this one?

[code]

[2017-11-12 11:02] koskimas commented on #614
Yep

[2017-11-12 11:05] sexualmaniac commented on #614
@koskimas looks great, I'm fine with this solution. Thank you!

[2017-11-12 12:02] callmekatootie opened #615 "patch() triggers $beforeInsert"
I have the following code:

[code]

and I have a `$beforeInsert()` function in the `User` model.

I notice that `$beforeInsert()` is called even though I am using `patch()` - shouldn't only `$beforeUpdate()` be called in this case

[2017-11-12 12:11] callmekatootie commented on #615
My bad. I called the wrong `super()`

[2017-11-12 12:11] #615 closed

[2017-11-13 03:20] sexualmaniac commented on #614
@koskimas hm, from source code, there are already default [functions](https://github.com/Vincit/objection.js/blob/master/lib/model/Model.js#L147-L153) in model hooks. When [they](https://github.com/Vincit/objection.js/blob/master/lib/model/modelJsonAttributes.js#L5-L45) execute, there is an iteration over the object properties.

Maybe camel/snake case conversion can be added in this functions so w

[2017-11-13 03:39] sexualmaniac commented on #614
This two solutions will be added to the docs with a description about what's different so you can choose what fits you best. Both of them will be possible to trigger with just one line of code:

[code]

Looks really good to me.

[2017-11-13 08:37] koskimas commented on #614
The whole conversation in #472 was about adding such flag and I have been against it the whole time. Now I think it's even worse idea since there are two ways to do that (hooks and knexSnakeCaseMappers).

Performance is definitely not an issue here. Iterating over the object is super fast. I have peformance tests that I run before each release (in the perf folder). You can iterate over an object t

[2017-11-13 08:37] #614 closed

[2017-11-13 08:56] sexualmaniac commented on #614
@koskimas yep, it's mostly about convenience.

Since we'll have this two methods anyway, the idea of adding a static property for turning them on is not that bad. It's very useful when you want only some of your models to do the conversion.

I followed that issue and never understood why you were against it, this feature is very useful. I'll use it in every project. Since there will be explanation

[2017-11-13 09:18] koskimas commented on #614
I'm mostly against it because I feel like there is a way to achieve this that is only couple of lines, but that doesn't seem to be enough for people. The current solution is generic while adding a specific flag for snake_case conversion is not. I also personally feel like doing the conversion is a bit stupid. It can cause all kinds of problems and therefore more issues for me to explain/solve. The

[2017-11-13 09:18] sebbarg opened #616 "Loading related on demand"
Hi,

What is the best way to do a demand-$loadRelated() ?

E.g. calling `jennifer.pets.length` would automagically call `jennifer.$loadRelated('pets')` on first access to jennifer.pets.

Or is that the wrong pattern to be using with objection.js?

Thanks!

[2017-11-13 09:21] koskimas commented on #614
But if I'm going to add the converter functions anyway, adding the flag is only a little worse, so I'm beginning to think I should just add it, no matter how stupid I think it is just to get people leave this issue alone. I'd like to actually work with some useful new stuff instead of this.

[2017-11-13 09:26] koskimas commented on #616
Hi,

I think possible way to implement this is using a `Proxy`. I don't know how well this would work with objection in general though. That's the kind of thing I have been trying to avoid 😄 I started using node and writing objection.js after getting frustrated with Hibernate that does exactly that.

Your example won't be possible (with any javascript ORM) since there is no way to resolve async st

[2017-11-13 09:27] koskimas commented on #616
This is doable with proxies:

[code]

[2017-11-13 09:30] koskimas commented on #616
And this you can do just by adding instance getters for models:

[code]

for example this kind of magic should work:

[code]

[2017-11-13 09:40] #616 closed

[2017-11-13 09:46] sebbarg commented on #616
@koskimas Thanks!

So I'm guessing that you don't advocate this kind of design - how do you go about demand loading relations yourself?

I had the same proxy-thoughts in mind as your example shows, but I can see that when I run `jennifer.$loadRelated('pets')` then property pets is created - is it then overwriting the proxy?

Either way it (as you say) becomes a bit of a mess of sync and async code

[2017-11-13 10:42] sexualmaniac commented on #614
@koskimas this is just a personal preference, same as with semicolons or not, tabs or spaces. There'll always be people who prefer one to another and don't understand the opposite choice.

I've been using snake case in my databases for like 4 years and I just like how it works. So, although it's not a model flag yet, I'm really happy the support for  https://github.com/Vincit/objection.js/issues/4

[2017-11-13 11:12] koskimas commented on #614
No it is not. Semicolons or not or tabs versus spaces have no unwanted side effects. Snake case conversion has. There's alot of code to maintain just to make it work.

How would you feel about a solution like this:

const { snakeCaseMappers } = require('objection');

class BaseModel extends Model {
  static columnNameMappers = snakeCaseMappers();
}

This way the feature would still be generic and

[2017-11-13 12:28] sexualmaniac commented on #614
@koskimas I know about `knexSnakeCaseMappers` side effects, but what side effects does model hooks conversion has?

This solution is flexible, is it needed though, are there any requests for other conversions besides snake and camel ones?

[2017-11-13 12:36] koskimas commented on #614
Not yet, but there surely will be at some point. If I add a `useSnakeCase` boolean we're locked with only snake case conversions and adding another will be a breaking change. Also I'm pretty sure I'll see an issue in the future about people wanting a different kind of snake_case conversion. For example by default `foo1Bar` is converted to `foo1_bar` and some people prefer `foo_1_bar` (default in l

[2017-11-13 12:46] sexualmaniac commented on #614
@koskimas yep, you solution is actually well thought and doesn't lock us from future changes, I like and support it.

[2017-11-13 16:54] koskimas commented on #616
Something like this should work:

[code]

Now you could call:

[code]

You could create a common `BaseModel` super class for all your models and run the getter generation code for example in `query` method  or someplace else that always gets called before you would use the getters (maybe constructor). Just make sure you don't generate those each time.

Another option would be to add for example `r

[2017-11-13 16:59] koskimas commented on #616
Maybe you could run the generation code in [getRelations()](http://vincit.github.io/objection.js/#getrelations).

[2017-11-13 17:04] slim-hmidi opened #617 "How to get the result from queryBuilder?"
I'm using a queryBuilder:
[code]
The `console.log('placeBuilder: ', placeBuilder)` return an object `QueryBuilder ` which contains many attributes such as
[code]
I want to get the result of `queryBuilder` when there are no data to display i.e something like `placeBuilder: undefined or null` how can I get the result of queryBuilder?

[2017-11-13 19:21] koskimas commented on #617
You need to await on the query builder or call any of the promise methods listed in the docs. All IO operations in node are async. You cannot make database queries synchronously.

[2017-11-13 19:21] #617 closed

[2017-11-14 15:33] cemremengu opened #618 "knexSnakeCaseMappers is undefined"
Are snake_case conversions discussed in docs included in `0.9.0` ?
[code]

This turns out to be undefined for some reason

[2017-11-14 16:05] koskimas commented on #618
The docs in the repo are for the master branch. The docs for the released version are [here](http://vincit.github.io/objection.js/). `knexSnakeCaseMappers` are not yet released.

[2017-11-14 16:05] #618 closed

[2017-11-14 17:49] slim-hmidi opened #619 "Jsonb object with single quotes."
I have this model:
[code]
When I make a query:
[code]
I got such example:
[code]
I didn't understand why the type of name is `string` however on the database is `jsonb`.Shouldn't be like that: `name: {"key1": "text1","key2": "text2"}` without single quotes?

[2017-11-14 17:52] koskimas commented on #619
There is noi `jsonb` type in [JSON schema](http://json-schema.org/). You need to use `object` instead.

[2017-11-14 17:52] #619 closed

[2017-11-14 17:53] koskimas commented on #619
Like this i mean:

[code]

[2017-11-14 18:08] slim-hmidi commented on #619
@koskimas  However when I'm using the seed file and put some data manually such as:
[code]
The data that I got are correct using seed file data, but when I tried to get data from database I got the problem.

[2017-11-14 18:48] slim-hmidi opened #620 "Why objection does not verify the schema with seed file?"
I have this model:
[code]
And I put some data in the seed file:
[code]

First case: I fill the table with seed file and I run the query:
[code]
I got :
[code]

Second Case: I used a real database and I got such a result:
[code]
And I got such an answer [#619](https://github.com/Vincit/objection.js/issues/619) about the `jsonb` that is not type in JSON schema. When does the verification of json sch

[2017-11-14 18:54] #620 closed

[2017-11-14 18:55] koskimas commented on #620
You use knex to seed. There is no way objection can know what you do with knex.

[2017-11-14 18:57] koskimas commented on #620
And also, the postgres driver returns jsonb colums as strings. Everything is as it should be here.

[2017-11-14 18:58] koskimas commented on #620
Aaaand json schema is only validated when you insert or update using __objection__. Why would we validate data coming from the database :smile:

[2017-11-14 18:59] slim-hmidi commented on #620
Thank you for the information.

[2017-11-14 19:11] slim-hmidi commented on #620
with type `jsonb` I got result such as : ` name: '{ 'key1': 'text1', 'key2': 'text2' } '` and with type `object` I got : ` name: { key1: 'text1', key2: 'text2' }`?

[2017-11-14 19:21] elhigu commented on #620
@slim-hmidi because node-postgres driver deserialises it. check pg-types.

[2017-11-14 20:25] slim-hmidi commented on #620
@elhigu according to the previous comments the json schema is validated only for insert and update of tha data.But for my case I have data on my postgresql database that contains a column name of type `jsonb`. When I put on the json Schema the name of type jsonb I got the result like this : `name: '{ 'key1': 'text1', 'key2': 'text2' } '` changing the type to object type the result became `ame: { k

[2017-11-14 20:42] elhigu commented on #620
Sooo... you are wondering why first letter of `name` is dropped and it becomes `ame`? Or is it unclear why setting column type to be `object` in `jsonSchema` changes parsing of `jsonb` type of column?

First one I suppose it is just typo. Second one objection **uses** `jsonSchema` also when it loads data from DB, but **it does not use it for validating read data**.

It uses it to figure out if col

[2017-11-15 10:21] wubzz opened #621 "$loadRelated in docs is confusing"
I have a `relationMapping` with a default `modify` filter to always ensure my model only loads reations based on `>= TimeStamp`, which works great.

In another part of my application, I want to load all relations with an additional condition: `TimeStamp <= maxDateTime`.

The following is described in docs as a valid filter so it seemed like the obvious choice:
[code]

![objection](https://user-ima

[2017-11-15 10:33] wubzz commented on #621
I also tried using `.modifyEager('*', (queryBuilder) => ...)` but it yielded the same issue.

[2017-11-15 12:13] wubzz commented on #621
@koskimas Ah, that explains a lot. Thanks, closing this!

As for `*` I had a feeling it was wrong, but having to type out relation names in plain strings while they're already part of the `relationsMapping` was really a turn off for me. Are there any alternative ways to eager-load all relations without having to specify the list?

[2017-11-15 12:13] #621 closed

[2017-11-15 12:17] koskimas commented on #621
Unfortunately there isn't. Are you loading nested relations? If not, you could always do something like this:

[code]

[2017-11-15 12:25] koskimas commented on #621
There is a way to hook into all executed queries without the need for eager filters, but it's in no way obvious from the docs. This is fully supported though:

[code]

[2017-11-15 12:36] wubzz commented on #621
Yeah I'm using deeply nested relations. I ended up still taking the risk of using `*`, but unfortunately using `*(filter)` did not work either, so had to do this:

[code]

[2017-11-16 15:02] #360 closed

[2017-11-16 15:10] devinivy commented on #360
@koskimas thank you, this is great!

[2017-11-16 15:14] #440 closed

[2017-11-16 15:39] #494 closed

[2017-11-16 16:13] marcpearson opened #622 "How to intercept all update query from a $beforeUpdate in a shared Base class"
I presently using Objection.js for a project for the first time.

But i try to do something special but i can’t make it work, let me explain

I have a BaseModel (extended from Objection.js Model) shared for all my model class

The BaseModel class contains a $beforeUpdate(opt, queryContext) method.
In this method, i try to intercept the current query (coming from all model) to append
a where condit

[2017-11-16 16:28] koskimas commented on #622
I should warn you though that this can have some unwanted side effects.

[2017-11-16 16:29] marcpearson commented on #622
OK but how  i my suppose to write my $beforeUpdate hook in my BaseModel to append a where condition to the «current» update query ? Can you give me an example please ?

[2017-11-16 16:33] koskimas commented on #622
[code]

[2017-11-16 16:42] marcpearson commented on #622
i tried your example as is but i got : TypeError: ModelClass.QueryBuilder.forClass is not a function
My code use typescript typings

[2017-11-16 16:46] koskimas commented on #622
Are you sure your custom builder extended `Model.QueryBuilder` correctly?

[2017-11-16 16:49] koskimas commented on #622
Or is that a typescript error? In that case I don't know how to fix it. I don't use typescript and I haven't written the typings. Maybe @mceachen can help?

[2017-11-16 16:56] #622 closed

[2017-11-16 16:57] marcpearson commented on #622
There is no way to access the current query context in the $beforeUpdate without writing my custom QueryBuilder class ?

[2017-11-16 17:05] koskimas commented on #622
Yes you can access the query context. It's always there as the second argument. It just doesn't contain the query builder you need to add the `where` call. The custom method I suggested adds a `builder` property to the `queryContext` so that you can access the current query builder.

[2017-11-16 17:07] koskimas commented on #622
You could also override the `QueryBuilder#update` method and add your `where` there?

[2017-11-16 17:10] mceachen commented on #622
@koskimas if you want, please provide sample code for the context method, so I can add it to the typings tests and make sure everything works as expected.

[2017-11-16 17:15] marcpearson commented on #622
I tried this (base on the answer from @koskimas)  but it doesn't work:

import { Model, QueryBuilder } from 'objection';

class CustomQueryBuilder extends QueryBuilder<Model> {
  context(...args) {
    const result = super.context(...args);

    if (args.length === 0) {
      // When there are no args, `context()` is used as a getter.
      result.builder = this;
    }

    return result;
  }
}

T

[2017-11-17 16:52] marcpearson commented on #622
I found this [https://github.com/alekbarszczewski/knex-hooks](https://github.com/alekbarszczewski/knex-hooks) and works very well for what i need to do.
Maybe you should give a way to access the «current» QueryBuilder without the need to write a custom querybuilder class

[2017-11-17 17:59] kblomster opened #625 "Discussion: TypeScript plugin/mixin woes"
Implementing and/or using Objection plugins in TypeScript is kinda messy, at the moment. Let's try writing a plugin in TS 2.6.1 with the current typings:

[code]

This doesn't work at all and causes two separate errors:
[code]
[code]

Stealing an idea from the `Mixin` declaration, we try a different plugin function signature, and it starts looking promising:
[code]

But then we run into trouble an

[2017-11-17 18:15] koskimas commented on #625
@mceachen

[2017-11-17 19:23] mceachen commented on #625
I thought I'd exercised plugin and mixin sufficiently with `examples.ts` but I think getting an actual plugin implementation in there would help ensure the typings stay reasonable.

If you look at the git line history for mixin, you can see I've tried at least two different approaches to capture the class type--the latest iteration seemed to work for ts2.6.1 for the examples present, but I think t

[2017-11-19 16:02] koskimas commented on #599
The problem with @drew-r's suggestion is that everyone who uses `$relatedQuery` would get their logs filled with deprecation warnings even if they never used the relation property.

Actually the breaking change from just removing the whole behaviour is not that bad. You just need to search for all your `$relatedQuery` queries and do this:

[code]

or

[code]

if you really want the current behavio

[2017-11-19 21:06] jordansexton commented on #599
What if `$relatedQuery(...).insert()` assigned the property, but just `await`-ing to do a `SELECT` didn't? I think it's unintuitive and very duplicative to have to assign a prop/push an array when writing, but for reads, `$relatedQuery` is duplicating `$loadRelated`.

Also, what `person.children` hasn't been fetched? Aside from being pretty ugly, `person.children = [await person.$relatedQuery('chi

[2017-11-19 21:17] jordansexton commented on #599
(Edited the comment above with a more complete example.)

[2017-11-19 23:38] koskimas commented on #622
Modifying the query in hooks is not the best idea. That's why the query is not passed to them. The hooks are instance methods and are called to each model instance. The same query can operate on multiple model instances. If you modify that kind of query in a hook, you modify the query N times (where N is the number of model instances).

[2017-11-20 08:14] kblomster commented on #625
Yeah, I think I'll make a PR with some more test cases and an attempt at making them pass and then we can get into the gory details in there.

[2017-11-20 11:41] lehni opened #627 "Problem with insertAndFetch() inside upsert()"
# Test case

https://runkit.com/lehni/objection-has-one-relation-with-upsert

# Description

I'm experiencing something strange with my `upsert()` method [here](https://github.com/Vincit/objection.js/issues/101#issuecomment-341506839). When I run it on an empty has-one relation through `model.$relatedQuery('relation').upsert(…)`, I get the error `"Cannot read property '$id' of null"`, from `Insert

[2017-11-20 11:43] lehni commented on #627
BTW, I use this simple little helper here quite a bit, perhaps worth adding to Objection?

[code]

[2017-11-20 16:58] #608 closed

[2017-11-20 17:18] mceachen commented on #625
@kblomster please tag me on the pr or email me the branch when/if you want to collaborate.

[2017-11-22 12:28] timho93 opened #629 "Problems while using #dbRef"
Hey, i am running into trouble while using #dbRef.

This is my Code:
[code]
In the Model of Conversation there is the following relationMapping:
[code]

This results in a situation where it tries to insert a new User.
[code]

Whats wrong with my Code ???

Thanks,
Tim

[2017-11-22 15:48] elhigu commented on #629
Shoudn't `#dbRef` to be used for rows that are added inside the same graph insert. If you have already rows in DB which you are going to relate 4th example of http://vincit.github.io/objection.js/#graph-inserts might work for you?

[2017-11-22 16:23] timho93 commented on #629
Tried this already. Code:
[code]
Error:
[code]

Any idea of what could be wrong? Not only with respect to the code but also with how we use it.

Thanks

[2017-11-22 17:03] igor-savin-ht opened #630 ""Snake case to camel case conversion" recipe example fails to work"
[code]

  ...knexSnakeCaseMappers() seems to rely on spread support which only landed in 8.x. Also I wonder if there is a missing comma in the preceding line, current version doesn't look valid JS to me.

Is there a non-spread version of the same code (it's ok if it is somewhat more verbose) that would work with NodeJS 6/7?

[2017-11-22 17:22] Palisand commented on #630
http://vincit.github.io/objection.js/#objection-knexsnakecasemappers

See "For older nodes"

[2017-11-22 17:23] elhigu commented on #629
Are you using the latest objection?

[2017-11-22 17:24] igor-savin-ht commented on #630
@Palisand Thanks! Recipe probably should include link to that as well as it's not very intuitive to search for it there :)

[2017-11-22 17:27] Palisand commented on #630
The link is on `knexSnakeCaseMappers`.

[2017-11-22 19:42] #630 closed

[2017-11-22 21:53] jeff3yan opened #631 "Using views for select but the base table for inserts"
I'd like to create a SQL view that contains a couple of computed columns on a specific table.

It'd be ideal if _find_ queries on the objection model used the view, and any inserts/updates/deletes referenced the base table.

Is there any way to achieve this in an objection model, or is this something I should keep in the database layer?

[2017-11-22 22:08] jordansexton commented on #631
I use views and matviews and keep separate Objection models for them, so I don't do what you're asking exactly, but you could either override the `insert(Graph)`/`update(Graph)`/`patch`/`delete` methods on a `QueryBuilder` subclass for your views to delegate the calls to a different model, or possibly use  [`QueryBuilder#isFindQuery`](http://vincit.github.io/objection.js/#isfindquery) in the execu

[2017-11-22 22:27] chamini2 opened #632 "JSON API support"
I wanted to know if there is any support for going from Objection to JSON API (http://jsonapi.org/format/).

Are there any known plugins for it? I searched a bit and could only find stuff regarding the JSON API of Postgres from Objection.

[2017-11-22 23:12] elhigu commented on #632
I haven’t heard that anyone has been working on it.

[2017-11-22 23:12] #632 closed

[2017-11-22 23:24] elhigu commented on #631
Probably the easiest is to have separate model for the view and for the normal table and decide which one to use per query basis. Though im not familiar with your use case. Is it impossible to decide which model to use query basis?

[2017-11-22 23:24] #631 closed

[2017-11-22 23:58] jeff3yan commented on #631
I'll go with the separate model for the view, and manually call it for now. It's definitely possible to decide what model to use on a per-query basis using `this.isFindQuery()`.

I'll also give the delegated query builder a try as I wasn't aware of that method. Thanks!

[2017-11-23 00:34] jamesdixon commented on #632
@chamini2 funny I find this question being asked by you? Abandoning Bookshelf? Thinking about doing the same and was looking for something similar to our mapper

[2017-11-23 00:41] chamini2 commented on #632
Yeah @jamesdixon! I even saw you work on [some Objection stuff](https://github.com/scoutforpets/objection-password). I am searching for something similar to jsonapi-mapper too! I even wrote to you on Gitter to see if you had any ideas on what to do.

No luck finding a mapper to JSON API?

[2017-11-23 00:49] jamesdixon commented on #632
Sorry about the no-reply on Gitter! I haven't been on there in ages!

I haven't found anything, so I'm guessing we'll probably need to write something. I haven't looked deep enough into the Objection object model, but it appears simpler from what I recall (used it on another project). I'm not sure if it can fit in as another ORM under the mapper or not.

Thoughts?

[2017-11-23 00:50] jamesdixon commented on #632
Btw, Bookshelf is definitely becoming problematic on our end as well. Admittedly, it would be quite a large refactor and I'm nervous to undertake it given the number of hacks and other things I put in place to "fill the gaps."

[2017-11-23 00:52] chamini2 commented on #632
I was thinking that if I found no mapper I would use the jsonapi-serializer directly for a while to understand what kind of objects I need to be passing in it. And when I have a good understanding on it I planned on working in a jsonapi-mapper version.

[2017-11-23 00:59] jamesdixon commented on #632
Makes sense. Let me know if you decide to embark on creating a library/adding it to jsonapi-mapper.

Have you guys made the transition yet? If so, has it been painful?

[2017-11-23 01:03] jamesdixon commented on #632
I messaged you on GItter; feel free to reply there.

[2017-11-23 07:52] lehni commented on #627
@koskimas would you have a moment to look into this with me? I am happy to dig further, but am a bit stuck currently with analysing why this is happening.

[2017-11-23 10:21] timho93 commented on #629
We are using the version 0.9.2. Could this problem result out of a conflict with the objection-find module ?

[code]

`npm ERR! peer dep missing: objection@^0.8.0, required by objection-find@0.5.1`

[2017-11-23 10:24] kapouer commented on #629
objection-find is not yet compatible with objection 0.9. However i'll probably take care of it later today.

[2017-11-23 10:26] timho93 commented on #629
So you recommend to use only one of it at a time =

[2017-11-23 10:32] kapouer commented on #629
objection-find is going to be broken with objection 0.9 at some places.
However the issue here doesn't seem to be related to objection-find.

For example in https://github.com/Vincit/objection.js/issues/629#issuecomment-346400943 you misplaced the `{relate: true}`parameter inside the array parameter.

[2017-11-23 12:57] timho93 commented on #629
If i compare the placement in my code with the example in your documentation, i can't recognize any differences.

<table>
<tr>
<td>MyCode</td>
<td>Code from your Doc </td>
</tr>
<tr>
<td>

[code]

</td>
<td>

[code]

</td>
</tr>
<table>

[2017-11-23 13:30] chilly2go commented on #629
Thanks for the Answer. If we do it like that objection does not treat `relate` as a field that has to be inserted.
But it still does not relate the inserted (for us `conversation`) and the supplied user identified by an ID.
If we execute it we get error messages based on the jsonSchema of the related model of the `participants` relation.

[2017-11-24 11:44] igor-savin-ht opened #634 "Option to ignore additional properties"
Currently it is only possible either to silently include additional (undefined in schema) properties or to throw exception when these are found. It is not currently possible to silently omit fields that are not in the schema during .fromJson instantiation. I presume this could be a new flag in ModelOptions entity that is passed to .fromJson method or an explicit argument for .fromJson method.

I c

[2017-11-24 11:47] igor-savin-ht commented on #634
@koskimas Could you please comment whether you think that this is an appropriate change? I obviously can implement this change on our consumer part, but my preferred option is to contribute to upstream when it makes sense to.

[2017-11-24 12:16] koskimas commented on #634
I think this is easy enough to implement in userland and it shouldn't be added to core:

[code]

Also there is [this](http://vincit.github.io/objection.js/#pickjsonschemaproperties) if it's enought to remove the properties before they get to the database.

[2017-11-24 12:16] #634 closed

[2017-11-24 12:22] kapouer commented on #634
This ajv option can also be handy: [removeAdditional](https://github.com/epoberezkin/ajv#filtering-data)

[2017-11-24 12:39] igor-savin-ht commented on #634
@kapouer @koskimas Thank you for the extremely useful information! Is there any value in me creating new Recipe PR for the objection.js documentation?

[2017-11-24 12:46] koskimas commented on #634
@igor-savin-ht I think a recipe could be useful. The difficult part is to use the correct words so that people find that recipe. I don't think many people find `pickJsonSchemaProperties` because of its name.

[2017-11-24 12:48] kapouer commented on #634
Correct me if i'm wrong, but isn't `pickJsonSchemaProperties` only working on top-level properties ?
If i remember well, it's the reason i ended up using `removeAdditional`.

[2017-11-24 12:55] koskimas commented on #634
@kapouer That's correct. Its purpose is to remove nonexistent __columns__ from being inserted to database. Nested json objects are unaffected. It works for nested relations though (if they have the flag on).

[2017-11-25 21:24] koskimas commented on #629
@kapouer Nice catch! I'll fix that typo.

[2017-11-27 14:32] #629 closed

[2017-11-27 16:54] tylerjbainbridge commented on #88
Is it possible to call $beforeDelete/$afterDelete from the query builder?

[2017-11-27 21:10] jordansexton commented on #88
Here's an approximation of how I do it to trigger `$beforeDelete`/`$afterDelete`. Caveat: this code won't work out of the box (it relies on some other methods from my own subclass of Objection's Model class).

[code]

This allows you to call `model.delete()` as normal and have it transparently soft delete instead.

[2017-11-28 15:05] vjpr commented on #575
I agree it should be kept out of core.

Some thoughts on a plugin implementation:

You should maintain a "squashed" latest migration inside your models.

There should be a migration function taking `knex` as a param, inside the model file.

There would be two functions, because if you are adding references, you need the table you are referencing to have been created first, and we don't want to hav

[2017-11-29 23:05] hardeep opened #635 "Question: Type defintion of QueryBuilderUpdate extends Executable<number>?"
I'm using the `.patch` method and when returning from a promise chain, I'm getting a type mismatch. [The QueryBuilderUpdate interface extends](https://github.com/Vincit/objection.js/blob/master/typings/objection/index.d.ts#L457
) `Executable<number>`, should it be extending `Executable<T>`?

Looking at the [`.patch`](https://github.com/Vincit/objection.js/blob/master/typings/objection/index.d.ts#L

[2017-11-29 23:10] hardeep opened #636 "Question: PromiseLike instead of Promise?"
I'm using the bluebird library, it seems that the type definitions [specify Promise instead of PromiseLike](https://github.com/Vincit/objection.js/blob/master/typings/objection/index.d.ts#L440).

Any reason for using Promise vs PromiseLike? I'd be willing to submit a PR to change it.

[2017-11-30 00:42] kapouer opened #638 "inst.$query().patch(data) need skipUndefined ?"
I might be confused but in some places i use `patch`, i now need to add `skipUndefined` as well.
Since version 0.9.2.

Typically in here:
[code]

but not here:
[code]

Is this me not understanding the use case for `$query()` ?

[2017-11-30 00:42] kapouer commented on #638
Correction: using version 0.9.2. It probably existed before.

[2017-11-30 02:43] hardeep commented on #635
I just noticed that patch does return a number – I believe, the amount of rows affected. Perhaps using a Generic with a default? `Executable<T = number>`?

[code]

[2017-11-30 09:57] koskimas commented on #638
`site.$query()` already adds the `where('id', site.id)` part to the query and you shouldn't add it yourself.

[2017-11-30 10:01] kapouer commented on #638
I think it's the case here. I don't want to expose internal `_id` so i don't select it at all.
In the end i removed the `inst.$query()` calls and just used `Model.query()` to avoid confusion.

[2017-11-30 10:01] #638 closed

[2017-11-30 15:45] vjpr opened #639 "Invalid value for `required` field in schema causes vague error"
Originally filed at https://github.com/epoberezkin/ajv/issues/638 but ajv handles this correctly apparently.

[code]

[2017-11-30 18:00] koskimas commented on #639
Please provide enough information for someone to reproduce the issue.

[2017-11-30 18:00] #639 closed

[2017-11-30 19:22] newhouse opened #640 "`where*Exists` in `insert`"
Hi there!

Let's say I have `Post`, `Campaign` and `Organization` models/tables:
- `Post` requires `organization_id`, which is an FK to a `Organization`.
- `Post` has an optional `campaign_id`, which is an FK to a `Campaign`.
- `Campaign` requires `organization_id`, which is an FK to an `Organization`

I want to allow users to create a `Post` that relates to a `Campaign`, but I want to ensure that

[2017-12-01 11:36] pwalczyszyn opened #641 "Question: Is it possible to return an array of object ids from eager query?"
I would like to make an `eager` query that would return me a flat array of IDs of related objects.

So instead of something like this:
[code]
I would like to get:
[code]
Is this possible to achieve in any way? Basically what I need is something like `pluck` function that I can apply to eager relations.

[2017-12-01 11:41] elhigu opened #642 "Connection not available error when trying to override static query() method and add some initial calls to every created query builder"
This is the code I prototyped:

[code]

And it throws:

[code]

Is this a bug or am I just doing something wrong?

[2017-12-01 12:31] elhigu commented on #642
I traced the problem here:

https://github.com/Vincit/objection.js/blob/e944679cbce440764c59f4e3bc9b176921fdc3af/lib/queryBuilder/graphInserter/inserter.js#L19

[code]

builder has knex conenction in context, but it is not passed to the query() which creates new query builder.

Not sure if this even should work like this at all.

[2017-12-01 13:32] koskimas commented on #642
What if you pass `...args` to the super query call instead of the first argument?

[2017-12-01 13:45] elhigu commented on #642
The same error remains after this:

[code]

[2017-12-01 14:00] elhigu commented on #642
I passed builder.knex() to  couple of places in code and then example code did seem to execute correctly:

https://github.com/Vincit/objection.js/blob/e944679cbce440764c59f4e3bc9b176921fdc3af/lib/queryBuilder/graphInserter/inserter.js#L19

=>
[code]

and

https://github.com/Vincit/objection.js/blob/e944679cbce440764c59f4e3bc9b176921fdc3af/lib/queryBuilder/operations/InsertGraphAndFetchOperation.js

[2017-12-01 14:43] elhigu commented on #642
I was able to implement this using `onBuild` instead of directly passing stuff to query.

[2017-12-01 16:25] koskimas commented on #642
The connection should get passed along with childQueryOf. I'll reopen this as it seems like a bug

[2017-12-01 21:37] koskimas commented on #635
@mceachen Could you take a look at this?

[2017-12-01 21:37] koskimas commented on #636
@mceachen Could you take a look at this?

[2017-12-01 22:25] mceachen commented on #636
@hardeep `Promise` and `PromiseLike` are mostly ducktype compatible, but Promise neither extends nor implements PromiseLike in the TypeScript 2.6.2 typings. You'd have to change every reference to Promise to be `Promise<T> | PromiseLike<T>`, and callers would have to either cast (which is unsafe) or `instanceof` guard those calls if they had consumers that only accepted `Promise`s.

About a year a

[2017-12-01 22:29] mceachen commented on #635
@koskimas you changed these lines in 2a077f10f, and I think it had been correct. Which is the correct signature? Do you expect `patch` and `update` to return a number, or the updated model instance?

[2017-12-02 11:22] elhigu commented on #641
As far as I know that is not possible.

You need to write your own helper function which does that transformation after fetching data with nested relations. You can probably hook that helper to `runAfter()` functions and use for example quer builder context to pass information which attributes should be flattened like that.

[2017-12-02 11:22] #641 closed

[2017-12-02 16:41] antonyarchukcodemotion opened #643 "Empty array on ManyToMany relations"
I have an app with models: `User`, `Application`, `Role`. And I have a `users_apps_roles` bridge table, so one user can have one role in each application.

my relation mapping of the User model:
[code]

Now I'd like to get a list of roles for a user.
I'm trying to `User.query().where('id', userID).first().eager('rolesInApps');` but all the time I'm getting an empty array. With casual joins I can g

[2017-12-02 20:58] koskimas commented on #643
No it's not a bug for sure. This kind of code is used by basically everyone that uses objection. Also objection has over 2000 tests that cover a wide variety of eager queries. There is something else going on. Could you create a reproduction I can debug?

[2017-12-02 21:06] koskimas commented on #635
@mceachen `patch`, `update` and `delete` return a number by default, but chaining `returning` changes the result to model instances.  I changed those so that the model type can be recovered when `returning` is chained. Shouldn't typescript catch the returned type from `then` and realise that the promise is a `Promise<T>`?

[2017-12-02 22:54] mceachen commented on #635
@hardeep the QueryBuilderUpdate shouldn't extend Executable--see the [discussion ](https://github.com/Vincit/objection.js/pull/610) and the [diff](https://github.com/Vincit/objection.js/commit/dabb86c4024c6d62a12f79f21187245b72be1411#diff-cd41e62e17d6020205941718b64712a9).
With respect to your `Executable<T = number>` suggestion, I don't believe a default is appropriate there, as T captures the qu

[2017-12-04 01:12] koskimas commented on #642
This seems to be a corner case bug when using models without globally binding them to knex and overriding `query()`. The database connection is passed just after calling `query()` using `childQueryOf`. `onBuild` hook is a good solution.

[2017-12-04 01:12] #642 closed

[2017-12-04 06:48] koskimas commented on #635
@mceachen Umm.. I'm confused. I commented on this

by explaining why I changed it. I'm reading the quoted line like "I think koskimas broke it". Did I misunderstand it?

The return of `patch` was `number` before my change and is `number` after my change. The return type should remain `number` since the query really returns a number.

As for the original issue, @hardeep said

I fail to see how this

[2017-12-04 15:52] slim-hmidi opened #644 "missing FROM-clause entry for table "ts_rank_cd(to_tsvector('simple','place""
I wrote this query:
[code]

I got this sql query using the `debug()`:
[code]
I execute the query in postgresql and I got a result but in objection I got this error:
[code]

[2017-12-04 16:02] koskimas commented on #644
You cannot pass raw SQL to any of the query building methods (except for the ones that end with `Raw`). You need to wrap your SQL to `raw`.

[code]

[2017-12-04 16:02] #644 closed

[2017-12-04 23:46] drew-r commented on #586
@koskimas does this work for HasManyRelations?

[2017-12-05 12:56] #643 closed

[2017-12-05 21:13] newhouse opened #645 "Add "as of version x.x" to documentation"
Just a thought:
I often find myself revisiting the Objection docs when I am trying to do something that's not become "routine" for me. Sometimes I find a solution, but am not sure if I missed it last time I was there or if it's relatively new. Sure, I can search the page for the thing in question until I hopefully find it in the Changelog, but it would be nice to see an "as of version x.x" listed

[2017-12-05 21:26] koskimas commented on #645
It's a good idea, but it would be really difficult to do retroactively. Also I can barely make myself write the current level of documentation. I don't want make that process more complex. Writing docs sucks 😄

One way to check if a method existed in a version is to click on a tag in the [releases](https://github.com/Vincit/objection.js/releases) tab and go to the docs folder. Since the documentat

[2017-12-05 21:26] #645 closed

[2017-12-05 21:30] newhouse commented on #645
understood...thanks!

[2017-12-05 21:35] koskimas commented on #640
Something like this is possible with knex

[code]

but unfortunately it's not possible with objection. Even if it was, you would basically need to write the same exact raw query. You probable need to drop down to knex or raw SQL with this one.

[2017-12-05 21:35] #640 closed

[2017-12-05 21:56] newhouse commented on #640
@koskimas thanks for the reply. I was afraid you'd say that...oh well.

On this note, is there any way to utilize the `Post` model a bit to:
1) perform validations on `data`
2) perform any `$beforeInsert` changes on data/`data` (my `Post` model has a `$beforeInsert` hook that adds some stuff like timestamps)
3) dump out something I can use to generate the insert column names and `values()` clauses

[2017-12-06 11:26] Trellian opened #646 "How to handle Enum values?"
Hi,

Can anyone tell me how Enums are/should be handled in Objection.js? I have found nothing in the documentation so far, and only oblique references to it in the Issues? Does anyone have an example I can look at?  How is/would it be handled in the jsonSchema?

Thanks!

[2017-12-06 11:29] koskimas commented on #646
Hi,

Here are the results of 20 seconds of using google:

[JSON schema documentation on enum](http://json-schema.org/latest/json-schema-validation.html#rfc.section.6.1.2)
[knex documentation on enum](http://knexjs.org/#Schema-binary)

You're welcome.

[2017-12-06 11:29] #646 closed

[2017-12-06 11:35] honestserpent opened #647 "Timestamps once again"
I have just started using objection.js and I love it!

However, I have a problem with timestamps. It is not about how to create them. I followed the docs and looked up examples and they are setup properly.

The problem is that I want those fields to be set only by the db, and from none else.

Instead, after the setup I did, I do

[code]

I am able to explicitly set the value. Is there a way to avo

[2017-12-06 12:00] Trellian commented on #646
Thanks @koskimas , I could slap myself!

[2017-12-06 12:30] joaonice opened #648 "Patch validation fail with one of required fields"
Hi,

giving the following model JSON schema:

[code]

If we want to **PATCH** one instance of this model only with the `password` field, we have a validation error because one of the fields (email or username) is required. Patch operations ignores the `required` fields. Shouldn't the `oneOf` required fields be ignored as well?

Thank you!

[2017-12-06 12:58] mattii opened #649 "Default values for extra fields of through-relations"
First of all: thanks for this great library. It's really a pleasure to work with it! ❤️

Now to my question: We use join-tables to define access-levels between users and resources. This join table contains a `scope` field, which defines a user's access level (e.g. `owner`, `editor` etc.). On the resources itself, we define each group of users as separate relations (`owners`, `editors` etc.). This

[2017-12-06 13:10] claudiomramirez opened #650 "Can I create a join relation based on two possible columns?"
Sorry if the title is not to clear but I wasn't sure how to put it simple. I came across a somewhat odd situation where I can have 2 categories, each with its own list of products, but if category number 1 is associated to category number 2, I need to get the list of products associated to both categories.

My tables are somthing like this:

[code]

In my category model, I had this relation define

[2017-12-06 13:19] koskimas commented on #647
You can do this:

[code]

or is there something that prevents you from doing that?

[2017-12-06 13:22] koskimas commented on #648
Ha, I didn't know `required` could be set like that. Are you sure that's a supported syntax? If it is then yes, those should be ignored as well

[2017-12-06 13:32] honestserpent commented on #647
No, I didn't think about that. I'll give it a try and if it works fine i'll close the issue.

Thanks!

[2017-12-06 13:41] koskimas commented on #649
Hi,

awesome to hear objection is working for you 👍

There is no easy way to get this done currently. You could probably hack together something using `mergeContext`, and `$beforeInsert` but that's unreadable for anyone who isn't the original author if that hack 😄

I'd like to make this possible. Your suggestion could work, but I'd like to avoid yet another syntax for `extra` fields. Would `onInse

[2017-12-06 14:07] honestserpent commented on #647
@koskimas ok, so, this works but I think it's kind of a "trick" because it relies on the webserver to set the datetime, when I think that it should be the db itself. Don't you think?

[2017-12-06 14:29] koskimas commented on #647
That's easily doable using `DEFAULT` keyword in the migration for `created_at` . Something like this:

[code]

You need to check the correct syntax for `now()` for your database engine. Autmatic `updated_at` can be achieved using triggers. I don't remember the correct syntax off the top of my head, but google is your friend. Then if you want to make absolutely sure the code never sets those column

[2017-12-06 14:33] koskimas commented on #647
Something like this would work on postgres:

[code]

[code]

You need to use `knex.raw` to create those functions and triggers in a migration file.

[2017-12-06 14:34] joaonice commented on #648
This syntax is supported (example in ajv documentation https://github.com/epoberezkin/ajv#filtering-data)

[2017-12-06 14:46] honestserpent commented on #647
@koskimas Thank you very much.

I have just a question given that you initially proposed a solution which dealt with timestamps in the webapp itself.
From a design point of view, do you think that dealing with created_at and updated_at in the webapp instead of the db is correct?

[2017-12-06 14:49] koskimas commented on #650
That's not possible I'm afraid. Maybe there is some way to get it done using `modify`, but it wouldn't work in all cases. Implementing this would be super invasive and a lot of refactoring would need to be done. This is probably super corner case thing and I don't think it should be added to objection.

You need to create another relation for that. You can however give an alias for the relation wh

[2017-12-06 14:49] #650 closed

[2017-12-06 15:04] koskimas commented on #648
Ok. Thanks for bringing this up. I'll get this fixed in the next patch version.

[2017-12-06 15:07] koskimas commented on #647
I think its better to do it in the database since you can be absolutely sure the value is always updated, but doing it using triggers is a bit clumsy since you need to write raw sql and the code is different for each database. That's why the recipe is to do it in the webapp. There's nothing wrong in that either, and it works just fine. It only fails if you go around objection models and use raw SQ

[2017-12-06 15:09] honestserpent commented on #647
ok. thank you very much, i'm gonna close the issue

[2017-12-06 15:09] #647 closed

[2017-12-06 15:45] claudiomramirez commented on #650
Thanks for the reply. Your propossed solution is kindof what I ended up doing

[2017-12-06 16:30] honestserpent opened #651 "How to add parameter sanitification?"
I have setup my Objection models and I can work fine with them.

I have mapped my models to the DB, but I have a problem sanitizing the input. For instance, I want to trim my _string_ fields in order to remove leading and trailing white spaces.

Something like https://github.com/chriso/validator.js maybe?

How is this possibile? What is the proper way?

[2017-12-06 16:36] mattii commented on #649
Wow, thanks for the quick reply! I totally agree with leaving `extra` as it is and I like the idea of adding it as a separate option to the `through` object. This would totally work for me.

Just let me know if I should review things. Or maybe I can at least help with documentation (BTW: another great part of this project!).

[2017-12-06 16:56] koskimas commented on #651
You can implement the `$parseJson` model hook:

[code]

[2017-12-06 17:06] koskimas commented on #649
Crap, we __do__ need the `through.beforeInsert` also to make `relate` operations work. Well, in your case it simply means moving the `beforeInsert` hook inside the `through` object. No need to defined it two times. I'll add a support for that next.

[2017-12-06 20:10] mattii commented on #649
I like the consistency of `beforeInsert`! 👍
Let me know, when I should test it. And thanks for your help and responsiveness, I highly appreciate that!

[2017-12-06 21:34] koskimas commented on #649
I wrote some tests and it seems to work now. You can test it now using this kind of mapping:

[code]

[2017-12-07 09:55] mattii commented on #649
Awesome! It works! But only without a custom property name (which is totally fine in my case):

[code]

As soon as I use `extra: { customPropertyName: 'scope' }`, it creates this SQL-command:

[code]

[2017-12-07 10:15] koskimas commented on #649
Oh, I thought it would work with the alias, but now that I think about it, this is how it probably should work. The alias (`customPropertyName` in this case) is used when the property is set to the parent object. I think it makes sense that the alias is not used in the "join row model instance".

[2017-12-07 14:10] mattii commented on #649
Yes, makes sense to me. `extra` is probably rather a serialization-setting and we only related it to this new feature because of my first draft.

So from my side it's fine! I just saw that you already updated the docs. Too fast for me 😉

[2017-12-07 17:45] koskimas commented on #649
Haha 😄 I've been meaning to add this feature for a long time but never got around to implementing it. This feature actually closes the issue number 19.

[2017-12-07 18:07] #651 closed

[2017-12-07 22:53] #648 closed

[2017-12-08 10:12] koskimas commented on #599
@drew-r @jordansexton We have two people on this thread and already two different opinions. I think everyone will have their own about this one.

I think its even more inconsistent if `$relatedQuery('foo').insert` adds the result, but no other operation does. Now the reasoning is `add the values whenever we can`. I think the only consistent change is to remove the mutation altogether.

@jordansext

[2017-12-08 20:56] koskimas commented on #649
Implemented in commit d8d6a8c067

[2017-12-08 20:56] #649 closed

[2017-12-08 20:57] koskimas commented on #19
Full support for this is finally implemented in commit d8d6a8c.

[2017-12-08 20:57] #19 closed

[2017-12-08 21:01] koskimas commented on #225
This hasn't attracted any attention during the year it has been open. This is also pretty nasty to implement, so I'm closing this.

[2017-12-08 21:01] #225 closed

[2017-12-08 21:06] jordansexton commented on #599
I agree with you. What about an option (defaulting to falsy) to `$relatedQuery` that performs the current behavior (and could use `$setRelated`/`$appendRelated` under the hood)? This allows 1.0 to break compatibility, but also makes the upgrade quite easy/obvious.

[2017-12-09 20:40] jordansexton commented on #19
@koskimas Question -- in the example for polymorphic relationships, how does a comment get a relation mapping back to a commentable model? This is pseudocode, but is there a way to express this?

[code]

[2017-12-09 23:05] mKurrels opened #652 "I cannot get the express-ts example to work as is"
When I run npm start I get:

../../typings/objection/index.d.ts(6,23): error TS2307: Cannot find module 'knex'.
npm ERR! code ELIFECYCLE
npm ERR! errno 2
npm ERR! objection-example-express-ts@0.7.0 start: `tsc && node lib/app.js`
npm ERR! Exit status 2
npm ERR!
npm ERR! Failed at the objection-example-express-ts@0.7.0 start script.
npm ERR! This is probably not a problem with npm. There is likely

[2017-12-10 08:19] elhigu commented on #652
Sounds like you are missing package `@types/knex`.

[2017-12-10 11:36] koskimas commented on #652
@elhigu Nope, there is something wrong with the example. @mKurrels Thanks for bringing this up. @mceachen Could you take a look what's wrong with the example project when you have time?

[2017-12-10 20:36] mKurrels commented on #652
So as far as I can tell it has something to do with the examples/express-ts folder being inside of the objection folder. There are two different node modules, one in the top level folder and one in the express-ts folder. And the types are in the top level folder. There's some sort of conflict between the two node_modules folders and the typings folder. Not sure what the issue is.

But I was able t

[2017-12-10 21:05] mceachen commented on #652
I can look into this later today.

[2017-12-11 00:28] nullstrike opened #653 "Query builder is not a function - Insert Database"
I'm new to nodejs Development and I currently practicing CRUD operations on my postgresql. I used Objection.js for the ORM and Model making.  I follow some codes from the docs and edit necessary lines but I don't actually get it to success instead it returns this error:

I am following MVC pattern so I seperate the files according to it.

My controller:

    'use strict';
    const Todo = require(

[2017-12-11 07:01] koskimas commented on #653
You should pass a knex instance to the Model.knex function. You are passing the config instead.  The example projects are a good place to start.

[2017-12-11 07:01] #653 closed

[2017-12-11 10:47] honestserpent opened #654 "Querying models' data"
What is the way to implement filtering and search on objection models?

I was expecting something like Model.find(_filters_) where _filters_ would be something like [Loopback ones](http://loopback.io/doc/en/lb3/Querying-data.html#examples).

How do I implement this?

[2017-12-11 10:49] koskimas commented on #654
See any of the examples or the documentation.

[2017-12-11 10:49] #654 closed

[2017-12-11 10:50] honestserpent commented on #654
The only thing I was able to find was explicitly using the knex functions like _where_. But I was wondering if there is any automated thing like that.

Could you tell me which exmaples you are thinking of?

[2017-12-11 10:54] koskimas commented on #654
I meant the [example projects](https://github.com/Vincit/objection.js/tree/master/examples). If you read the first couple of sentences from the readme, you'll learn that the whole idea behind objection is that you basically write SQL using a query builder. You need to understand SQL to use objection. If you want a tool that abstracts away SQL, objection is not the right tool for you.

What do you

[2017-12-11 11:02] honestserpent commented on #654
I do understand SQL and I know that the idea behind objection is to use a query builder. But, for instance, there already are commodity methods available such as `findById` which is essentialy a placeholder for `Model.query().select('*').where('id', id)`

I was wondering if there was a similar method to perform filtering.

For instance, say I have the `/people` endpoint and I want to let the user

[2017-12-11 18:03] mceachen commented on #652
See #655

[2017-12-11 19:11] #652 closed

[2017-12-12 15:35] koskimas commented on #653
@nullstrike  I see you asked the same question again in stackoverflow 😄

This is what I meant:

[code]

[2017-12-13 01:36] jtlapp opened #658 "Mocking models and dependency injection"
What's a decent way to structure code so I can easily mock models? I ultimately want to use the Inversify dependency injection library with Objection. Here's what comes to mind:

1) Establish an interface for each model. (For plain JS, define a duck typing spec in English.)
2) Have the model classes extend Objection.Model and implement their respective interfaces.
3) For each model, establish an i

[2017-12-13 01:50] devinivy commented on #658
Looking at this another way, it's useful to know that,

1. The model's query builder [can be swapped out](http://vincit.github.io/objection.js/#custom-query-builder)
2. Query builders have a [`resolve()`](http://vincit.github.io/objection.js/#resolve) and [`reject()`](http://vincit.github.io/objection.js/#reject) methods to simulate database results.

[2017-12-13 03:24] jtlapp commented on #658
That looks like an awesome way to stub the database and test model logic. Thanks for pointing out those methods. It might be hard to get it to behave as expected, unless the test can isolate each query within the model. I would still like to stub the models though.

[2017-12-13 07:13] koskimas commented on #658
Every query eventually calls the static `Model.query()` method to execute the query. You can mock that method to return anything you want. That way you can mock eager queries and not just individual queries.

Having said that, I wouldn't mock database queries. Most of the time servers do very little besides database queries and mocking them out doesn't test anything useful. Your application may be

[2017-12-13 07:21] koskimas commented on #19
@jordansexton Unfortunately that's not possible. It would be a massive pain to get working with eager queries, graph inserts etc. What I implemented isn't actually a support for polymorphic associations, but a feature that accidentally makes most of it possible.

[2017-12-13 08:14] jordansexton commented on #19
Ah, okay. That makes sense, thanks for the explanation.

[2017-12-13 08:24] VladShcherbin opened #659 "Return single item after deleting single item"
Same as https://github.com/Vincit/objection.js/issues/423, but for `delete`:

[code]

Currently, this returns an array, even if I use `first` in the first query. It would be great to return a single item when `first` was used.

[2017-12-13 10:29] koskimas commented on #659
I'd merge a PR for this.

[2017-12-13 10:49] VladShcherbin commented on #659
@koskimas sure, I can give it a shot next week.

[2017-12-13 12:59] jeffijoe commented on #273
I think I have got the same request, albeit for a different reason.

I use [Awilix](https://github.com/jeffijoe/awilix) to manage my Knex connection which is especially useful when testing in watch-mode, as each tests instantiates a server and Knex connection, and tears it down as well.

The knex connection is injected to my repositories which would use Objection for querying, but I need a way to

[2017-12-13 21:29] seeden opened #662 "models and transactions | question"
Hi, first of all thanks for this library. I used bookshelf and it was nightmare.
Anyway I have worked with models and transactions little bit different and therefore I am trying to do same thing with objections as well. I am not sure if it is OK and therefore I am here :)
Here is what I am trying to add

1. I am registering all models because I would like to get any model in any function **without

[2017-12-13 21:54] koskimas commented on #662
I don't know what `$pushModels` and `$popModels` do, but you do realize that there if you call `objection.transaction` twice there is absolutely no quarantee that the first call's callback gets called first. I hope`$pushModels` doesn't modify the shared model constructor. Also there is no guarantee which transaction takes how much time, so `$popModels` calls an happen in any order, not necessarily

[2017-12-13 21:59] koskimas commented on #662
Other than that, this seems like an interesting approach! Can be very useful if you write alot of your code in model methods.

[2017-12-13 22:00] #658 closed

[2017-12-13 23:15] seeden commented on #662
Thank you @koskimas for fast response.
Yes all my logic is in the models. This was the main reason why I did it in this way.
Order is guaranteed  because I am waiting for response with "await". If you are in the transaction you are able to create only nested transaction.

All models are extended when you use transaction (it is same like bindTransaction, I am using own extend method from models plu

[2017-12-14 01:00] newhouse opened #663 "Inconsistent type of 'date-time' Model properties on instances"
So I was writing/running some tests today and I was seeing some strange, inconsistent behavior. My app is a single-page app, so it makes a sort of "initialize" API call to start things off. This call does the following:
- checks the cache for the necessary data for the requesting User
  - If it's found, `user` gets is value by being parsed something like `const user = User.fromJson(dataFromCache);

[2017-12-14 10:28] koskimas commented on #663
Objection does no type conversions whatsoever. Neither does knex. It's the db driver that does that. With postgres you can use pg-types library to change this behaviour. You can also implement the $fromDatabaseJson to make the conversion.

[2017-12-14 10:28] #663 closed

[2017-12-14 10:57] koskimas commented on #663
[code]

[2017-12-14 11:00] koskimas commented on #663
Or with pg-types:

[code]

[2017-12-14 11:31] koskimas commented on #663
Actually, this is all you need in `$parseDatabaseJson`

[code]

[2017-12-14 11:57] #662 closed

[2017-12-14 16:15] newhouse commented on #663
Thanks, @koskimas and thanks for the suggestions!

Since I may go bring this up over at `pg`, is there any insight you can provide based on my examples and your knowledge of what's going on under the hood query-wise that might point to specific things that bring out the different behaviors?

For example:
Why might a graph insert produce a parent with a `Date`, while its children have `string` type

[2017-12-14 16:35] newhouse commented on #663
Oh, nevermind, I think I understand it a bit more and it's still something that's definitely in `pg` land, and isn't a bug there, either. It's simply a side-effect of `pg`s "expected" behavior combined with particular things that Objection/knex do/don't do in each scenario (namely using the value returned from the DB vs the value provided by the User/code), right?

[2017-12-14 16:50] jtlapp commented on #658
Great, thanks. I'm playing with my options now. I'm having a bit of a struggling architecting the types, but will share what I settle on. Complicating factors:

- Not all table rows should be exposed outside the model or model service implementation (e.g. password hash, password salt, session hash, implementation decision to store multiple values together within a single JSON column). Models don't

[2017-12-14 18:10] jtlapp opened #664 "Should the typings include AjvValidator?"
I'm using Typescript with the AjvValidator in a custom query builder. I noticed that the type definitions don't include `Objection.AjvValidator`. Is that intentional? If so, it's easy enough to add it locally.

I realize custom query builders are currently broken with Typescript (#319), but I'm hoping to offer a fix for that. (I'm porting working JS code.)

[2017-12-14 19:32] jtlapp commented on #664
After resolving this, I believe that the type does belong in `objection.js`. The signature is specific to this module, requiring people to reverse engineer the code to get it right.

Here's a fix. I'll shortly be working on a fix for #319 and can send a PR for everything at once.

[code]

[2017-12-15 00:03] jtlapp commented on #664
I've also got a fix for adding the `createValidationError()` tyepdef. Looks like I'll be collecting mods until I've got everything ported.

[2017-12-15 07:58] koskimas commented on #664
AjvValidator is a class, not a function that returns an instance of `Ajv`.

[2017-12-15 12:03] koskimas commented on #664
To answer the original question, yes the typings should include `AjvValidator`. My previous comment was about your suggested typings.

[2017-12-15 12:57] jtlapp commented on #664
Got it. I see what the problem is. The typedef for `Model.createValidator()` is missing too, so Typescript inferred its return value. My code never calls the created object, so everything works.

Okay, looks like I've got more to add thanks.

BTW, the `new` keyword in a typedef defines a constructor rather than a function per se, so the above code effectively includes the Ajv class without redefin

[2017-12-15 13:52] koskimas commented on #664
@jtlapp A constructor that returns the wrong type though. `new AjvValidator()` returns an instance of `AjvValidator` which is a wrapper around `ajv.Avj`. `AjvValidator` doesn't inherit `ajv.Ajv`.

[2017-12-16 11:16] koskimas commented on #501
There's now [a db-errors plugin for objection](https://github.com/Vincit/objection-db-errors). I thought we could first try out the library as a plugin and if it turns out useful, we can add it to objection or even try to get it merged into knex.

[2017-12-16 20:28] koskimas commented on #663
I'm pretty sure `pg` always returns dates as `Date` instances, but you can send pretty much whatever you like to it and it will convert it correctly. If you inserts stuff using objection, it doesn't fetch the data from `pg` (except for primary key) and simply returns the object you inserted. Maybe that causes the inconsistent types? You can use `returning('*')` or `***AndFetch` variants of the que

[2017-12-17 23:52] seeden opened #665 "custom throw in model constructor"
I am not able to see my error from constructor of the model.

I see just your error:
Model.relationMappings.role: join.from must have format TableName.columnName. For example "SomeTable.id" or in case of composite key ["SomeTable.a", "SomeTable.b"].

It is because you are catching everything in the objection/lib/relations/Relation.js  function createRelationProperty

[2017-12-18 01:58] jtlapp commented on #664
Yeah, got all that. Sorry, I quit when the first thing I threw in satisfied Typescript, not realizing that satisfying Typescript didn't mean the types were right yet.

Okay, I'm going to PR new typings for just the validation stuff. Most of it was missing, but a bit of what was there was also wrong. Plus I may have found a bug in AjvValidator. Will explain below...

[2017-12-18 02:38] jtlapp commented on #664
Okay, a number of issues arose for possible discussion during this lucky-numbered PR:

1) The methods of Validator share a `ctx` of `{}`. Rather than create a named type for this, I just called it an `object`, because it only appears within the new type ValidatorArgs.
2) `$beforeValidate()` was typed to return JsonSchema. Objection does not carry forward the return value, so I changed this to `voi

[2017-12-18 02:45] jtlapp commented on #664
Oh, another item:

7) AjvValidator has more methods than just those that Validator exposes. None are prefixed with an underscore, so I don't know whether which are intended to be externally exposed, which not. I only added the constructor to the AjvValidator subclass.

[2017-12-18 03:09] jtlapp commented on #664
8) The docs illustrate returning a value from `$beforeValidate()`. Either the docs are wrong or the code is wrong. The code does not heed a return value.
9) The docs illustrate returning a value from the Validator `beforeValidate()` and `afterValidate()` methods. Again, the code ignores the return values.

[2017-12-18 07:09] koskimas commented on #665
How could that be improved while keeping the current functionality? Why are you throwing from a constructor?

[2017-12-18 08:44] koskimas commented on #665
The code path that executes `createRelationProperty` is only ran once per relation the first time you use the model. The problem is that objection cannot initialise the relation because your invalid constructor throws every time when used inside objection.

The error message you see is correct for the errors thrown from `createRelationProperty` 99% of the time. It's not more specific because I had

[2017-12-18 08:45] #665 closed

[2017-12-18 10:26] seeden commented on #665
My models need to have static property modelName and jsonSchema as well.
I added this check in the constructor of the "Base" class because I am doing a big refactor from bookshelf to objection. (You are doing same check for relations there as well) I was confused because I saw bad relation but it was caused by my throw.

[code]

[2017-12-18 11:05] koskimas commented on #665
Maybe you override `static fromJson` and move that check there?

[2017-12-18 14:53] brianphillips commented on #319
@mceachen did you ever come back to looking at this and if so, have any success?

[2017-12-18 15:32] mceachen commented on #319
I didn't. If you have time, I'd be happy to help review a PR though.

[2017-12-18 17:09] seeden opened #667 "bindKnex will create subClass without custom static methods and getters"
I am using multi tenancy http://vincit.github.io/objection.js/#multi-tenancy.
When I do

Test.js
[code]

Request.js
[code]

I will get undefined modelName. It is not working for static functions as well.

[2017-12-18 17:16] seeden commented on #667
Can I use my own extending of the class with combination Model.knex method?

[2017-12-18 17:23] koskimas commented on #667
It does work in objection's tests and it also works in the following runkit:

https://runkit.com/koskimas/bindknextest

[2017-12-18 17:23] #667 closed

[2017-12-18 17:24] koskimas commented on #667
`bindKnex` does nothing magical. It uses native inheritance to inherit a subclass.

[2017-12-18 17:26] seeden commented on #667
Sorry for that. I have started to use Babel 7 maybe it is the reason. I am going to investigate it.
Standard inherit is working for me as well with knex method.

[2017-12-18 17:31] koskimas commented on #667
No problem. Let me know if you find out what's causing that. If it's babel 7, other people will probably have the same problem.

[2017-12-18 20:39] jtlapp commented on #319
I need this fix as well and have been looking over how to do it. I have a proposal, but these typedefs are pretty complex, and I don't know if it'll work or how much reworking it requires.

Right now, the model class T and the query builder class QueryBuilder are both assigned via either `query()` or `$query()`.

What if we instead assign them via Model's static QueryBuilder getter? That way the t

[2017-12-18 21:11] jtlapp commented on #319
This is not a long-term solution, or a pretty one, but it does work. I'm sharing it in case it triggers better ideas in others.

[code]

[code]

Surprisingly, no default generic is required to call `query()` or `$query()` using QueryBuilder. This works fine with the above typings:

[code]

[2017-12-18 21:12] mceachen commented on #319
I think it'd help to get example code (in a branch or codepen or whatever)
that you guys want to see, and we can go from there, perhaps? Heck, maybe a
Google doc?

On Dec 18, 2017 12:39 PM, "Joe Lapp" <notifications@github.com> wrote:

[2017-12-18 21:23] jtlapp commented on #319
Okay, I'll condense my project for us to use. I was meaning to share it in the end anyway, as I think I've found a pretty nice way to encapsulate Objection in Typescript for dependency injection. I'll post it as an example in a new GitHub repository. It'll take me a few to make it presentable.

Question: So far I've found it easiest to play with the ambient objection typings locally in my own proj

[2017-12-18 21:36] jtlapp commented on #319
Or maybe I should post it to my local objection repo as a `koa-ts-di` example, for possible PR later.

[2017-12-19 02:23] jtlapp commented on #235
Hey @koskimas, I noticed that `mergeContext()` always merges into a *new clone* of the current user context. Why doesn't it just merge into the existing user context, or better yet, just let the user directly edit the user context? I just want to double-check that creating a new object for each context change is necessary.

[2017-12-19 08:38] jtlapp commented on #319
I opted to create a [working Typescript version](https://github.com/jtlapp/temp-qb) of @koskimas's custom QueryBuilder found in `examples/plugin`. The README should get you started.

It was quite a bear to carry forward the generality of the plugin, but I finally succeeded.

[2017-12-19 09:12] jtlapp opened #668 "Getting static typing on custom QueryContext properties"
Barring a Typescript trick that I'm unaware of, the [typedef for QueryContext](https://github.com/Vincit/objection.js/blob/master/typings/objection/index.d.ts#L154) doesn't allow apps to benefit from static type checking on custom app properties.

I'd rather be forced to reopen the interface to add the properties I need. Maybe there's a good reason it's done this way and not some other?

On the ot

[2017-12-19 14:05] jtlapp commented on #625
If you're after a fully-typed plugin, I happened to do this last night in this [temporary experimental package](https://github.com/jtlapp/temp-qb), porting `examples/plugin`. I haven't thought about making it more generic.

[2017-12-19 15:31] honestserpent opened #669 "modelClass is not a subclass of Model or a file path to a module that exports one"
I am having issue inserting an element that has a foreign key.

I have a model `Person` and a table `Nickname`. A person can have multiple nicknames and a nickname is owned by one person only. Both models inherit from a common `BaseModel` class which is there to managa timestamps (`updated_at` and `created_at`). Their relationMappngs are defined as follows:

**person.js**
[code]

**nickname.js**
[

[2017-12-19 16:41] koskimas commented on #669
You probably have a circular dependecy (aka. require loop). Person requires Nickname and Nickname requires person. That cannot work (and it is not an objection.js issue, but an issue in the synchronous way commonjs modules work). One way to solve this is to move other require to the `relationMappings` getter that gets called lazily.

[code]

[2017-12-19 16:41] #669 closed

[2017-12-20 11:27] joaonice commented on #648
@koskimas, any plans for releasing `0.9.3` ?

[2017-12-20 13:12] koskimas opened #670 "Convert all examples in docs to use async/await"

[2017-12-20 13:14] koskimas commented on #599
@jordansexton @drew-r What if I add two booleans:

[code]

and leave them to `true` by default now?

[2017-12-20 14:38] honestserpent commented on #669
@koskimas thank you, that solves the problem.

Could you please explain me what this means, or point me to some resources I can study to understand this issue better?

[2017-12-20 22:52] jordansexton commented on #599
Yeah, no opposition here. While I think an option arg/context prop to locally override when calling `$relatedQuery` might be useful, it also seems like this global option covers most cases easily.

[2017-12-21 09:19] koskimas commented on #599
@jordansexton There is no mechanism for passing options to relatedQuery and I don't want to add a third argument for it. A separate options method would be no less code than using the new setRelated or appendRelated methods.

[2017-12-21 09:20] jordansexton commented on #599
I figured as much, and that makes sense.

[2017-12-21 11:13] #599 closed

[2017-12-21 11:30] koskimas commented on #648
@joaonice I released 0.9.3 today

[2017-12-21 11:31] joaonice commented on #648
@koskimas thanks!

[2017-12-21 11:33] koskimas commented on #649
@mattii I just released 0.9.3 with this feature

[2017-12-21 19:56] fer22f opened #671 "MSSQL: joinEager within transactions fails because there is a request in progress"
Hello! Recently, knex moved to use mssql v4 which dropped support for queueing queries within transactions (and to me, and it honestly looks like they aren't willing to recreate it, either). This change means that you should perform **only** sequential operations within them. Now, onto the issue with Objection.js:

https://github.com/Vincit/objection.js/blob/5da8def0f8e7899127820ffb4d1f0c11d139576

[2017-12-21 21:07] koskimas commented on #671
That's a really bizarre decision from mssql folks. It's 100% obviously a bug and they don't want to fix it? Super weird.

I'm not sure I want to remove all parallelism from objection because one db driver is buggy. There are Promise.all calls all over the place.

You really need to fix this in mssql.

[2017-12-21 21:13] koskimas commented on #671
Maybe we could make the parallelism configurable? Maybe a `Model.concurrency = 1` config that would default to 1 for mssql. Then we could swap all `Promise.all`s to `Promise.map(func, { concurrency: Model.concurrency })`

[2017-12-21 21:15] koskimas commented on #671
But the first thing should be to try to convince mssql contributors to realise their mistake. I don't believe there is any good reason for that decision. All other database drivers allow that. Could this possibly be handled in knex? @elhigu What do you think?

[2017-12-21 21:20] fer22f commented on #671
Configurable parallelism could work, as well as knex handling it instead.

I find it a weird backwards decision from the mssql devs (the author stated that the internal queue was deemed too confusing in https://github.com/patriksimek/node-mssql/issues/412#issuecomment-279710428), I could try making a PR to their project to reimplement the queue, because the change broke a lot of things in my end (

[2017-12-22 09:54] mattii commented on #649
Fantastic! Thank you, @koskimas!

[2017-12-22 10:47] koskimas opened #672 "Cannot relate HasManyRelation using insertGraph or upsertGraph"
`upsertGraph` uses `insertGraph` and expects it to do the job, but `insertGraph` cannot relate a `HasManyRelation` because it is an update operation, not an insert. `insertGraph` only inserts stuff.

`insertGraph` should throw an exception in this case and advice the user to use `upsertGraph` instead. `upsertGraph` should just work.

Thank you @Allam76 for bringing this to our attention!

Reproduc

[2017-12-22 12:13] igor-savin-ht opened #673 "Model.fromJson is not applying default values even if ajv is configured with 'useDefault'"
Objection.js validation doesn't seem to respect 'default' schema field even if ajv validator is specifically configured with 'useDefaults: true'.

If this is not a conscious decision but an oversight, I can provide a PR that would resolve this issue (pointers towards what part of the code would be most appropriate for the change are most welcome, though)

[2017-12-22 12:17] igor-savin-ht commented on #673
Actually it seems to be working as intended, it's just that ajv only triggers default on undefined values, not on nulls.

[2017-12-22 12:17] #673 closed

[2017-12-22 15:48] TsvetomirGeorgiev opened #674 "Missing typescript definitions the findByIds query building method."
Typescript definition for [findByIds](http://vincit.github.io/objection.js/#findbyids) seem to be missing.

[2017-12-22 15:57] slim-hmidi opened #675 "no database connection available for a query. You need to bind the model class or the query to a knex instance."
When I wrote this code:
[code]
I got this error:
[code]
I found a similar issue #642 , but I don't understand how to fix the problem.

[2017-12-22 17:43] koskimas commented on #675
You have not created a knex instance at all. You need an instance of knex and you need to pass that to `Model.knex` function or alternatively pass the knex instance to each query separately. Check out the example projects.

[2017-12-22 17:43] #675 closed

[2017-12-22 17:45] koskimas commented on #675
Here is some relevant documentation

http://vincit.github.io/objection.js/#knex
http://vincit.github.io/objection.js/#database-passing-pattern
http://vincit.github.io/objection.js/#bindknex

[2017-12-22 17:46] koskimas commented on #674
Thanks, I'll add that ASAP.

[2017-12-22 17:47] slim-hmidi commented on #675
@koskimas  in a file app.js I have:
[code]
knexfile.js:
[code]

[2017-12-22 17:48] koskimas commented on #669
@honestserpent This is a basic programming thing and not related to objection or databases. Just google circular dependency, or play around with node. stackoverflow is a better place for generic programming advice.

[2017-12-22 17:51] koskimas commented on #675
That should work. Without seeing the structure of your project, I cannot help.

[2017-12-22 17:52] koskimas commented on #675
For example, where are you calling the `data` function? Are you sure `Model.knex(knex)` has been called before you call `data()`?

[2017-12-22 17:59] slim-hmidi commented on #675
[code]
This is the structure of the project.

[2017-12-22 18:02] slim-hmidi commented on #675
@koskimas  I called it in the same file `data.js` to create an Observable.

[2017-12-22 18:28] koskimas commented on #675
Oh my fucking god! Why would the file structure matter? You are killing me here. Are you trolling?

[2017-12-23 09:37] dawadam opened #676 "Why knex is not on dependencies of package.json ?"
All is in the title

[2017-12-23 10:24] koskimas commented on #676
Most of the people that use objection also use knex for other purposes, like migrations and testing. You would still need to add `knex` to your project's package.json. If objection required knex, you would easily end up with two (or more) versions of knex that would cause all kinds of problems. For example `instanceof` would not work and we need it to detect various knex types internally.

[2017-12-23 10:24] #676 closed

[2017-12-23 12:08] #672 closed

[2017-12-23 13:22] Allam76 commented on #672
Ok. I will test now.

[2017-12-23 13:51] Allam76 commented on #672
It works now in the example model. Thank you for fixing this so quickly!!

[2017-12-23 16:10] koskimas commented on #671
@fer22f I added `Model.concurrency` config. It should work for you for most use cases, but there are some corner cases where I could not use it. You will still run into trouble if you create queries in model hooks inside transactions.

You should now be able to do something like this:

[code]

and then inherit your models from `BaseModel`.

[2017-12-23 17:19] koskimas commented on #388
I think this can be closed now that most people have migrated to objection 0.7.

[2017-12-23 17:19] #388 closed

[2017-12-23 17:21] koskimas commented on #478
After trying to implement this in objection, I think the best way to achieve this is by also adding your relations to `jsonSchema`. It will lead to some duplicate validation in some cases, but it's still the cleanest way to get this done since Ajv can already give those nested errors. Adding the logic to objection is really difficult.

[2017-12-23 17:21] #478 closed

[2017-12-23 17:24] koskimas commented on #671
c17054289f should fix this for the most part, but I'd still urge you to get mssql or knex developers to fix this.

[2017-12-23 17:24] #671 closed

[2017-12-23 17:33] #674 closed

[2017-12-23 17:42] VladShcherbin commented on #478
@koskimas yeah, I ended up by moving validation away from model level and never had any issues :)

[2017-12-23 19:53] TsvetomirGeorgiev commented on #674
Thank you for the fast resolution! Happy holidays :)

[2017-12-23 22:18] koskimas commented on #448
I'm going to say no to this for now.

To create async validation keywords with ajv, you need to

1. Setup a custom `AjvValidator`
2. Define the async keyword using `addKeyword` method.

You can just as easily add the async validation stuff to `$beforeInsert` and `$beforeUpdate` hooks.

The other reason is that there really is no clean way to support async validation with the way objection validate

[2017-12-23 22:18] #448 closed

[2017-12-23 22:21] koskimas commented on #427
I don't see this in line with objection's philosophy of avoiding magic. I'll close this for now. I'll revisit if someone requests this again.

[2017-12-23 22:21] #427 closed

[2017-12-24 01:59] fer22f commented on #671
Thank you! I appreciate the fast response time from the team mantaining this project, transitioning to it from raw knex has been awesome, while bookshelf won't cut it with their restricted primary key model.

[2017-12-24 12:49] #627 closed

[2017-12-24 13:04] lehni commented on #627
🎉  Thank you for taking care of this. Also nice to see that `asArray()` made it in : )

[2017-12-24 13:44] koskimas commented on #664
@jtlapp
1. [Objection __does__ use the return value of $beforeValidate](https://github.com/Vincit/objection.js/blob/master/lib/model/AjvValidator.js#L51)
4. $afterValidate is called from the base class, and thus inherited
5. What? `$validate()` uses the validator created using `createValidator`.
8. Same as 1
9. The docs show that a value should be returned for future compatibility. Currently the r

[2017-12-24 14:00] jtlapp commented on #664
I stepped through the debugger. `$beforeValidate`'s value was ignored and `$afterValidate` was not called when `createValidate` returned a `new Objection.AjvValidator`.

Checking now, I see that I was using origin/master for the tests, not the recent pub.

Re 5: When I override `$validate`, `createValidator` does not get called. That's an obvious consequence if `$validate` is calling `createVaidat

[2017-12-24 14:02] koskimas commented on #664
`$beforeValidate`s return value was always used. There are tests for it and I never commit anything to master without all tests passing.

[2017-12-24 14:09] koskimas commented on #664
Same goes with `$afterValidate` being called. It does work, and has always worked.

https://github.com/Vincit/objection.js/blob/master/tests/unit/model/Model.js#L208
https://github.com/Vincit/objection.js/blob/master/tests/unit/model/Model.js#L239

These are all called by `Validator` or its subclasses. If you implement a custom validator, you need to take care of them being called.

[2017-12-24 14:11] jtlapp commented on #664
Okay. Gimme time to check things. I spent most of a day on this last time, coming up with typings.

[2017-12-24 14:52] jtlapp commented on #664
Ah poo on `$beforeValidate`. I see why I was mistaken. It's AjvValidator's `beforeValidate` who's return value is ignored (as expected).

However, when returning AjvValidator, VSCode will not run my `$afterValidate` override on a Model. It never gets stepped into, can't breakpoint within it.

And yet the code suggests that it should be called. Still looking into this.

[2017-12-24 15:04] jtlapp commented on #664
Aaaaand... I'm missing a `super.$afterValidate` call from a descendant model.

Cancel items (2), (4), and (8). I'm so sorry to waste your time.

With (9), it's only `$afterValidate` that doesn't return a value.

[2017-12-24 20:38] jtlapp commented on #668
I figured out how to get app-specific static type checking on the Validator context, but it required taking all the Objection types out of the the `Objection` namespace and exporting them directly. See [discussion here](https://github.com/Vincit/objection.js/pull/666#discussion_r158608577). The technique should work with QueryContext as well.

[2017-12-24 23:13] jtlapp commented on #668
I now have this working with the typings as extended for QueryBuilder in [temp-qb](https://github.com/jtlapp/temp-qb). I opened up QueryContext as follows:

[code]

It's not ideal, as static type checking only occurs when the dev remembers to include this extension and when the dev happens to use the right property name, but it's better than nothing.

@mceachen, you'll want to update to the the la

[2017-12-24 23:13] #668 closed

[2017-12-24 23:24] jtlapp commented on #664
Looks like our discussion disappeared after my last PR bringing things current. I opted to do the following to get static type checking on declared properties and pojo behavior otherwise:

[code]

ValidatorContext can be opened to have specific properties constrained, leaving all non-named properties remain unconstrained:

[code]

The latest also adds the JsconSchema return to back to `$beforeVali

[2017-12-28 19:50] angela-mylo opened #678 "How to use insertGraph (or upsert) with HasOneRelation?"
I can't seem to figure out how to make ```insertGraph``` work with a ```HasOneRelation```.  I am looking for a single method that can handle both creating a new child, or relating an existing child.

**Models:**
[code]

**Relate an existing record:**
[code]
No errors returned.  A new address record is inserted into the database (not desired), and the addressId on the person table remains null.

If

[2017-12-28 21:56] koskimas commented on #678
This should be fixed now in objection 0.9.4. Relating `HasManyRelation` or `HasOneRelation` is not possible using `insertGraph` and should now throw an exception when you try to do that. `upsertGraph` should work though.

[2017-12-29 06:03] koskimas commented on #678
And actually you need to use BelongsToOneRelation in your example (because the foreigh key is in the owner model). With that everything should work.

[2017-12-29 06:03] #678 closed

[2017-12-29 14:23] slim-hmidi opened #680 "pool connection full"
**Knex version:** 0.13.0
**objection:** 0.8.9
**OS:** 17.04

I have a knexfile.js:
[code]

I want to save data from file to postgres db:
[code]
data.json (for test):
[code]
I have a real file `data.json` which contains 3000 objects to save into a postgresql database. When I execute the code I got this error:
[code]
Does this error is due to the parallel connection to database ? How can I fix that?

[2017-12-29 14:41] elhigu commented on #680
Does the code above work? Have you been able to run it and checked that it does the thing that it should do?

Could you provide complete single test file, which creates necessary table and tries to insert the data? Reading code it still looks like there are some errors.

[2017-12-29 15:08] koskimas commented on #680
There's now [this file](https://github.com/Vincit/objection.js/blob/master/reproduction-template.js) in the root of the repo that can be used for reproductions.

[2017-12-30 13:18] slim-hmidi commented on #680
@elhigu This is the reproduction example:
[code]
I tested with sqlite however I used postgres in dev and I'm trying to insert 3000 users. With this example it's able to insert a user.

[2017-12-30 14:33] koskimas commented on #680
Sooo.. this is a reproduction that proves the code works? How is inserting 3000 items any different than inserting one? Use a for-loop or Promise.all.

[2017-12-30 14:33] #680 closed

[2017-12-30 14:59] slim-hmidi opened #681 "knex: timeout connection"
Knex version: 0.13.0
objection: 0.8.9
OS: 17.04

I have a knexfile.js:
[code]
[code]
The reproduction file:
[code]
I have a problem when saving a huge amount of data into the database and I got this error:

[code]

Does this due to parallel connections to database.
I'm not asking how to save the data into the database however I'm asking about the problem when there are many connections to the data

[2017-12-30 16:01] koskimas commented on #681
The point of a reproduction is to _reproduce_ the problem. This one doesn't.

 I'm pretty this is some kind of user error, but if that really does happen, the bug is not in objection but in knex or pg. Objection uses knex which handles pooling etc.

Anyways you shouldn't run 3000 database queries in parallel. You should run them in batches of some sensible size. And actually with postgres, you can

[2017-12-30 16:01] #681 closed

[2017-12-30 16:06] koskimas commented on #681
I just ran this test on all supported databases and it works just fine:

[code]

[2017-12-30 16:26] koskimas commented on #681
Actually what I think is happening is that your inserts simply take so much time that some of the queries that are waiting for a connection from the pool simply time out. The solution is to not run all the inserts in parallel.

This is one way to do that:

[code]

[2017-12-30 16:26] newhouse commented on #681
FWIW, I have experienced this as well when setting up some test scenarios such as enforcing limits where I need to set up the DB with "many thousands" of items before getting started. I investigated it for a while and wasn't able to 100% determine the culprit, so my memory is a little bit rusty on the subject, but it seemed to come out when there were many rows using graphInsert that I'd "queued"

[2017-12-30 23:35] seeden opened #682 "get count from relatedQuery | question"
Is there any simpler option how to get count number from relatedQuery?
Currently I am doing this

[code]

I have tried next code but it is not working without ```'*'```. With ```'*'``` it will returns array ```[{ count: '22' }]```.
[code]

[2017-12-31 00:10] ferrao opened #683 "relate might insert duplicate rows or cause constraint violations in the join table"
I have a many-to-many association between two models. Calling `relate` populates the join table properly, but if I call it a second time, it will attempt to insert a duplicate row. This might cause a duplicate or a constraint violation, depending on the db setup.

Is this intended behavior and do I need to check if the relationship already exists before calling relate, or is it a bug?

[2017-12-31 05:28] koskimas commented on #683
Totally intended for multiple reasons.

1. Sometimes duplicate rows are actually needed
2. Checking for duplicates would require a separate query and to make the operation atomic, a transaction would need to be enforced.

The best way to deal with this is a unique constraint and catching the violation error.

[2017-12-31 05:28] #683 closed

[2017-12-31 10:05] seeden opened #684 "JoinEagerAlgorithm is not working"
When I use next code
[code]

It will produce next SQL query (it is correct)
[code]

But after query I can see next error
[code]

[2017-12-31 10:23] seeden commented on #684
After little bit of debugging I can see that encParentPath is empty

[code]

[2017-12-31 10:31] koskimas commented on #684
It does work. There are hundreds of tests that make sure of it. Could you provide a reproduction? You can use the reproduction-template.js in the repo root.

[2017-12-31 10:42] seeden commented on #684
First of all I will try to fix it by myself. Maybe I missed something.

[2017-12-31 11:46] koskimas commented on #684
That's one of the reasons I always ask for a reproduction: trying to reproduce the problem from the scratch is a great way to find the error if there is one. If the problem ends up being an objection bug, the reproduction makes my life a lot easier.

[2017-12-31 11:54] koskimas commented on #682
Unfortunately there's no easier way to do that at the moment. `count('whatEver')` simply adds a `SELECT COUNT(whatEver) as count` to the query.

[2017-12-31 11:54] #682 closed

[2017-12-31 12:02] ferrao commented on #683
Thanks for the prompt reply @koskimas! Happy new year to the Objection team!

[2017-12-31 12:04] koskimas commented on #684
@seeden What are you using to do the `snake_case` --> `camelCase` conversion?

[2017-12-31 16:44] ferrao commented on #683
@koskimas, just realized one thing regarding this issue. It is quite hard to catch the violation error in a way that is agnostic to the specific database being used. SQLITE will throw an error with `error.errno === 19`, Postgres something with `error.code === 23505`, etc.

I wanted to make this code solid enough to work across the different DB engines supported by knex, but without breaking every

[2017-12-31 16:50] seeden commented on #684
I have used your knexSnakeCaseMappers for knex.

[2017-12-31 16:51] ferrao commented on #683
Just came across [objection-db-errors](https://github.com/Vincit/objection-db-errors), perhaps it is what I am looking for, will have a look :)

[2018-01-01 21:44] seeden commented on #684
I am trying to create minimal example right now.
I found that you are trying to get information about schema but with bad camelCase

[code]

as you can see table name is quizCoverPhotoTest but in the table is quizCoverPhotoTest

[2018-01-01 21:53] seeden commented on #684
Here is my reproduction

[code]

[2018-01-01 22:10] seeden commented on #682
I saw one solution for this case in another library. They have function scalar() in query builder. It will take first item from array and first item in the object.

You are able to change next code:
[code]

with
[code]

I am not sure if you are intristed. Maybe it can be nice addon to current API

[2018-01-01 22:40] seeden commented on #684
It looks like knex.columnInfo is not using wrapIdentifier or postProcessResponse. :(

[2018-01-01 22:49] seeden commented on #684
I have tried to add snakeCase into the knex and it is working fine now. But it is just local solution

[2018-01-01 23:51] jtlapp opened #690 "Errors running express-ts example"
Running [`examples/express-ts/example-requests.sh`](https://github.com/Vincit/objection.js/blob/master/examples/express-ts/example-requests.sh) on the 24-Dec-2017 code base gives me the following two errors. All other curls run fine. I haven't tried an earlier build.

[code]

[code]

My knex versions:
[code]

My apologies for not having the confidence to trouble-shoot this. I'm a long-time back-en

[2018-01-02 11:03] slim-hmidi commented on #681
@koskimas  the solution of inserting data using this example :
[code]
will take so much time when I have a thousands of data to insert. I don't think this will resolve the issue.

[2018-01-02 11:21] elhigu commented on #681
@slim-hmidi if it is properly coded it shouldn't take more than minute to run... inserting > 1000 rows per second should not be a problem even for sqlite.

Maybe your bottle neck is somewhere else. Here is runkit example, which inserts 50k lines in a 300 milliseconds with batch size of 100 rows https://runkit.com/embed/cfwsdby24ftb

[2018-01-02 12:35] koskimas commented on #684
@seeden Did you open an issue in knex github? This should be fixed there.

[2018-01-02 12:51] koskimas commented on #684
Actually this is pretty much impossible to fix in objection without copying the knex code to objection for all dialects.

[2018-01-02 16:01] koskimas commented on #684
@seeden https://github.com/tgriesser/knex/pull/2405

[2018-01-02 17:45] koskimas commented on #690
Confirmed. Also happens with the master version. Unfortunately everything typescript related has been contributed by the community and I cannot help you with that. Maybe @mceachen can take a look at this?

[2018-01-02 18:29] seeden commented on #684
thanks @koskimas you rock 👍

[2018-01-02 18:30] seeden commented on #684
I am closing this and waiting for merge in knex

[2018-01-02 18:30] #684 closed

[2018-01-02 18:30] seeden commented on #682
@koskimas what do you think about scalar method?

[2018-01-02 19:07] mceachen commented on #690
Looks like the express-es6 and express-ts directories have drifted. I can successfully run the curl commands from express-ts against a server from the express-es6 directory. Diffing now.

[2018-01-02 19:56] mceachen commented on #690
the query log from the es7 example is as follows:

[code]

the query log from the typescript implementation:

[code]

That last query is bonkers.

[2018-01-02 20:24] mceachen commented on #690
I tried rermoving all fields from the Animal, Movie, and Person classes. The spurious INNER JOIN constraints are still produced.

[2018-01-02 20:49] koskimas commented on #690
Ah, this is once again caused by two knex versions in the project --> `instanceof` doesn't work.

[2018-01-02 20:53] koskimas commented on #690
Anyway, that's a `ReferenceBuilder` instance gone bad. For some reason its type isn't detected and it ends up used as a `where` object.

[2018-01-02 20:56] koskimas commented on #690
Something weird is happening in `convertFunction` function in `ObjectionToKnexConvertingOperation.js` file. I'm suspecting that `isKnexJoinBuilder` is failing for some reason. It could be the two knexes case after all, but I just don't see how.

[2018-01-02 20:58] koskimas commented on #690
It's probably this line in package.json:

[code]

I feel like I've remove that at least twice from there 😄

[2018-01-02 21:02] koskimas commented on #690
Yeah it works if I use

[code]

[2018-01-02 21:06] koskimas commented on #690
Using

[code]

is a bad idea for another reason: the "../../" repo is the master branch and it may be partially broken or have breaking changes. Since there are not automatic tests for the example projects, I only check that they work when I make a new release.

[2018-01-02 21:54] mceachen commented on #690
@koskimas #692 fixes the `../..` and brushes some dust off.

[2018-01-02 23:43] #690 closed

[2018-01-03 01:10] mceachen commented on #636
Will reopen if @hardeep or others offer workarounds.

[2018-01-03 01:10] #636 closed

[2018-01-03 04:55] jtlapp commented on #690
Thank you both for so quickly resolving this! I'll be traveling until Friday, so I'll check things out then.

[2018-01-04 10:20] raadecki opened #693 "Relation's owner is not a subclass of Model"
Hello
I have following model structure:
[code]
In integration tests I want to insert test data to db
[code]
during this operation I'm getting `DataSubjectCategory.relationMappings.dataSubjectCategorySubjectTypes: Relation's owner is not a subclass of Model` error.
I've tried to investigate it by myself and only thing I've found is that `Model` reference that I use for `BaseModel` extension doesn't

[2018-01-04 10:42] koskimas commented on #693
You probably have a circular dependency (a require loop). Reopen this if the problem remains after you fix that.

[2018-01-04 10:42] #693 closed

[2018-01-04 18:04] brianphillips commented on #625
(caveat, I'm still pretty new to Typescript so I'm afraid I can't provide much more than aspirations)

@jtlapp a valiant effort, but in your example, seems like you have to specify type parameters explicitly for both the model and the query builder?

[code]
I was hoping that both could be inferred automatically based on the class being used and it's type information. For instance:

[code]

The exp

[2018-01-04 18:59] jtlapp commented on #625
Oh yes, absolutely. These are just typings to get us started on figuring
out a long term solution for custom QueryBuilders -- that's the whole
purpose of this package.

Even so, if you don't need to use a custom QueryBuilder, you should be able
to ignore all that, use the current typings, and model the rest of this way
of typing a plugin.

(Apologies if this response is wonky. I'm responding via e

[2018-01-05 01:59] mikefowler opened #695 "Getting query options in $beforeUpdate for non-instance queries?"
Is it possible to reference arguments passed to `updateAndFetchById` (for example) inside of a model's `$beforeUpdate` hooks? If not, is there a better way to go about this?

[code]

I am still wrapping my head around Objection/Knex, so I expect the answer may be "just fetch a model and use `.$query` from the instance".

[2018-01-06 09:29] sebbarg opened #698 "Change user supplied values in $beforeValidation"
Say I need to trim user supplied strings before saving them to the database. It needs to happen before the validations are run.

Right now I'm doing it in $beforeValidation (changing the json members) which seems to be working. But I'm wondering if it is the right place to do it?

[2018-01-06 11:33] koskimas commented on #698
$parseJson is a better place for that.

[2018-01-06 11:33] #698 closed

[2018-01-07 04:43] davidchalifoux opened #700 ""queries queries" grammar error in docs"
https://github.com/Vincit/objection.js/blob/cd44d736e5be9ba258e6f6d33999559673494ec5/index.html#L7800

Assuming that this isn't on purpose(and that my lack of sleep isn't betraying me), I'll make a PR to fix this in a bit unless someone beats me to it.

[2018-01-07 06:25] davidchalifoux opened #701 "Using 'page' on a query with eager loading not loading more than one relation"
In the [docs](http://vincit.github.io/objection.js/#eager) it says that using `limit` or `page` on the root query should work, however it's only loading the first relationship(there's 3).

[Here](https://gist.github.com/davidchalifoux/7c0dbf8f904b023fa665651bb0841d34) is a gist of my models. The relationships essentially break down into this:

`Track` belongsTo `User`
`Track` hasMany `Tags` _(thro

[2018-01-07 08:09] jtlapp opened #702 "Typings don't support generic use of ModelClass with strictFunctionTypes"
To configure objection.js via dependency injection, I pass configuration to per-model repositories that encapsulate access to objection.js behind domain-specific repo APIs. (These are the DI "services" of my #658 inquiry.) The configuration includes the knex connection that the repo is to use. In order to ensure I get the configuration logic right for all such repos, as well as to reduce code redu

[2018-01-07 08:29] tankers746 opened #703 "Graph Upsert syntax issue with SQL Server"
Hi,

I'm having an issue with a query produced during a graph upsert. The query:

[code]

The issue is that SQL server doesn't support composite WHERE IN statements.
[The issue is described here](https://stackoverflow.com/a/4625021/5354562)

I was wondering if it was possible to use an alternative to WHERE IN for tables with composite keys.

Cheers

[2018-01-07 08:34] koskimas commented on #703
This should be fixed when #677 is merged

[2018-01-07 08:36] koskimas commented on #701
Are you using JoinEagerAlgorithm?

[2018-01-07 08:48] davidchalifoux commented on #701
@koskimas Yes when I try setting it to `JoinEagerAlgorithm` it outputs `user: null` and `likers: []` instead of both being empty when I have it to the default.

[2018-01-07 09:22] koskimas commented on #703
#677 is now merged. It will be a part of the next release. Until that you can use the master directly if you want.

[2018-01-07 14:15] koskimas commented on #701
There's something wrong with the way you are using it. Its highly unlikely this is a bug since there are hundreds of tests for this kind of simple eager queries in objections test suite. Could you try to reproduce your problem for example using [this file](https://github.com/Vincit/objection.js/blob/master/reproduction-template.js) as a template?

[2018-01-07 14:15] #701 closed

[2018-01-07 14:21] koskimas commented on #701
By the way, did you notice that `range` is zero-based. If you want the first result, you need to say `range(0, 0)`.

[2018-01-07 16:44] jtlapp commented on #702
I'll post a version of the `express-ts` example using a generic ModelClass so you can see the benefit of this approach. The graph and transaction stuff require some extension of my approach, so I'm glad I tackled this little port. I'll try to share it this evening or by tomorrow night.

[2018-01-07 17:45] koskimas commented on #593
Minimum node version will be 6.0.0 from objection 1.0 onward.

[2018-01-07 17:45] #593 closed

[2018-01-07 18:13] jtlapp commented on #501
Validation errors might need a message. When I `JSON.stringify(err)`, I find that `err.message` is not set. When I retrieve `err.message`, I get a JSON string rendering of `err.data`. A getter probably does that, but that output is just weird.

The stack trace is convenient but non-standard, showing JSON in place of a string:

[code]

My expectation is that `err.message` return a single human-read

[2018-01-07 18:51] koskimas commented on #703
Let me know if that works. There's no automated tests for SQL server because Microsoft

[2018-01-07 20:06] mceachen commented on #702
I replied earlier this morning, but it seems to not have persisted.

First off, thanks for taking the time to write this, it was quite readable.

## Re: DI and DAO/Repo objects

My earlier post was in much more diplomatic terms, but tersely: I did a decade in the DI mines, with Spring, Guice, and more XML and annotations than you can shake a stick at, and, pardon my old-man voice, but that shit ca

[2018-01-07 20:23] jtlapp commented on #702
Thanks! I followed all that but the bit about "Removing Model from QueryBuilderSingle's typing." If you're responding to my stripped-down objection typings above, that was for the purpose of isolating the problem and getting rid of stuff that might distract us into thinking it's a problem.

I'm new to DI but have been programming for nearly 37 years (since age 12), but mainly infrastructure librar

[2018-01-07 20:55] jtlapp commented on #702
I hear ya that we should wait for TS to implement static interfaces, assuming they ever plan to do so. There's a lot of chatter about workarounds out there. I'll look into them. If there isn't anything my code alone can do, maybe there's still a simple tweak to the typings that will help.

[2018-01-07 22:25] davidchalifoux commented on #701
@koskimas You are correct, it seems to work just fine with the example project. I don't understand what I could have done wrong that would break only when pagination is added though. Maybe I need to use an alias on `User` since it's technically related in two ways?
In my model a `Track` is owned by a `User`, and has likers who are also users.

(btw thanks for reminding me that `page` is zero-based

[2018-01-07 22:32] tankers746 commented on #703
Hi,

It's fixed the WHERE IN issue however its still failing because upsertGraph is trying to update the id field which is an identity column.

[code]
I believe there was already an issue on this:
https://github.com/Vincit/objection.js/issues/480

Cheers

[2018-01-07 22:37] davidchalifoux commented on #700
Found the same problem on line `7871`. PR submitted.

[2018-01-07 22:37] #700 closed

[2018-01-07 22:42] davidchalifoux commented on #701
@koskimas Oh my goodness I feel quite dumb right now. I totally forgot that I didn't setup the related data for the second `Track` in the DB, so when I was calling for the second result there was simply no data there to return in the first place.

Thanks for the help!!!

[2018-01-07 23:16] davidchalifoux opened #705 "How to count related data without return the rows(eager loading)?"
A generic social media use case. Let's say that you have `Tweets` with `Likers`(Users). When you're scrolling through a feed, you don't need to load the information of every `User` who has liked the tweet, only the number of `Likers` it has.

This may be optimizing a bit early, however I'm still curious how this can be done.

Thanks!

[2018-01-07 23:42] elhigu commented on #705
I don't think thats possible with eager.

Probably it will be fast enough to just do related query `tweet.$relatedQuery('likers').count()` or something like that for each tweet in screen.

Or if you want to do it at the same time when querying tweets, by joining likersCount to every tweet or with subquery in `Tweet.query().select('*', subQuery.as('likersCount'))...`

[2018-01-08 14:11] koskimas commented on #670
done

[2018-01-08 14:11] #670 closed

[2018-01-08 17:27] jtlapp commented on #702
Okay, as I play with graphs and relations, I'm realizing that my configurable units should be related groups of models, not each individual model. Now I have to rethink my approach.

I just want DI for configuring deployments. I posted related thoughts to [gitter](https://gitter.im/Vincit/objection.js?at=5a53a8820505ad8b45cc8b4c).

[2018-01-08 20:06] koskimas commented on #705
You can leverage SQL and get the counts in a one single query, but it's quite tedious. Something like this:

[code]

There is no helper for getting the count for an eager query, because it's performance would be horrible in a generic case (one query for each parent model) and creating a generic version of the example isn't feasible.

[2018-01-08 20:06] #705 closed

[2018-01-08 20:26] koskimas commented on #695
There's no way to access the id currently. You can fetch a model and use `.$query()`, but that's generally not "idiomatic objection code". Objection encourages you to do things the SQL way when possible.

If you want, you can (pretty) easily override `updateAndFetchById` and store the id to `context`:

[code]

[2018-01-08 20:26] #695 closed

[2018-01-08 21:58] koskimas opened #707 "add {shallow: true} option for $clone and $toJson (maybe toJSON?)"

[2018-01-09 01:36] jtlapp commented on #664
I'll leave this open as a reminder to add typings test cases. Will get to ASAP.

[2018-01-09 01:56] koskimas commented on #705
I just added a feature that allows you to do this from the next version onward:

[code]

[2018-01-09 02:20] davidchalifoux commented on #705
Thanks so much @koskimas !

[2018-01-09 04:45] mikefowler commented on #695
Thanks for the great example, @koskimas 💯

[2018-01-09 06:11] davidchalifoux commented on #705
@koskimas One more curveball. On top of returning the count of `likers`, it's pretty important to be able to check if a currently auth'ed user has already liked a post.

My assumption is that this should be possible through a `relatedQuery()`, am I right?

[2018-01-09 07:28] elhigu commented on #705
@koskimas Thats nice! I was thinking that exact same syntax, when I wrote my comment :) does that `Tweet.relatedQuery()` work only in subqueries? I don't understand how that would make sense being ran as a standalone query.

[2018-01-09 10:17] koskimas commented on #705
@elhigu Yep, only works as a subquery.

@davidchalifoux This should get you `youLiked: 1` or `youLiked: 0`.

[code]

I don't know if there is an easy way to convert that into boolean in SQL, but you can do it easily in code. If you use that query in multiple places, you could do something like this:

[code]

[2018-01-09 10:19] koskimas commented on #705
Haven't tested, but this could work directly:

[code]

or at least this:

[code]

[2018-01-09 10:47] koskimas commented on #703
Yeah, that should be fixed now too.

[2018-01-09 11:29] koskimas commented on #707
done

[2018-01-09 11:29] #707 closed

[2018-01-09 14:44] lehni commented on #611
@koskimas I just remembered this one. I'm happy to help out here if help is welcome. Do you have an idea already how the errors should be structured? Different classes with the same parent class?

[2018-01-09 15:06] koskimas commented on #611
@lehni Could you check out the commit I just pushed if it seems ok to you?

[2018-01-09 15:08] koskimas commented on #611
I should add a error handling recipe to docs that shows how to catch each error thrown by objection.

[2018-01-09 17:12] lehni commented on #611
Thanks for working on this! The code looks promising. I have a few concerns though:

- You've added `type`, but it is still quite generic and just distinguished validator errors from other validation related errors, and I still have to look at the properties in `data` to find out what's actually wrong, e.g. `allowedRelations` VS `notModel `, making the lookups a bit complicated. I am wondering if

[2018-01-09 17:23] koskimas commented on #611
1. I agree, but changing things that way would be a major breaking change. The current change only breaks some small corner cases. Maybe we should go for a full rewrite and break the compatibility completely?

2. Model.ValidationError is private and shouldn't be relied upon, but that's a good point nonetheless. I'll change that.

3. There is no mention in the docs that the message is json or anyth

[2018-01-09 17:31] lehni commented on #611
1. I would say since things change already and we're going 1.0.0, we might as well do it properly, but that's completely up to you of course, and I don't have legacy projects to maintain...

2. I guess you can tell by now that I've been looking more at the source code than the docs. It's a habit that I've built based on many open-source projects having docs out of sync with the current state of th

[2018-01-09 19:59] koskimas opened #710 "raw not working in a subquery"
Query:

[code]

Error:

[code]

[2018-01-09 20:01] mceachen opened #711 "Add TypeScript to the README as a feature?"
The typings seem to be pretty stable at this point, do you want to advertise them in the README?

[2018-01-09 20:02] koskimas opened #712 "namedFilters that have no where or select statements don't work with joinRelation"
joinRelation attempts to convert `join (select * from foo)` into `join foo` by detecting if a filter has any select or where statements. A namedFilter like this fails that test:

[code]

[2018-01-09 20:18] koskimas commented on #611
Which errors would you like to detect? What's a good granularity for the `ValidationError.Type` enum?

[2018-01-09 22:06] koskimas commented on #711
Sure, seems like a good idea!

[2018-01-09 22:11] koskimas commented on #501
@jtlapp I'm currently refactoring ValidationErrors for the 1.0. I've changed the error messages to a more human readable format. You probably shouldn't show the ValidationError messages to the users though.

ValidationErrors will also hava `type` field for distinquishing between model validation errors and other kinds of validation errors.

[2018-01-09 22:36] lehni commented on #611
Let me collect the current validation errors once more, grouped by topic:

## `QueryBuilder`

[code]

[code]

## `DependencyGraph` / `GraphInserter`:

[code]

[code]

[code]

## `UpserGraph`:

[code]

## `RelationJoinBuilder`:

[code]

[code]

[code]

[code]

## `WhereInEagerOperation`:

[code]

[code]

[2018-01-09 22:44] lehni commented on #611
A few things strike me:

1. Not all of these have to do with validation of data / graphs. I would argue that the `ValidationError` class should only be used for errors in data that the code passes to DB function as actual data.

2. Most of these are errors for eager expressions. I would argue for the need of a separate `EagerError` class.

3. Only the errors in `DependencyGraph` / `GraphInserter`

[2018-01-09 22:53] lehni commented on #611
PS: Maybe this bit of code from my own app could be of use, instead of using `cause`:

[code]

[2018-01-09 23:43] koskimas commented on #611
All of those errors are caused by invalid input by the user and can, in my mind, be called ValidationErrors. If we create a bunch of error classes we need to rethink the error factory stuff too or we would need to add `createEagerError`, `createRelationError` etc. methods.

If we had those three different errors, how would you use them? How would you react differently to each of them? I think we s

[2018-01-09 23:45] koskimas commented on #611
And if we only create three classes (or enums) and remove the properies, we actually make the error handling options worse. There would be no way to reason with those errors except base on the error message, which is not the best idea.

[2018-01-09 23:49] koskimas commented on #611
Actually the `allowedRelations` stuff needs to be distinguishable. I'd send back a 403 error for those. And I don't know if that one can be called a ValidationError

[2018-01-10 00:26] lehni commented on #611
For me there is different type of input. Things like eager statements tend to come from the application logic, while the data tends to come, either directly or indirectly, from a front end or an admin interface, other service, etc. To me it feels confusing that both cause the same kind of `ValidationError`. I would prefer to have a clearer separation there.

[2018-01-10 01:42] jtlapp commented on #501
Sounds good. Thank you!

[2018-01-10 03:35] davidchalifoux commented on #705
I've come to a conclusion that the most efficient way to count `likers` is to simply denormalize it and have a `likeCount` field on each tweet, with a database trigger to automatically handle increments/decrements. This way you don't have to count it each time through SQL.

I'm looking into your suggestion about how to check if a currently auth'ed user has already liked a tweet now.

Thanks for al

[2018-01-10 07:35] davidchalifoux commented on #705
Here's my current method for checking if the current user liked a tweet or not:
[code]

[2018-01-10 10:33] tankers746 commented on #703
Still getting the same issue with 1.0.0.
Here is my upsert code:
[code]

and here is the model I'm trying to update:
[code]

[2018-01-10 10:36] lehni commented on #611
As for the factories, that's a good point... The question is maybe: Do you need factories, or could the public API way to expose / override these constructors be the same as you already do for `QueryBuilder`: Set them simply as static members on the `Model` class?

[2018-01-10 11:41] koskimas commented on #710
@lehni In the original stack trace, there's this

[code]

why isn't that `knex` inside `node_modules`? Are you using some kind of local fork of knex?

[2018-01-10 11:44] koskimas opened #713 "Don't depend on instanceof as much as possible"
Various knex classes, among other things, are recognized using `instanceof`. This fails if a project, for some reason or another, has multiple copies of knex.

[2018-01-10 11:47] lehni commented on #710
@koskimas yes I've linked up all projects locally that I tend to work on and fix bugs for, using `yarn link`. So my local version of `objection` has `knex` linked in, and my project has both `objection` and `knex` linked locally. That way, I can work on all these three projects and don't need to keep installing from NPM. I use `nodemon` to restart the app whenever any of these change, making for a

[2018-01-10 11:50] lehni commented on #710
BTW, this setup also avoids the issue that you refer to in #713 with multiple versions fo knex. If I don't create all this links then I do indeed end up with two versions of knex, and all kind of things start to happen : )

[2018-01-10 13:56] koskimas commented on #611
Eager expressions are strings instead of objects so that they can be easily passed from the client side. I use that feature all the time. That's why there's the `allowEager` method. In that use case, invalid and relation expressions  should create a validation error and "unallowed" relation expressions should be somehow distinguishable from those.

Meaningful grouping of the errors depends very mu

[2018-01-10 13:59] koskimas commented on #710
The error in this issue smells like one of those "multiple knexes" cases again. Are you sure that's not what's happening here?

[2018-01-10 14:10] lehni commented on #710
I can easily verify this by clearing and reinstalling `node-modules` and running this again. One sec.

[2018-01-10 14:12] lehni commented on #611
Ok yes, I see your point. So if we go the `type` route, then there could be: `eager`, `relation`, and `graph`, `data` or `input`?

[2018-01-10 14:13] lehni commented on #611
And should the values of `type` really be camel-cased words that look like classes? I prefer short lowercased strings, but that's of course a question of taste more than anything (think of the event types in HTML event objects).

[2018-01-10 14:26] lehni commented on #710
I just tested this again, with a fresh install of `node-modules`, and the same error occurs:

[code]

[code]

[2018-01-10 14:33] lehni commented on #710
And with `raw()` from `knex`, I get this error:

[code]

[code]

[2018-01-10 14:37] koskimas commented on #710
I think you need to have `knex` as a context for the knex raw like this: `knex.raw('1 = 1')`

[2018-01-10 14:47] lehni commented on #710
Then I'm getting this, plus the same error as above:

[code]

[2018-01-10 14:48] koskimas commented on #710
Well what happens if you do what it tells you?

[2018-01-10 14:52] lehni commented on #710
: ) one sec

[2018-01-10 14:53] lehni commented on #710
The warning disappears, but the error remains:
[code]

[2018-01-10 15:14] koskimas commented on #710
Superweird.. Could you check what `knex.raw('1 = 1')` actually returns in that case? Is it really returning undefined?

[2018-01-10 16:28] lehni commented on #710
It's this:

[code]

[2018-01-10 16:32] lehni commented on #710
So `convertPlainObject()` ends up being called on this! Why? It chokes on the `undefined` values then.

[2018-01-10 16:33] lehni commented on #710
It looks like `convertArgs()` isn't actually equipped to receive Knex raw objects? The only thing it checks for is `hasToKnexRawMethod()` not if it already is a raw object.

[2018-01-10 16:35] lehni commented on #710
But why is `isPlainObject()` returning `true` for this Knex raw object?

[2018-01-10 16:48] lehni commented on #710
Oh damn, I'm sorry! This is caused by code on my side.

[2018-01-10 16:51] lehni commented on #710
I have overridden `where` & co. to do some extra magic:

[code]

Problem was, I was using `isObject()` and not `isPlainObject()` there...

[2018-01-10 17:12] koskimas commented on #710
No problemo ☺️

[2018-01-10 17:12] #710 closed

[2018-01-10 17:36] koskimas commented on #611
I'm used to `PascalCased` enums. That probably comes from my java background. I've also seen that in c++ code. All enums are named that way in objection codebase.

[2018-01-10 17:43] lehni commented on #611
I agree that it's the norm for their names. I meant the content of the strings. It seems strange to me to put that in there too.

[2018-01-10 23:03] koskimas commented on #611
The new types are now in 1.0.0 branch.

[2018-01-10 23:03] #611 closed

[2018-01-11 09:25] #659 closed

[2018-01-11 10:42] lehni commented on #611
I like this much better, great!

Two remarks:

- `UnallowedRelation` sounds strange to me. I don't think *unallowed* is proper word in the English vocabulary. Isn't it *disallowed* instead? And should it then be `DisallowedRelation` or `IllegalRelation` instead?

- `InvalidGraph` could also just be `GraphValidation` in analogy to `ModelValidation`, speaking more of the nature of the `ValidationErr

[2018-01-11 12:51] #712 closed

[2018-01-11 16:18] jtlapp opened #714 "Static type-checking for required properties in insertGraph()/upsertGraph()"
Hey @mceachen, I'm posting this question as an issue because you don't seem to hang out on gitter.

`insertGraph()` takes a `Partial<T>`, which doesn't allow compile-time type-checking of required model properties. Is this the best we can do? I thought I'd point it out in case it's not.

Maybe it's this way to deal with readonly properties like id or createdAt/updatedAt? `upsertGraph()` complicate

[2018-01-11 17:46] mceachen commented on #714
Not all fields are required, and we don't have stringent requirements to specify fields, so until we do, the Partial is the best we can do.

[2018-01-11 17:46] #714 closed

[2018-01-11 17:54] jtlapp commented on #714
Right, I was hoping to impose static type-checking on fields that are known to be required. E.g., in the examples, 'movie' is always a required field of a Movie model, but insertGraph() and upsertGraph() aren't going to tell me at compile time if I forgot it somewhere.

[2018-01-11 18:19] igor-savin-ht opened #715 "Provide explanation for migration path from Model.formatter"
Currently Model.formatter method is spitting out 'deprecated! formatter() method will be removed in version 1.0' warning but neither source code nor the changelog provide explanation for what is the recommended migration path for clients that currently depend on it (e. g. objection-find).

[2018-01-11 18:29] koskimas commented on #715
[code]

-->

[code]

[2018-01-11 18:29] #715 closed

[2018-01-11 18:37] igor-savin-ht commented on #715
Thanks! Do you think it makes sense to create PR that would add this example in the comment near the deprecation warning?

[2018-01-11 19:19] jtlapp opened #717 "QueryBuilder.relate() and .patch() yield the wrong type"
The typings have the `relate()` method of QueryBuilder returning type `this` and thus yielding a Model. However, `relate()` actually yields either a numberor an object pairing IDs to their corresponding reference fields. I don't know what the result is when providing multiple relations.

UPDATE: QueryBuilder `patch()` has the same problem -- should yield a number.

cc @mceachen

[2018-01-11 19:30] mceachen commented on #717
What leads you to that assertion? According to the [docs](http://vincit.github.io/objection.js/#relate), it should return a Promise to the number of related rows, not IDs.

@koskimas should `relate` return something like `QueryBuilderUpdate<this>` so the async return value is numeric?

[2018-01-11 19:33] jtlapp commented on #717
Ah, okay that may be correct about the number of related rows -- I was trying to infer that. The `express-ts` example returns the following, which is the only one I've tested:

[code]

[2018-01-11 19:41] jtlapp commented on #717
Yeah, `express-ts` returns the same thing. The above code is from my mocha test suite. Here's the raw output:

[code]

[2018-01-11 19:47] jtlapp commented on #717
Is the output of `relate()` ever informative? In the above case, `movieId` and `personId` are actually handed to objection, which spits it back out.

[2018-01-11 23:15] jtlapp commented on #717
QueryBuilder `patch()` has the same problem, yielding a model type instead of a number (the number of modified rows).

[2018-01-12 00:02] jtlapp opened #719 ".allowEager() munges the QueryBuilder yield type"
When `.allowEager()` modifies a query, the QueryBuilder suddenly changes from yielding a `Model` or `Model[]` type to yielding a `{}` or `{}[]` type.

Consider the following [code from `examples/express-ts/api.js`](https://github.com/Vincit/objection.js/blob/master/examples/express-ts/src/api.ts#L69):

[code]

VSCode indicates that `persons` above has type `{}[]`. When I comment out the `.allowEag

[2018-01-12 00:19] mceachen commented on #719
@jtlapp please consider adding this code to the `examples.ts` and tweaking `.allowEager` to make things go green--I don't really have the free time to do more than PR reviews.

[2018-01-12 00:22] jtlapp commented on #719
I'm happy to give it a shot, with you looking over PRs. Thanks!

[2018-01-12 01:01] jtlapp commented on #719
The typings appear to be missing the [RelationExpression class](https://github.com/Vincit/objection.js/blob/master/lib/queryBuilder/RelationExpression.js) alternative to string expressions. The typings [only allow strings](https://github.com/Vincit/objection.js/blob/master/typings/objection/index.d.ts#L222). The RelationExpression class looks like a way to precompile these strings.

I'll **not** b

[2018-01-12 04:09] newhouse opened #721 "`insert` performing validations as if it was `insertGraph` when data contains property that matches a `relation`"
Happy New Year, everyone!!! 🎆 👊  Objection is still my super fave and I'm in it all day long.

I'm in the process of updating my `pg`, `knex` and `objection` (from `0.7.12` to `0.9.4`) and I came across some "unexpected behavior" that has definitely changed since `0.7.12`, although I didn't see anything in the "Breaking Changes" that I think covers it.

- If you try to perform an `insert()` query

[2018-01-12 05:33] mceachen commented on #719
Thanks!

[2018-01-12 05:33] #719 closed

[2018-01-12 05:40] mceachen commented on #714
Related comments: https://github.com/Vincit/objection.js/pull/709#issuecomment-356428498.

I'd be fine with requiring fields to be specified in model subclasses--it's certainly how I use Objection.

Is a vote in order? Thumbs up this comment if you are fine removing the `Partial` from the `*Graph` methods, and requiring Objection projects in TypeScript to have fully-specified fields.

@koskimas, I

[2018-01-12 11:14] koskimas commented on #721
Weird, I'm pretty sure that's the way it has always worked. The reason is that some people use the relations in hooks and they need to be validated at that point. I think it is important that whenever you get your hands on a model instance, you can be sure it has been validated.

Here are the relevant places in code for 0.7.12.

1. A test that verifies, relations are parsed into model instances.
h

[2018-01-12 11:14] #721 closed

[2018-01-12 11:22] koskimas commented on #721
This is not documented, but I could document it and make it public if it helps you:

[code]

[2018-01-12 11:26] koskimas commented on #721
Also with objection 1.0, this is possible `const model = modelGraph.$clone({shallow: true})`

[2018-01-12 13:18] johannessjoberg commented on #693
We done _a lot_ of searching for circular dependencies but can't find any.

Of the weird things about this problem is that this error only appears if we try to insert new models solely in the `beforeEach` hook.

If we first insert in `before` hook and then utilize `beforeEach` there is no problem, likewise if only using the `before` hook. So if this was due to circular dep I guess inserting in the

[2018-01-12 17:58] newhouse commented on #721
Yeah, it is weird. It's definitely a change as in this branch I've literally just updated my `package.json` and then been hunting down explosions that it caused, but if this was a bug all along and is actually the expected behavior, then I can accept that answer!

Thanks for the suggestions - there are plenty of ways to solve this, so if you were hesitant to publicize the `{ skipParseRelations: tr

[2018-01-12 18:45] newhouse commented on #721
Again, a million ways to do this, but since in my case I was not trying to actually get an instance from JSON, merely just set up the DB with some stuff for my tests, I ended up adding a static method to my `Base` Model class that returns only the keys of the JSON schema I've defined on each Model, like so:
[code]

And then in my code I can do:
[code]

Thanks again for everything!

[2018-01-12 21:30] jtlapp commented on #714
I'm still thinking this through. Completely accurate type enforcement (not necessarily practical) would look something like the following (ignoring available inheritance):

[code]

This is just a first approximation, but it suggests that inducing typescript to always restrict Objection parameters to exactly what is valid might be a bit complicated. It also suggests that the graph methods can't sim

[2018-01-12 21:45] jtlapp commented on #714
We might want to look for something other than `Partial<Model>` anyway, because when using `noImplicityAny`, the following:

[code]

Errors: "Element implicitly has an 'any' type because type 'Partial<Person>' has no index signature."

Would this be considered an error in the typings requiring correction?

(Maybe it's best to make these graphs of type `any`? Still thinking...)

[2018-01-12 22:03] jtlapp commented on #714
The following works, but we need a special TS typedef trick to apply it:

[code]

This would at least limit type-checks to the fields possible among all graphs, which is significantly better than `any`.

But to handle eager relation properties within a model, we'd need a TS trick for recursively redefining `Model` and `Model[]` to `GraphModel` and `GraphModel[]` -- unless we ask users to define a

[2018-01-12 22:16] jtlapp commented on #714
@koskimas, are there any glaring mistakes in my series of types, 3 comments above? I'd like to make sure I understand the type requirements before trying to find a solution.

[2018-01-12 23:03] jtlapp commented on #714
Another possibility is to add the following to the Model type:

[code]

Then models could serve as types in graphs. We may still need `Partial<T>` for `insertGraph()` because `{id: 123}`, `{'#id': 'myID'}`, etc., are each complete and valid models within the insert graph. I'm not sure how we'd otherwise do it as a disjunction of types.

[2018-01-12 23:34] jtlapp commented on #714
It's doable! I borrowed the technique [found here](https://github.com/Microsoft/TypeScript/pull/12114#issuecomment-259776847). The following works!

[code]

[2018-01-13 02:03] koskimas opened #723 "Validation error message is borked in 1.0-rc.1"
It looks like this:

[code]

[2018-01-13 12:42] #723 closed

[2018-01-13 17:18] jtlapp opened #724 "Graph typings are incompatible with eager relation properties"
UPDATE: This is actually a Typescript-specific usage problem whose solution is not currently modeled in the examples.

The typings for `insertGraph()` and `upsertGraph()` don't allow graphs that include eager relation properties.

The problem is that these methods take `Partial<T extends Model>` as input parameters, but this only makes the eager relation properties optional and not also their prop

[2018-01-13 18:00] jtlapp commented on #664
You can close this once you merge #722, me thinks.

[2018-01-13 18:14] jtlapp commented on #635
The typings for `patch()` and `relate()` currently yield a Model rather than a number. See #717.

[2018-01-13 19:25] jtlapp commented on #724
I'll shortly be exploring ways to capture graphs in domain-specific interfaces, so there's a chance I might discover a way to get some static type checking. Meantime, if you can think of anything better than `any`, I'd love to hear it.

[2018-01-13 19:58] koskimas commented on #724
This works:

[code]

[2018-01-13 20:22] jtlapp commented on #724
Oh cool! Just need a small addition to make the errors go away:

[code]

But there is a serious drawback for eager loading: TS will require the app to check (or bang-override) the presence of every single model property.

[2018-01-13 20:26] jtlapp commented on #724
Or do this to avoid adding graph model ref properties to Model:

[code]

But this is still potentially annoying for eager loading.

[2018-01-13 20:30] koskimas commented on #724
What do you mean by that?

You can also create a base class and define the `#ref` etc. properties there and then inherit your models from that. Those are not added to `Model` because you can alter them using the `refProp`, `dbRefProp` etc. Model fields.

[2018-01-13 20:31] koskimas commented on #724
I think `Partial` is the correct way to type the relations since you can easily select only a subset of properties in eager queries (and I for one very often do).

[2018-01-13 20:37] jtlapp commented on #724
Ah perfect!

I missed that. So the app would have to either add them to its models or define something like `EagerModel<T>`, in order to use `insertGraph()` and `upsertGraph()`.

[2018-01-13 20:40] koskimas commented on #724
If you use `#id`, `#ref` or `#dbRef`. Very few people actually do.

[2018-01-13 20:42] jtlapp commented on #724
I guess none of these changes are actually needed for the `express-ts` example, because it only ever receives `any` input and returns `any` output, avoiding type-checking.

They should probably be in some example though, maybe even `express-ts` to show best practices (or even how to do it without casting to `any`first).

[2018-01-13 20:54] jtlapp commented on #724
How are you restricting the columns returned in eager queries? The relation expression only seems to filter for eager properties (whole models).

[2018-01-13 21:20] jnelken commented on #388
I'm using `babel-register`, and have `node_modules` ignored by babel with this flag:
[code]
Changing it to ignore `node_modules` EXCEPT for `objection` made everything work:

[code]
[ As I learned from this comment (and the ones below)
](https://github.com/babel/babel/issues/7022#issuecomment-351582197)

My versions:
Node v 7.5, babel 6, objection 0.9

[2018-01-13 21:39] jtlapp commented on #724
I guess this would be more accurate:

[code]

[2018-01-13 21:52] jtlapp commented on #724
I got my answer: `pick()` and `omit()`. Okay, I'm convinced we have a solution.

Only question is, should we revise the `express-ts`example? I'll be making a DI-capable example available, but I don't know if @koskimas will want it checked in.

[2018-01-14 01:28] koskimas commented on #724
You need to ask @mceachen about changing the example project.

[2018-01-14 09:00] koskimas commented on #717
@jtlapp `patch` typings do return a number. There's even this test in the test file for it:

[code]

You need the number to know if anything was updated when you do something like this:

[code]

What kind of query throws if the where condition doesnät match any rows? Are you using `throwIfNotFound`?

[2018-01-14 09:04] koskimas commented on #717
`relate` return value depends on the actual operation. For `HasMany` and `BelongsToOne` relations `relate` is an update operation and the number of affected rows is returned. For `ManyToManyRelation` relate is an insert, and in that case the inserted model is returned (just like with `insert`). We could return a hardcoded `1` in that case too, but that would be less that useless.  By returning the

[2018-01-14 12:23] koskimas commented on #717
It seems that `Where<T>` and friends should possibly be updated. This works:

[code]

but this doesn't

[code]

Where methods return `QueryBuilder<T>` when they probably should return `this`.

[2018-01-14 12:27] koskimas commented on #717
I think the whole `QueryBuilder` type could be refactored so that there is only one `QueryBuilder` type with two template arguments `QueryBuilder<M, R>` where `M` is the model type and `R` is the return type. This way both types could be passed to `Where<M, R>` etc and the return type would persist through other method calls. The model type needs to be carried too because `returning` method turns

[2018-01-14 12:33] koskimas commented on #717
That way we could maybe get rid of the million query builder types. Also why is there a `QueryInterface` interface when only `QueryBuilderBase` implements that? Couldn't we just move the methods over to `QueryBuilderBase`.

[2018-01-14 13:12] koskimas commented on #717
Actually it would be even nastier, but this works in almost all cases:

[code]

@mceachen What do you think? This would need to be refined some more, but maybe something to consider?

[2018-01-14 13:27] koskimas commented on #717
No actually this would probably be enough. I don't remember why I thought the `SingleOrNot` was necessary.

[code]

[2018-01-14 14:12] jtlapp commented on #717
Yes, I'm sorry. Here's my problem code:

[code]

[2018-01-14 14:17] jtlapp commented on #717
Despite QueryBuilder taking more parameters in the above, the typings may be easier to understand! I typically look to typedefs to help me understand what something is or does, in first pass, but I don't find these typedefs very helpful in that regard. Anything for more clarity!

[2018-01-14 15:40] koskimas commented on #717
For now you can work around this by adding the `patch` or `relate` last. `relate` typings cannot be fixed, an you need to use a cast.

[2018-01-14 22:24] jtlapp opened #726 "Example Typescript wrapper for Objection"
Okay @koskimas and @mceachen, I'm ready to share the project. It works, but there a few more things I want to do.

I've ported the `express-ts` example to [an example I'm calling `ts-wrapper`](https://github.com/jtlapp/objection.js/tree/ts-wrapper-example/examples/ts-wrapper). The README page at that link provides an overview. (`src/repl.js` is there only because I haven't moved it to `test.js` ye

[2018-01-16 02:19] mceachen commented on #726
I looked through your repo.

IMHO, I think the typescript example should match as closely as possible to @koskimas' esnext example. Indeed, just a couple PRs ago, I cloned the esnext tree and replaced the ts tree with the esnext code with the minimal changes necessary to make TypeScript happy in strict mode.

Introducing interfaces and services and brokers layers to example code adds both conceptu

[2018-01-16 02:20] mceachen commented on #726
That said, I think replacing the example-requests.sh with a mocha test suite would be wonderful (and we should push that over to the esnext tree as well, as a validation test before npm publishing).

[2018-01-16 03:10] jtlapp commented on #726
Thanks @mceachen!

Where's this esnext tree? I search through the repo just yields some examples of static initializers.

I agree on that point.

At the same time, an architect managing risk and an engineering team would likely skip right past objection without this protective abstraction. I think this approach makes objection more accessible to enterprise projects. I myself require it.

For examp

[2018-01-16 03:20] jtlapp commented on #726
Here's another way to think about it:

- I was advised to avoid ORMs because I'm going to need sophisticated queries.
- Objection claims to be a kind of ORM, though a flexible kind.
- Therefore, I am taking a risk by embracing an "ORM" despite advice.

An interface wrapper allows me to safely manage that risk and safely try Objection.

[2018-01-16 17:11] jtlapp commented on #726
After talking with @lehni on gitter, I've decided to pass a context in to each broker, where this context allows each broker API to decide for itself which objection models it's accessing.

Passing an app/session context through will make the API a bit more complex, but detaching the interfaces from strictly wrapping objection models may simplify things a bit.

[2018-01-16 18:24] mceachen commented on #724
As I've said in other comments, I think there's value in keeping the `express-*` trees consistent, so the only difference between `express-es7` and `express-ts` is what is required by TypeScript to compile in strict mode.

IOW, @koskimas, is it OK to add `pick` and `omit` examples to all the express-* APIs? (It seems reasonable to me)

[2018-01-16 18:32] jtlapp commented on #724
I spent a huge amount of time trying to figure out how to handle eager relations within Typescript because there were no examples of properly typed eager relations. The only example was of a `Person`-type property, which I copied by adding `Animal` and `Movies`, but which we've now decided should be `Partial<Person>`, etc., for non-cyclic graphs.

So the question is whether to have an example that

[2018-01-16 18:53] jtlapp commented on #726
Okay, once I make "brokers" independent of objection models, it becomes a server architecture and not a technique requiring a specific solution for objection -- with one exception.

@lehni is working on that exception, which is to find a way to make an app-provided context session-dependent context available across the objection API. *That* example may be worth checking in.

I'm withdrawing this p

[2018-01-16 18:53] #726 closed

[2018-01-17 08:33] tahv0 opened #727 "eager: 'identifier .... is over 63 characters long and would be truncated by the database engine.'"
Just reminding that long nested eager queries causes error.

I have faced this problem only with JoinEagerAlgorithm.

[code]

[2018-01-17 10:22] koskimas commented on #727
There's no way around that but the option to [minimize](http://vincit.github.io/objection.js/#eageroptions) the identifiers.

[code]

That's a database limitation.

[2018-01-17 10:22] #727 closed

[2018-01-17 10:25] koskimas commented on #727
You could use aliases in the query if you need to filter it using the identifiers (the minimized ones make the code unreadable).

Something like this:

[code]

[2018-01-17 10:30] koskimas commented on #727
But you also get the relations named with the alisese. One more option is to use the `aliases` option:

[code]

(I didn't remember this existed :D)

[2018-01-17 10:45] koskimas commented on #727
Aaand one more hint http://vincit.github.io/objection.js/#defaulteageroptions

[2018-01-17 10:49] desher opened #728 "Problems with eagerJoin and resultSize"
I'm trying to count total result size of query with .joinEager('file') and .eagerOptions({ joinOperation: 'innerJoin' }) by using resultSize() function. The total SQL generates with "left join".

Query:
[code]

total SQL:
[code]

Also I have one more question. If I run the query with .resultSize(), I will get an error with message "TypeError: Cannot read property 'columns' of undefined at Relation

[2018-01-17 11:39] koskimas commented on #703
@tankers746 Sorry I haven't answered. I've disabled notifications from closed issues. Otherwise answering the would be all I have time to do 😄 It's a good idea to open a new issue in the future.

Weird, that should now work. Are your `id`s strings in the database? If not, could you try this:

[code]

[2018-01-17 11:47] danigb commented on #703
I would like to test the 1.0.0 branch but I can't find it (inside branches). How should I proceed? Install the objection library from source?: `yarn add https://github.com/Vincit/objection.js.git` ?

[2018-01-17 11:54] koskimas commented on #703
@danigb `npm install objection@next`

[2018-01-17 11:59] koskimas commented on #728
I think `debug: true` is causing the error. That's a known issue, but very difficult to fix.

The query should work. I have no idea why `left join` ends up there. I'll test this and get back to you. You could use `innerJoinRelation` here though and `count` instead of `resultSize`:

[code]

[2018-01-17 12:01] koskimas commented on #728
By the way, you shoudn't call `internalOptions`. That's a private method. You can use `.debug()` instead.

[2018-01-17 12:53] koskimas commented on #728
Oh, it seems that `resultSize` doesn't work with `joinEager`. The error is not caused by `debug: true`. It will work if you have ever ran the `joinEager` without `resultSize` before during the lifetime of the process because the thing that blows, up is cached. The problem is that `joinEager` cannot be used as a subquery because it fetches and caches the table schema, the first time a new table is

[2018-01-17 13:23] danigb commented on #703
It works for me using 1.0.0-rc2 👍

[2018-01-17 18:22] lehni commented on #712
great, thanks!

[2018-01-17 23:11] #728 closed

[2018-01-18 04:57] juanjoLenero opened #730 "Clarification of GraphUpsert options?"
I'm having a hard time working out how the different GraphUpsert options work together. Is anybody else having this problem? Would it be worthwile to change the documentation to make it clearer?

These are the current available options:

| | |
------ | ------
relate | If true, relations are related instead of inserted.
unrelate | If true, relations are unrelated instead of deleted.
insertMissing |

[2018-01-18 07:25] tankers746 commented on #703
@koskimas cheers, the parseInt did it :) congrats on reaching 1.0.0

[2018-01-18 07:49] oliver-giersch opened #731 "Named filters don't appear to be working correctly"
I've been trying to get named filters with "order by" statements to work without success.

The follwing code should by my understanding return an array of _Favorite_ objects, ordered by the _updated_at_ field of its _AbstractItem_ related object, but the ordering doesn't work.

[code]

The _Favorite_ model has a 1:1 relation called _abstractItem_ and the _AbstractItem_ model has a named filter _or

[2018-01-18 09:12] #731 closed

[2018-01-18 09:13] koskimas commented on #731
They work as expected.

[2018-01-18 09:38] oliver-giersch commented on #731
I did, the query is generated correctly, but the resulting array is not ordered accordingly.

[2018-01-18 09:42] koskimas commented on #731
Look again. The named filter orders the query that fetches abstractItems, not the query that fetches Favorites.

[2018-01-18 09:59] haywirez commented on #632
Would be interested to hear about this as well 👍

[2018-01-18 10:11] koskimas commented on #730
The default is false for all of them. By default `upsertGraph` method patches the objects that have an id, inserts objects that don’t have an id and deletes all objects that are not present.

`noUpdate`, `noDelete`, `noRelate` and `noUnrelate` are mainly useful for disabling an operation for a subset of relations.

Here I'd like to use `relate` instead of insert for all relations, but I'd like to

[2018-01-18 10:15] koskimas commented on #703
@tankers746 Thanks! We should probably use a non-strict comparison in there and `parseInt` shouldn't be necessary. I'll create a separate issue about that.

[2018-01-18 10:18] koskimas opened #732 "Use non-strict equality for columns in upsertGraph"
A strict comparison is used when determining which columns to update and which are equal. The db converts strings to numbers and numbers to strings anyway, so a non-strict comparison should probably be used.

For example this finds the person with id 1 and updates it correctly, but also updates the `id` even though it clearly didn't change.

[code]

This one works as expected:

[code]

[2018-01-18 14:29] behalka opened #733 "select in namedFilter + joinEager"
Hey, I'm trying to use `joinEager` together with a named filter in order to return joined "virtual" properties. Normal `eager` query works alright.

The SQL query looks almost correct, but additional fields are missing in the `select` clause so even though they are fetched, they are never returned.

The filter looks like this:

[code]

Query as follows:

[code]

And generated SQL:

[code]

Additio

[2018-01-18 14:48] koskimas commented on #733
Hi,

thanks for bringing this up. I'll see if there is something I can easily do about this. If the change ends up being a big one, I'm afraid this won't be at the top of the list of things to add because I think this isn't that common a use case.

[2018-01-18 14:51] koskimas opened #734 "Add base classes for relate and unrelate operations"
As discussed in gitter

[2018-01-18 15:02] thunderball1 commented on #733
+1

[2018-01-18 15:39] MichalKlacko commented on #733
+1

[2018-01-18 15:45] chamini2 commented on #632
I ended up using the https://www.npmjs.com/package/json-api-serializer package for serialization.

[2018-01-18 16:25] koskimas commented on #733
Wow, maybe I was wrong about how common this is, or do all three of you work together 😉

[2018-01-18 18:29] lehni commented on #734
@koskimas I think I can take care of this one.

[2018-01-18 20:52] #733 closed

[2018-01-18 21:00] koskimas commented on #733
This should be fixed now. I'll release a new 1.0 RC version shortly.

By the way, three votes from the same team is only counted as one and will only make me want to help you less, since it seems like you tried to pretend there is more demand for this feature than there really is.

[2018-01-18 21:20] eshell opened #737 "Ambiguous select in subquery"
I have a table events and members with id event_id and member_id as primary keys associated through a table members_events also with member_id and event_id keys. When I eager load members and perform a select on member_id column (among others), I get an error that member_id is ambiguous. If I only select on other columns without the key, it's fine.

 It doesn't appear that selects on modified eage

[2018-01-18 21:22] eshell commented on #737
Should 'members' always be prepended to the select query? Sometimes it actually does this automatically, in case of selecting primary key, it doesn't.

[2018-01-18 21:25] eshell commented on #737
I'll try to post a reproduction later if needed. Not at my computer right now.

[2018-01-18 21:56] koskimas commented on #737
This is expected. You need to specify the table. We cannot automatically prepend the table, because there is not javascript-side SQL parser so that we could __really__ know which table, view, or from expression has which column. There is no way to do this reliably on the objection side without implementing all database engines in javascript.

[2018-01-18 21:56] #737 closed

[2018-01-18 21:58] koskimas commented on #737
The columns you explicitly select are __never__ prepended with a table name. The table is added only in cases where we absolutely certainly know the table.

[2018-01-19 09:27] lehni commented on #734
#736 is implementing this

[2018-01-19 13:44] koskimas commented on #733
1.0 RC3 is now released with this fix in it. You can install it using `npm install objection@next`. [Here's the change log](https://github.com/Vincit/objection.js/blob/master/doc/includes/CHANGELOG.md#100-). Note that there are some breaking changes if you try this out. Also the links in the changelog only work in the compiled html, not in the markdown files. You need to search the relevant sectio

[2018-01-19 14:22] behalka commented on #733
Hey @koskimas I can confirm it works now, thanks a lot!
To clarify, maybe you'll be glad to know that we use your library a lot, we really really like it and this fix will actually help more people on multiple projects than just me :)
Have a great day!

[2018-01-19 14:53] koskimas commented on #733
That's nice to ~hear~ read!

This is off topic, but reading the code you posted, are you aware of the `joinRelation` helper? You could probably replace this code:

[code]

With something like this (if you have defined the relationships):

[code]

saving you from repeating the foreign keys.

[2018-01-19 15:22] behalka commented on #733
Yeah, I know about it :) Thanks again and happy coding!

[2018-01-19 17:13] jtlapp opened #738 "Possible logos"
I didn't see a way to post this to gitter, so I'm posting here. I guess this could be a thread for examining possible logos.

Here's an O bound to a square object to look like a Q (as in query or SQL). Sorry, it's sketchy!

![objection-logo](https://user-images.githubusercontent.com/138133/35162662-b349697c-fd09-11e7-9b5c-781e6bbcce8b.jpg)

[2018-01-19 17:15] koskimas commented on #738
Thanks for the idea, but the guy that designed the first logo is working on a new one. I'll see what he comes up firts.

[2018-01-19 17:16] jtlapp commented on #738
Sure thing. Feel free to close this thread.

[2018-01-19 17:18] newhouse commented on #738
That's cool @jtlapp...excited to see what comes up @koskimas . If you guys need any help let me know and I can get some of my peeps on it, too. Objection will be big I think. Thanks to all for the hard work!

[2018-01-19 17:24] haywirez commented on #669
@koskimas thx, lazy evaluation works well, just one thing - I believe it should be:
[code]

[2018-01-19 23:18] jtlapp commented on #738
A modification came to mind. Can you find the S, the Q, the L, and of course the O?
![objection-logo-sql](https://user-images.githubusercontent.com/138133/35176087-b293ce04-fd3c-11e7-845c-84efc1b92a68.jpg)

[2018-01-20 09:20] #734 closed

[2018-01-20 10:36] #732 closed

[2018-01-20 10:38] #664 closed

[2018-01-20 14:14] lehni opened #741 "Recursively nested `joinRelations()` don't work as expected."
I've observed something strange with `joinRelation()` when used in a recursive / nested manner.
Below a test-case to reproduce the scenario. the data is multiple relations deep and can be loaded with an eager relation on the `Root` level such as: `level1s.level2s`. `Root` models can be published or not, and there can be multiple ones with the same name, but only one of them should be published.

T

[2018-01-20 14:17] lehni commented on #741
The output of the `debug()` statement is:
[code]

[2018-01-20 15:34] koskimas commented on #741
Solution was found in gitter. I'll implement a fix before 1.0

[2018-01-20 23:01] jtlapp commented on #711
I guess I should officially register my discontent with the typings:

- I find them largely unusable for determining the types that methods yield. They just take too much work to decipher.
- The former point makes them very hard to maintain. I'm maintaining typings elsewhere without trouble.
- They don't work with custom query builders.

I find myself wondering how wise it was to build a typescrip

[2018-01-20 23:08] jtlapp commented on #711
Basically, I don't want to be one of the few people using Typescript with objection. I want to feel like I have the support of a community. That makes the dependency less fragile, lowers my risk.

Hard-to-understand, difficult-to-maintain typings aren't going to foster a typescript community.

[2018-01-21 00:02] jtlapp commented on #711
I can see some changes to type names (especially generics) that would have helped me make sense of the typings when I first looked at them. I'm playing with that now.

[2018-01-21 00:35] jtlapp commented on #711
QUESTION: What is a good term for referring to the Person model in the following code and clearly distinguishes it from the "result model" Movie?

[code]

Maybe "queried model"?

(The `<Movie>` param is necessary here, as otherwise `$relatedQuery` types out to Person.)

[2018-01-21 05:58] koskimas commented on #730
Did this clarify things gor you? Do you have any suggestions on how to improve the docs?

[2018-01-21 17:26] koskimas commented on #741
fixed in master

[2018-01-21 17:26] #741 closed

[2018-01-21 19:29] jtlapp commented on #717
The following tests all fail under the current typings. I have revised typings that makes them all pass, using a variation of @koskimas' above proposal. I'm just working on two more problems: query builder callback types and custom query builder types.

[code]

[2018-01-21 19:47] jtlapp commented on #496
FYI, I'm looking at revised typings that fix query builder issues but that aren't backward compatible with existing typings in one regard:

`QueryBuilder<Person>` would previously yield a `Person[]` but now yields just a `Person`. To get a person array under this proposal, you'd do `QueryBuilder<Person, Person[]>`.

This possibility suggests that we may want to get the typings completely working b

[2018-01-21 20:10] koskimas commented on #717
Query callbacks that don't need to return anything:

 * `modifyEager`
 * `where` callbacks
 *  `select` callbacks
 *  `from` callbacks

Actually all subquery or where grouping callbacks don't need to return anything and the return value and query builder type return type are irrelevant.

If there are other callbacks, ask.

[2018-01-21 20:13] koskimas commented on #717
By the way, have you talked this refactoring through with @mceachen? He's the supreme overlord of typing related issues. I don't feel I can merge any large pull request regarding typings since mceachen has written 99% of them.

[2018-01-21 20:15] koskimas commented on #717
Maybe a separate issue should be opened for this

[2018-01-21 20:18] jtlapp commented on #717
I hear from him once every day or two, which isn't enough interaction for me to get this done. So I'm just doing it and he can look it over.

[2018-01-21 21:35] #730 closed

[2018-01-21 22:29] mceachen commented on #496
@jtlapp let's keep typing discussions on different issues and channels, but grossly speaking, I would like the typings to follow semver semantics along with the rest of the codebase. It might help to get an idea of how many people use the typings in the first place, as well.

If you use the typings, could you :tada: this comment?

[2018-01-21 22:34] mceachen commented on #717
Yeah, turns out I'm doing this on my own time (like @koskimas). I pinged you on gitter, but send me an email and we can schedule a time together to share screen and bang out your issue list.

[2018-01-21 22:38] jtlapp opened #742 "Result type pass-through errors in typings"
Hey @mceachen. [Sami suggested](https://github.com/Vincit/objection.js/issues/717#issuecomment-359277051) that I open a new issue for this, though it's a continuation of the sorts of problems in #717. Boy did I learn a lot studying your typings!

I'm sharing from my fork before making any PRs:

- [These new typings tests](https://github.com/Vincit/objection.js/compare/master...jtlapp:pass-thru-err

[2018-01-22 00:18] matheustav opened #743 "Exclude column from Query"
Hi. First of all, congratulations for this **awesome** tool.
English is not my first language, so I apologize for eventual mistakes.

It's relatively common for ORMs to read the tables before execution to know exactly all the columns and its specifications. For example: in Mysql/MariaDb: `DESCRIBE products;` could return something like this:
[code]

By doing this, the QueryBuilder could start all

[2018-01-22 01:53] jtlapp commented on #702
Should we close this until -- and if -- Typescript ever allows for static interfaces?

[2018-01-22 09:34] koskimas commented on #743
Hi @matheustav

There's no built-in support for this in objection _for all queries_. Currently `joinEager` does this because there we need to select each column individually so that we can give them aliases.

I'd like to add this feature, but there are couple of problems and things to solve. Objection has no asynchronous initialization function that needs to be called before it can be used. Theref

[2018-01-22 09:40] koskimas commented on #743
I forgot to mention why I think this would be a good feature:

1. We could implement an `unselect` (name can be debated) method requested here.
2. joinEager already needs the metadata and running the queries in `joinEager` has already caused some issues (like QueryBuilder.toString() only working after the first query).
3. This would open up new possibilities in the future.

[2018-01-22 10:15] koskimas commented on #743
Here's an example plugin that implements the feature using only public interface:

[code]

You would use it like this:

[code]

[2018-01-22 10:53] koskimas opened #745 "Make `columnNameToPropertyName` and `propertyNameToColumnName` public."

[2018-01-22 13:50] koskimas commented on #745
Maybe with shorter names. Leave the old methods as deprecated because some projects (objection-graphql, objection-find etc.) may use them.

[2018-01-22 14:01] capaj opened #746 "can unrelate() take a transaction as optional param"
for a `query()` I can pass an optional transaction as the first parameter.
Could this be the same for`unrelate`?

[2018-01-22 14:05] koskimas commented on #746
You can only call `unrelate` for a query, and you can give the transaction for the query method, in this case `$relatedQuery('foo', transaction)`

[2018-01-22 14:05] #746 closed

[2018-01-22 14:10] matheustav commented on #743
Hi @koskimas. Thanks for your helpful and fast reply!

I don't see any problems here, but I think that it shouldn't be ran at first query.
At this moment we have `Model.knex( knex );`, so why not do it like this instead?
[code]
In options object we could even add tweaks like "useLimitInFirst" 😄

I don't think this should be a concern. Just to exemplify, I work in a project which uses [Phalcon](htt

[2018-01-22 14:12] capaj commented on #746
@koskimas thanks for the quick response. I've misread the docs.

[2018-01-22 14:12] koskimas commented on #730
Closed because there was no response from the issuer.

[2018-01-22 15:00] koskimas commented on #743
This would be a major breaking change and break all objection code in existence. Also it would have to be async forcing all code calling it to be asynchronous too. Also we would have to change objection significantly so that `Model.initialize` would know about models that have been created. I don't want to add such global state.

Without global state (lack of global state is one of the main design

[2018-01-22 15:08] koskimas commented on #743
So we either have to add a breaking change _or_ run the metadata queries lazily when needed (and then off course cache them). My proposal to add `initialize` etc. method was to offer an easy way to run these lazy initilization functions in a controlled manner __if__ the user wants to do so. If a call to `initialize` is not done metadata is queries lazily.

[2018-01-22 15:09] matheustav commented on #743
Oh, you're totally right! Sorry, but i'm not used to write code for other devs.

This makes sense too.

But for example, I'm not using jsonSchema, since it's said in the docs that this only serves to validation purposes, but why not use this information as metadata?
This way we forget about SHOW TABLES / DESCRIBE, but all the metadata information could be manually inserted. 😄

[2018-01-22 15:22] koskimas commented on #743
`jsonSchema` describes the "outside world representation" of a model and not the table schema. Those two can be different. As a contrived example: `fullName` for a Person, which would then be stored as `firstName` and `lastName` in the db.

I'd really like to have this metadata present for the models. It would open up a bunch of feature/validation options. Can you give me an example why querying t

[2018-01-22 15:27] koskimas commented on #743
We could add an option to parse the metadata from `jsonSchema`. If your `jsonSchema` and database schema are equal (pretty common I'd quess) you could tell objection to use `jsonSchama` as the database schema.

[2018-01-22 15:48] matheustav commented on #743
I could say performance, but I know this wouldn't be much significant.
I also think it's a side effect, and a bad one. I mean, you try to run a query but your app runs two?

Yes, I think that could be a good option, but I was reading the plugin you wrote and I think it's almost perfect exactly because I don't have to write the `jsonSchema`. I'm definitely going to use it.

[2018-01-22 15:50] koskimas commented on #743
It would only be executed once during the lifetime of the process. The performance impact is only significant if you expect the first query to be fast.

Yeah, this is the only bad thing I was able to come up with.

[2018-01-22 22:38] canadianveggie opened #747 "Paging with joinEager fails on first fetch"
I found a bug with paging and eager joins. The first query to do a paged load of a joined relationship will fail if the RelationJoinBuilder.columnInfo isn't yet populated. ColumnInfo gets populated by the main query in JoinEagerOperation.onBefore2, but the count(*) operation runs in parallel and gets an error when it tries to access the columnInfo.

Ex:
[code]

The first time this runs, you will g

[2018-01-22 22:49] koskimas commented on #747
Seems to be a bug. I'll fix this asap.

Are you sure you want to page a `joinEager` query though? You will not get the correct results if you join even a single `HasManyRelation` or a `ManyToManyRelation`. You will __only__ get correct results if you page a `joinEager` query that only has `BelongsToOneRelations` and `HasOneRelations` in the eager expression. This is all explained in the docs.

[2018-01-22 23:02] kibertoad opened #748 "Model.fromJson is dropping relations from entities"
Objection v 0.9.4

modelValidate.validate is removing all fields related to relationships here:
[code]

But then json that was generated this way is passed in modelSet to set relationships:

[code]

Even though at this point there is clearly no fields to create relationships from as those were removed during shallow/stripInternals cloning of the original JSON.

I presume the intention is to pass o

[2018-01-22 23:02] kibertoad commented on #748
I can produce a PR with fix and test if I get a confirmation that my understanding of the code and of the solution is correct :)

[2018-01-22 23:05] kibertoad commented on #748
@koskimas
I can confirm that replacing

[code]

with

[code]

Does resolve the issue.

[2018-01-22 23:13] canadianveggie commented on #747
Good point, but I think it works in our case. We have a HasOneRelation and we're fetching from table A based on a property in table B.

[2018-01-22 23:16] koskimas commented on #748
OMG! How can this have been in there without anyone noticing before? A PR would be awesome 👍

[2018-01-22 23:17] koskimas commented on #748
And thank you for bringing this up!

[2018-01-22 23:37] #747 closed

[2018-01-22 23:51] kibertoad commented on #748
@koskimas Done! Any chance for a bugfix release in 0.9.x branch at some point, or 1.x is the only release in the nearby future?

[2018-01-22 23:57] koskimas commented on #748
1.0 is just around the corner. You can already use it by installing the most recent RC version. The code is basically ready. I'm just waiting for couple of typing-related things and a logo 😄 `npm install objection@next` will give you the newest RC version. I'll release a new RC with this fix in it today.

[2018-01-22 23:58] canadianveggie commented on #747
Thanks for the quick fix. I can confirm it fixes the bug for me.

[2018-01-22 23:58] #748 closed

[2018-01-22 23:58] kibertoad commented on #748
@koskimas Thanks a lot! I guess it's time to check if objection-find is still working with 1.0 :D

[2018-01-23 00:02] koskimas commented on #747
Awesome. I'll release a new 1.0 RC in a couple of minutes. It will include this fix. If you're not yet using the RC, note that the documentation site is still for 0.9.4. You can find the same documentation in `docs` folder of the repo. [Here's the changelog](https://github.com/Vincit/objection.js/blob/master/doc/includes/CHANGELOG.md)

[2018-01-23 00:03] koskimas commented on #748
Note that the documentation site is still for 0.9.4. You can find the up-to-date documentation in docs folder of the repo. [Here's the changelog](https://github.com/Vincit/objection.js/blob/master/doc/includes/CHANGELOG.md)

[2018-01-23 01:34] koskimas opened #750 "model defaults are not set if a model instance is validated (instaed of a POJO)"
Related to the change in #748

[2018-01-23 07:53] sultan99 opened #751 "Model.raw() returns plain js"
I'm using:

[code]
Result:
[code]

I get fields of the returned value not converted to camelCase, as the reason I get result of anonymous objects not model (Document), is there way how to make it to return Model object?

[2018-01-23 08:07] elhigu commented on #751
At least in `knex` `knex.raw` always returns unprocessed result got from database driver. So probably objection does the same. As far as I know `Model.raw` is just shorthand for `knex.raw`. So it is not processed through objection like `Model.query()` queries, but does plain knex query.

[2018-01-23 08:26] sultan99 commented on #751
@elhigu yes that is the point, it pass unprocessed result from db.

My question is there any way how to force Objection to use the raw query as it was built by QueryBuilder.

I' have found some kind lifehack to make it work as expected:

[code]

[2018-01-23 10:04] koskimas commented on #751
Objection cannot know the result type of a raw query without parsing the raw SQL and that's not possible for obvious reasons. You can use `fromDatabaseJson` method to create model instances from the raw rows.

[2018-01-23 10:04] #751 closed

[2018-01-23 12:19] #750 closed

[2018-01-23 12:44] #745 closed

[2018-01-23 21:29] joemccann opened #752 "/DELETE Not Found Issue"
First, thanks for the great work on objection.js.

I've been able to test it out a bit with `client.js` hitting the `api.js` but when I added the following code:

[code]

I get the following response:

[code]

This is likely user error but a simple `DELETE` example in the `client.js` file would be helpful to me.

Thanks~

[2018-01-23 21:41] koskimas commented on #752
Hi,

this should work:

[code]

[2018-01-23 21:41] #752 closed

[2018-01-23 22:46] joemccann commented on #752
🤦‍♂️ definitely user error. Thanks!

[2018-01-24 01:34] mceachen commented on #742
Resolved by #753

[2018-01-24 01:39] mceachen commented on #702
I think that's reasonable, especially if we keep both the examples and `express-ts` compiling with `--strict` (which includes `--strictFunctionTypes`). Closing.

[2018-01-24 01:39] #702 closed

[2018-01-24 01:43] mceachen commented on #711
I believe @jtlapp and I have worked through the issues he's had, and those solutions are now in PRs #735 and #753 . I'll push a PR to add a README line now.

[2018-01-24 01:46] jtlapp commented on #711
Yes, I think the typings are stable. I do have suggestions for making them a bit easier to understand :wink:, but that shouldn't affect typings behavior and can be done post-1.0.

Thanks for bearing with me and for all the help @mceachen!

[2018-01-24 07:48] matheustav opened #755 "Should patch() trigger $beforeInsert?!"
Hi again! 😄

I know Objection exposes a `patchAndFetch()` method, but the data returned from it was messed up, so I decided to do this:
[code]

I have a `$beforeInsert()`, which is working nicely for `insert()`, but I found out this event is being called also for `patch()` and this doesn't seem right for me.

This is my `$beforeInsert()`:
[code]

This is my request:
[code]

And these are the logs

[2018-01-24 08:44] koskimas commented on #755
Nope it shouldn't be called and it is not called. You are doing something wrong.

[2018-01-24 08:44] #755 closed

[2018-01-24 08:49] koskimas commented on #755
Also data returned from patchAndFetchById is not messed up, you are again doing something funky. We have other users and hundreds of tests for these. Do the math.

[2018-01-24 13:43] lehni commented on #611
@koskimas did you see my two remarks in the last comment above? Maybe still worth considering before 1.0.0 hits the road.

[2018-01-24 17:27] koskimas commented on #755
If still believe there is a bug, I will take this seriously once you can reproduce it using the `reproduction_template.js` in the repo root.

What comes to mind from the limited amount of code you shared:

1. Is uuid the primary key of your model? Have you specified it using the `idColumn` property of your model?

2. Could it be that you are accidentally calling `$beforeInsert` from `$beforeUpdate

[2018-01-24 18:14] matheustav commented on #755
@koskimas, thanks for your kind response and attention.
Perhaps I haven't expressed myself well, but I didn't mean to sound rude.

Anyway.. I was working on an atomic/individual example and it's really working as expected (of course), but the fact is that **my code is not too much longer than the example**, as I'm on its beginning yet.

This is the example code:
[code]

The main difference to my p

[2018-01-24 20:18] #711 closed

[2018-01-24 20:58] koskimas opened #756 "New ValidationErrors should allow custom types"
Users may be using `ValidationError`  for their own errors. We should allow custom `type`s or at least add a `Custom` or `Generic` type.

[2018-01-24 21:05] claudiomramirez opened #757 "Many to many relation in a single table"
Hi, I'm trying to create a many to many relationship, but the problem is that the table is related to itself. So I basically have 2 tables, articles and related_articles, where related_articles has 2 article_ids. I don's see how can I create a relation here, because I can't distingish between the main table and the related table:

[code]

Is there a way to achive this?

[2018-01-24 21:32] koskimas commented on #757
Your example should work. If it doesn't something else is wrong. Why do you think this doesn't work?

[2018-01-24 21:48] #757 closed

[2018-01-24 21:58] matheustav commented on #755
Hey @koskimas, thanks again for your support.

I'm working on an important personal project and spending too much time to make this as fast as I can, although I'm not fully familiar to JS yet and all the tools I'm using are also new for me. I was working on that piece of code for too long and made a typo on $beforeUpdate/Insert, exactly as your assumption.

The problem was exactly at `$beforeUpdat

[2018-01-25 01:09] jtlapp commented on #319
I've spent several hours on this. I do not believe it is possible to provide Typescript support for custom query builders, because Typescript does not allow for parameterizing static class members.

Also, in order to avoid the impossibility of both the model being parameterized with the query builder and the query builder being parameterized with the model, the typings would have to factor out non

[2018-01-25 01:21] jtlapp commented on #319
Ah poo. I'm now looking at @elhigu's above approach to doing this using declaration-merging. I should try that with the new result-type pass-through typings.

[2018-01-25 01:48] jeshicawang commented on #447
This is not an upsert, but I'm sure it could be modified to be.

Here's my solution for my use case where I wanted an `ON CONFLICT DO NOTHING`, so that conflicting rows would be ignored when inserting.

[code]

[2018-01-25 01:52] jtlapp commented on #319
On second thought, the problem with method-overloading or declaration-merging is that the custom query builder type is only available to the methods called immediately after the overloaded or merged methods. So we'd always have code of the form:

[code]

In which case we might as well just write our own combined method and not bother trying to return a special query builder type:

[code]

It's sho

[2018-01-25 02:58] jtlapp commented on #319
Final thought. This three-part solution would make the custom query builder type available to all methods in the chain:

1. Have the custom query builder implement an interface for its non-objection methods.
2. Implement a static method on the model that returns the custom query builder, whether by overriding `Model.query()` or providing an alternative method.
3. Parameterize Model with the interf

[2018-01-25 05:20] newhouse commented on #319
God Bless you, JTL. I think it would be fun to hang out with you. 🍻I didn’t read any of this but it’s great

[2018-01-25 05:22] mceachen commented on #319
@newhouse ask him about spiders

[2018-01-25 14:04] jtlapp commented on #319
Hilarious! I advise keeping things that way.

I'm mostly just trying to grok Typescript.

[2018-01-25 20:02] #742 closed

[2018-01-25 20:04] mceachen commented on #717
Resolved by #744  and #753

[2018-01-25 20:04] #717 closed

[2018-01-25 20:08] mceachen commented on #635
This was resolved by #753

[2018-01-25 20:08] #635 closed

[2018-01-25 20:11] mceachen commented on #713
(this would let us return to the glory days of yore, when the `express-*` examples could depend on `../..` for objection--I'd like to see the travis tests actually run test targets on the examples to verify the examples still work).

[2018-01-25 20:38] newhouse commented on #319
@mceachen that sounds risky! Maybe in person with @jtlapp one day... I was drinking last night when I wrote that, but you guys are awesome...

[2018-01-25 22:18] jtlapp commented on #717
Given the wide variety of return types available to `.relate()`, I wonder if it should return type `any`.

For example, the typings might have it returning `Person[]` despite needing to be a `number`. Typescript won't allow typecasting `Person[]` (or `Person`) to `number`. We have to do this instead:

[code]

[2018-01-26 10:27] koskimas commented on #756
Fixed

[2018-01-26 10:27] #756 closed

[2018-01-26 11:15] koskimas commented on #501
I think this can be closed for now. I won't add db-errors to objection yet. Let's wait until it matures a bit and even then we should try to get it merged into knex instead. For now, the objection-db-errors plugin can be used.

Validation errors have now been refactored and can be tested by installing the most recent 1.0 RC using `npm install objection@next`.

[2018-01-26 11:15] #501 closed

[2018-01-26 12:21] danielyogel commented on #276
Any progress with this issue? May I offer help?

Thanks.

[2018-01-26 12:32] elhigu commented on #276
@danielyogel help is very much welcome. I'm not going to implement this unless I need this functionality at some point or I get really bored with my life and other projects I'm working on.

[2018-01-26 15:33] unhawkable opened #760 "upsertGraph + m2m relation with extra columns + modify on the join table issue"
Hi,
I ran into an issue when trying to save graph with upsertGraph with relations and values for "extra" columns at the same time. I've tested 0.9.4 and 1.0-rc6.

I will try to provide a stripped down variations of models I am using, hopefully enough to identify the problem.

[code]

Now assuming group id 1 and deck of id 1 and id 2 already exist in db, i want to create relation between them with

[2018-01-26 15:44] unhawkable opened #761 "unrelate: true + noUnrelate does not work as expected in upsertGraph"
Hi,
It seems that if I specify unrelate: true + noUnrelate: [ array of relation names ] then it does not work as one might have expected.
I have a model with HasManyRelation (without join table) and I'd like to have the records deleted from that relation if they are missing from a graph. All other missing records from other relations should just become unrelated.

But, nothing happens to these rec

[2018-01-26 16:47] koskimas commented on #761
graphUpsert is such a complex beast that unfortunately I need a reproduction before I start to investigate this. There are 1000 things you may be doing differently than what I'd expect. There's a `reproduction-template.js` file in the repo root if you prefer to use that.

[2018-01-26 16:49] koskimas commented on #760
graphUpsert is such a complex beast that unfortunately I need a reproduction before I start to investigate this. There are 1000 things you may be doing differently than what I'd expect. There's a reproduction-template.js file in the repo root if you prefer to use that.

[2018-01-26 17:07] ntraylor1985 opened #762 "page command assigns incorrect value to offset in query."
Example:
await Shapes
                .query()
                .page(1, 10).toString();

outputs ->
"select "shapes".* from "shapes" limit 10 offset 10"

Looks like it is copying pageSize to both limit and offset.

[2018-01-26 17:10] koskimas commented on #762
page index is zero based.

[2018-01-26 17:10] #762 closed

[2018-01-26 17:12] koskimas commented on #762
http://vincit.github.io/objection.js/#page

[2018-01-26 17:35] koskimas commented on #761
There's a at least one test for that specific case [here](https://github.com/Vincit/objection.js/blob/a758ae8bdb5fc21a211e99ee8d20d0b4e309180f/tests/integration/upsertGraph.js#L845). You may have found a corner case bug though.

[2018-01-26 17:37] koskimas commented on #760
I just noticed that these both should be `BelongsToOneRelations` because the foreign key is in the source model:

[code]

[2018-01-26 19:22] jejrthompson opened #763 "Please help with custom columnNameMappers"
I have this mapper signature and it is not working with filters specified...

[code]

Any help greatly appreciated!

[2018-01-26 20:58] koskimas commented on #763
How is it not working? What is happening? What do you expect to happen?

[2018-01-27 10:35] koskimas commented on #763
@jejrthompson Did you solve this already? Can I close this issue?

[2018-01-27 10:37] koskimas commented on #761
@unhawkable Did you solve this? Can I close this issue? If not, please answer something so that I know that you are working on a reproduction.

[2018-01-27 10:37] koskimas commented on #760
@unhawkable Did you solve this? Can I close this issue? If not, please answer something so that I know that you are working on a reproduction.

[2018-01-28 00:27] koskimas commented on #763
Ok, I'll try to quess what you meant:

1. You are getting undefined values when you use `select` for you queries? That's because you always map all columns even though you only select a subset. You need to test the input object separately for each column.

2. You are trying to make the mapping work also in query builder methods like `where`. For example `where('id', 1)` instead of `where('MktTypeI

[2018-01-28 00:27] #763 closed

[2018-01-28 16:15] aposashenko opened #765 "UpsertOptions in typings doesn't equal to the js version"
Hi there,

Can you please update UpsertOptions interface in typings so it equals to the js version. It doesn't contain these properties:
[code]

I need some of them in my project.

Thanks in advance!

[2018-01-28 20:21] koskimas commented on #765
I'll fix that asap. Thanks!

[2018-01-28 20:48] #765 closed

[2018-01-28 21:28] aposashenko commented on #765
You're flash, thanks for responding so fast, appreciate it!

[2018-01-29 09:28] unhawkable commented on #761
Thank you for super-fast response. I will work on the reproduction now.

[2018-01-29 14:27] unhawkable commented on #760
Thanks for the tip about Model.BelongsToOneRelation. It did not have any impact though, because I found out that I also missed modelClass: GroupDeck from "through" config in relationMappings :D So the model for the join table was not used at all, but objection auto-generated it in-memory I suppose.

Anyway, attached you may find the reproduction file: (there is reproduction-template.js in that zip

[2018-01-29 14:48] koskimas commented on #760
You shouldn't add order by statement to an update. For some reason knex omits it for sqlite, but not for mysql. You can use isFindQuery method to check if the query is a select query and only add the order by in that case.

[2018-01-29 14:52] unhawkable commented on #760
IT WORKS! I can't thank you enough for helping me out with this.

[2018-01-29 15:00] koskimas commented on #760
But something fishy is still going on. As you saud, the order by clause is in the wrong place. I'll see what's going on there. Let's leave this open.

[2018-01-29 15:22] unhawkable commented on #761
Please find the reproduction file attached:
[reproduction-template.zip](https://github.com/Vincit/objection.js/files/1674071/reproduction-template.zip)

It seems to fail under sqlite as well. The record from "noUnrelate" relation is not being deleted.

[2018-01-29 15:30] unhawkable commented on #761
So noUnrelate does not necessarily mean - delete that record instead, right? But could we maybe have the records deleted with some other combination of options?

[2018-01-29 16:29] jejrthompson commented on #763
Sorry, I was out of town this weekend.

I'm actually using objection-find to parse my URL queries into objection queries and it's throwing this error:
[code]

I'm thinking I need to do more digging into how objection-find builds the queries and maybe look for an alternate solution. I'm basically writing a new API on top of a legacy db. We will eventually create a new db in another phase, but for n

[2018-01-29 16:43] drew-r commented on #599
@koskimas I like it. Thanks!!

[2018-01-29 16:45] jejrthompson commented on #763
I would expect a call to a function such as `propertyNameToColumnName('id')` to return 'MktTypeID' give the columnNameMappers in my OP.

I can use the `knexIdentifierMapping` but this could get very messy over 100+ db tables. Is this the only solution?

[2018-01-29 21:35] koskimas commented on #761
Yes, noUnrelate doesn't revert the functionality back to deleting. Deleting is the default. Unfortunately there currently is no other way but to explicitly list all relations except the one you want to delete in `unrelate`.

[2018-01-29 22:31] igor-savin-ht opened #766 "LeftJoin incorrectly processes tables with schema"
objection/lib/relations/Relation.js:

[code]

This code generates invalid (at least in PostgreSQL) alias in case tableRef includes schema part (e. g. 'app.users').

Here is the fixed variant:

[code]

[2018-01-29 22:31] igor-savin-ht commented on #766
@koskimas I'm not sure I'll be able to produce test for this case quickly as this requires to prepare all the DB schema setup and migration code. Do you think that it's necessary?

[2018-01-29 22:32] igor-savin-ht commented on #766
Also probably this code can be replaced with simpler .replace('.', '_') to make sure that unique aliases are generated for tables with same name but different schemas. Thoughts?..

[2018-01-29 22:57] igor-savin-ht commented on #766
Actually, writing a test turned out to be a much easier endeavor than I feared as the important part is really easy to reach by a unit test - hence the PR.

[2018-01-30 03:40] koskimas opened #768 "m2m relatedQuery update fails if the update object only contains extra properties"
It causes the related table update object to be an empty object for which knex generates invalid SQL. We need some kind of noop update there.

[2018-01-30 10:18] igor-savin-ht commented on #766
@koskimas Any chance you could release a new RC with the fix today? This is a blocking issue for us :(

[2018-01-30 11:38] koskimas commented on #760
@unhawkable There was a bug (or missing feature) where `extra` columns could not be used in `modify` filters in all cases. I'm now working on a fix. After that, the `isFindQuery` check is not needed anymore. I'll close this when I'm done and release a new 1.0 RC version.

[2018-01-30 13:08] fer22f opened #769 "Subqueries' aliases don't work in 1.0.0"
I have queries of the form:
[code]
Suddenly, when upgrading to the new version, it broke in an unexpected way: Both queries were being renamed to `ii`. I digged into the changes and found the problem, which is caused by the **wrong order** of merging of aliases.

https://github.com/Vincit/objection.js/blob/d5fd4b1bdf2a357b87985166bc5efd5fb17d367c/lib/queryBuilder/QueryBuilder.js#L116-L117

Before

[2018-01-30 13:11] koskimas commented on #769
Whoops, nice catch. Yeah, we need to add a test for this. Would you happen to have time to put together a PR for this? Just say no if you don't and I'll fix this soon.

[2018-01-30 13:13] fer22f commented on #769
I prefer to leave it up to you, because my testing environment isn't properly setup and no time to work on this.

[2018-01-30 13:57] #760 closed

[2018-01-30 13:58] koskimas commented on #766
You can temporarily point package.json to master branch. I'll probably release a new RC today, but I have a couple of bugs to fix first. Let's see how easy they are.

[2018-01-30 14:05] igor-savin-ht commented on #766
@koskimas Thanks!

[2018-01-30 14:40] #769 closed

[2018-01-30 15:08] koskimas commented on #766
@igor-savin-ht I just released RC 9

[2018-01-30 15:09] koskimas commented on #769
@fer22f I just released RC 9 that has this fixed

[2018-01-30 15:19] igor-savin-ht commented on #766
Thanks a lot!

[2018-01-30 15:47] fer22f commented on #769
Thanks!

[2018-01-30 16:07] unhawkable commented on #760
@koskimas i'm sorry to bother you again, but when I run the reproduction-template I attached above with 1.0.0-rc9 i am getting the following error:
[code]

[2018-01-30 23:41] ncjones opened #770 "InsertGraph fails when foreign column name doesn't end with "id""
Given the following Knex migration:

[code]

And the following Objection model:

[code]

Then the following query should insert a user and an address and relate them through the foreign key relationship:
[code]

The actual outcome is that the user and address are inserted but the user's "address" column is null.

The workaround is to rename the "address" column to "addressId". I don't have a probl

[2018-01-31 03:39] koskimas commented on #770
You cannot have a relation and a column have the same name since they share the same object. Thos is a common mistake. I'll add a check and a good error message for this case.

[2018-01-31 03:40] koskimas commented on #770
Related issue #580

[2018-01-31 03:51] koskimas commented on #770
In case of a legacy schema, $parseDatabaseJson and $formatDatabaseJson methods can be used to change the column name.

[2018-01-31 05:42] #770 closed

[2018-01-31 06:15] koskimas commented on #388
@jnelken I don't know if I misunderstood something, but you don't need to transpile objection! The problem is not objection code but the way babel emulates classes in ES5. What you need to do is to turn off the class emulation since node 7.5 fully supports native classes. You don't need that emulation. That's what the `env` preset does.

[2018-01-31 10:04] koskimas commented on #760
@unhawkable Oh yeah, that's another bug 😄 I've already created an issue for that #768. Your example works if you add `name` for the movies in upsert

[code]

[2018-01-31 10:07] unhawkable commented on #760
oh I see. Thanks for the info. I will wait patiently and keep the ifs with isFindQuery / isFind for now :)

[2018-01-31 12:12] koskimas opened #771 "POLL: Should we add an alternative object syntax for relation expressions?"
Currently all relation expressions are strings. Should we add an alternative object representation for them?

Reasons to add something like this:

1. object expressions would be easier to create and inspect programmatically
2. Simple array expressions are just an array of relation names, which is intuitive and clean.

Reasons to not add something like this:

1. Multiple ways to do the same thing.

[2018-01-31 13:19] #768 closed

[2018-01-31 13:20] koskimas commented on #768
@unhawkable This should be now fixed in master

[2018-01-31 13:57] elhigu commented on #771
I generally like the idea that there is also format that is not plain string based 👍

[2018-01-31 14:30] koskimas commented on #771
@jadengore Sorry to pull you into this issue like this, but I read you [blog](https://bramanti.me/bookshelf-is-dead/) (thanks for the kind words by the way ❤️) and I wondered if you'd have any thoughts about this issue? You're not the biggest fan of the current relation expressions if I understood this correctly

[2018-01-31 15:06] devinivy commented on #771
I have also seen folks trip on the array-looking syntax.  I personally like it, and ultimately do not have a need/desire for any changes like this, especially with the ability to do things like `mergeEager()` and `allowEager()`.  That said, I can see the value of an equivalence between `[ a, b ]` and `['a', 'b']`– even though the confusion can probably be solved somewhat via documentation.

[2018-01-31 15:10] lehni commented on #771
I am interested in a way for the `QueryBuilder` to be able to provide its current `eager` expression, and allow the user to further alter it programmatically.

If relation expression could be provided in either form above, and be accessed by `builder.eagerExpression` in a defined form, that'd be of interest to me.

I think both the `all objects, filters and aliases using special properties` and `a

[2018-01-31 15:13] lehni commented on #771
But coming back to the above proposals for inputting expressions: All things considered, I would probably still use the string notation as it is the shortest, most concise version. The only issue is maybe with root-level pseudo-arrays, which could be supported by `RelationExpression.create()` accepting an array of strings also.