[2017-03-21 15:55] fl0w commented on #335
@koskimas nicely done, there is however a noticeable performance hit in node v7.7.3 (using v8 v5.5), compared to node v6.10.x and v4.x.x (latest LTS). Unrelated, and I'll assume this gets corrected once v8 v5.7 hits shelves *(secretly hoping for node v8 release, wouldn't count on it)*.

[2017-03-21 16:10] koskimas commented on #335
@fl0w

Most things in objection are classes, so there isn't much difference. Some things like the `transaction` function and global helpers like `ref` cannot be extended this way. Even relations like `Model.HasOneRelation` are classes, that's just not documented anywhere.

Anyways we are not forcing people to use mixins, just encouraging. They can still create a monkey patching plugins if they wan

[2017-03-21 21:02] WilliamSWoodruff commented on #335
What's the next step with this?

[2017-03-22 07:26] koskimas commented on #335
I'll write the plugin best practices section to the docs and add a place for a list of know plugins and packages using objection. I'll add the ones mentioned here to the list. More can be added through pull requests or issues. I'll also add a shortcut link to the plugin/package list from the README.

I will also write a contribution guide while I'm at it.

[2017-03-22 14:49] WilliamSWoodruff commented on #335
Awesome! 👍

[2017-03-22 15:31] peteyy opened #337 "`.insertGraph` and `.insert` yields different results."
I try to call `.insertGraph` with the same object as I do with `.insert` but `.insertGraph` fails with a property validation error (that is there both times)

If I try to do the same thing with `$relatedQuery` it works fine.

Any ideas how could I be doing wrong, or could you please recommend some potential debugging methods for this issue? `.debug` is a no go since it doesn't even hit `knex` quer

[2017-03-22 17:01] koskimas commented on #337
`console.log`? debugger? what do you normally do to debug?

You could also try posting the actual data and error here, so that I could try to help. With this information there is absolutely nothing I can do.

[2017-03-22 17:38] rusmichal opened #338 "Set Data Type in mySQL"
Is it possible to use it?:
https://dev.mysql.com/doc/refman/5.7/en/set.html

[2017-03-22 18:32] koskimas commented on #338
There is no special handling for that in objection. If the mysql client you installed supports it then so should objection.

[2017-03-22 18:48] iwan-wijaya opened #339 "Select specific fields using returning()/insertAndFetch()?"
Hi, I'm a bit confused, what is the "correct" way to select fields from result after an insert/update/patch?

[code]
**Desired "guest" object result**
`GuestModel { name: 'Lorem' }`

**At first, I tried using returning() as mentioned in the docs (I'm using PostgreSQL)**
[code]

Result

[code]

How come all data get selected? (except nulls)
Using knex's insert without objection.js, it will return j

[2017-03-22 19:25] koskimas commented on #339
There actually seems to be a bug when giving just one column name to `returning`. In that case it assigns the column as the `id` 😬

Otherwise that's how it has always worked in objection. The columns listed in `returning` are assigned to the inserted object. You can chain the [`pick`](http://vincit.github.io/objection.js/#pick) method to the query to limit properties in this case.

`select` doesn'

[2017-03-22 20:01] peteyy commented on #337
sorry for the lack of context, since then I figured that it's a bug that was already fixed, but I haven't yet upgraded.

[2017-03-22 20:01] #337 closed

[2017-03-22 20:02] peteyy commented on #337
just for anyone bumbing into this thread, it was some $toJson timing issue on inserting.

[2017-03-22 21:55] ackerdev commented on #335
I can likely provide support for mixin style while maintaining backwards compatibility.

I would like to point out, though, that mixins _can_ be a little awkward, especially as the list of mixins grows and if configuration is required.
It also directly competes with the ES7 decorators specification which instead uses functions which alter the target class directly rather than creating anonymous su

[2017-03-23 02:44] devinivy commented on #335
I think there should be some solution available for those using "bare" node.  Since the implementation of a decorator can be constructed from an existing mixin, I don't think there's any major conflict!

[2017-03-23 03:04] iwan-wijaya commented on #339
@koskimas Ah, I see. Thanks

[2017-03-23 05:39] koskimas commented on #335
@ackerdev Dammit, that's also a good point 😄

You don't have to use the nightmare inducing syntax. You can do this:

[code]

It's not that different from the ES6 decorator case.

@devinivy There is a solution for bare node: the ES6 example @ackerdev provided. Can a decorator be constructed from a mixin? For that to work, the extended class must be returned from the decorator and reassigned to the

[2017-03-23 05:45] koskimas commented on #335
I was wrong, it is possible to construct a decorator from a mixin. In fact, mixins are decorators! From the spec:

### Desugaring (ES6)

[code]

[2017-03-23 10:08] koskimas opened #340 "should query building methods chained to `insertAndFetch`, `patchAndFetch` etc. be called for the fetch query?"
Currently they are ignored. Should they be applied to the fetch part of the query? Related to #339

[2017-03-23 10:13] #339 closed

[2017-03-23 10:55] koskimas commented on #338
https://github.com/mysqljs/mysql#type-casting

[2017-03-23 10:55] #338 closed

[2017-03-23 15:44] elhigu commented on #340
I suppose we have 2 choices:

1. We could allow some building methods to be passed to fetch. We would need to keep track which ones are called and must be passed and clearly document that for example you can call `.select()` for it.

2. Or we can just decide that no. If one likes to change stuff that is selected from in fetch part, they can write own simple helper for that.

Choice 2 sounds simple

[2017-03-23 18:03] ackerdev commented on #335
You still need a separate decorator-factory interface to support decorators if you provide configuration options, though, right? Because they have to be factories that return a decorator function...

[code]

I'm fine with this, personally, though I think it should be added to the best practices if we want to go this route that plugin developers should try to support both interfaces in this manner,

[2017-03-23 18:13] koskimas commented on #335
Nope, decorator can be any expression that evaluates to a function. So a function that returns a function (your example) and just a function are both valid expressions.

The spec says:

[code]

[2017-03-23 18:16] devinivy commented on #335
I personally don't think it should be up to a plugin author to have to think about decorators, mostly because not everyone uses them (they aren't part of nodejs today) and mixins are general enough– if someone wants to use their mixin as a decorator they can easily make that transformation.  At worst I think the arguments might want to be flipped!

[2017-03-23 18:17] koskimas commented on #335
Decorator is nothing but a function that takes a constructor function as its only parameter and optionally returns another (or the same) constructor. There is absolutely nothing they need to think about but that.

[2017-03-23 18:19] devinivy commented on #335
Sounds like a mixin– I think we're all good ;) :)

[2017-03-23 18:48] koskimas commented on #335
To sum up a gitter conversation about interoperability of decorators and mixins: Mixins can be easily curried into decorators especially if options are given as the first argument.

[code]

With this in mind, Mixins seem like the best combination of "works now" and "future proof".

[2017-03-23 20:47] juanjoLenero commented on #181
I'm piggybacking on this issue as this seems related to something I'm currently dealing with.

I have a model with both a table and a view. I want to be able to switch easily between querying the view and the model.

[code]
The problem, as you said, is that this breaks other query methods that fail to take the updated "tableName" into account.

[2017-03-28 23:47] ackerdev commented on #323
I'd like to add a note that if there is an expectation that users (and plugin developers) should be able to override objection to behave in this way, the way of doing so currently is pretty awkward, as it requires overriding behavior of InsertOperation instances in QueryBuilder.

[2017-03-29 07:54] adiamini opened #341 "Join fields lost when using eager"
`Model.query().select('pets.*')`

returns correctly:

[code]

When using eager like:

[code]

This returns wrong, with missing field:

[code]

In this example, field **id_pet** is present in both main table and relation table, and when using eagers it disappears from main table's result.

Note: this is an example, you can try with BelongsToOneRelation or ManyToManyRelation, issue is the same.
Note

[2017-03-29 08:08] adiamini commented on #341
I just tested downgrading back to 0.6.2, and then upgrading progressively to 0.7.0, then 0.7.1, then 0.7.2 ...

The issue appears when upgrading to version 0.7.4

[2017-03-29 08:19] koskimas commented on #341
Does it work if you leave out the `select pets.*`? I'm assuming that `Model.tableName` is "pets" in your example?

[2017-03-29 08:24] koskimas commented on #341
Could you chain `.debug()` method to the failing query and post the generated sql here?

[2017-03-29 08:25] adiamini commented on #341
Yes, Model.tableName is "pets".
Yes again, if I remove `select pets.*` it works. (However I need it to select other fields, pets.* is a simplification).

[2017-03-29 08:32] adiamini commented on #341
Debug:

[code]

[2017-03-29 08:33] koskimas commented on #341
Yeah, both `pets.*` and a list of columns should work. I was just ruling out a possibility. Seems like a bug that really shouldn't have ended up in a release. I'll try to reproduce and fix this immediately.

[2017-03-29 08:53] koskimas commented on #341
I'm not able to reproduce this. I tried that exact query with all different relation types and got all columns back. Could you please write a standalone app that reproduces the problem? There is something in your setup that is triggering this bug that you haven't mentioned here.

[2017-03-29 08:58] koskimas commented on #341
For some reason that I cannot figure out the implicit `pets.id_pet` select appears in the query, even though `pets.*` should already select the id. For some reason objection thinks the query doesn't select the needed columns. It then adds those columns to the select clause and removes the values afterwards (the feature added in 0.7.4). Is it possible that you have a typo in `Model.tableName` for e

[2017-03-29 09:18] adiamini commented on #341
I agree with your comment: if I debug the same query with 0.7.3 I see

`  sql: 'select `pets`.* from `pets`' }`

in place of

`  sql: 'select `pets`.*, `pets`.`id_pet` from `pets`' }`

I (nor anybody here) can't see any typo in the code.

However we are prefixing table names with database name (since we are merging tables cross different databases), so it actually looks more like:

`  sql: 'select

[2017-03-29 09:19] koskimas commented on #335
One more thing: Maybe the options should be the second argument after all?

Using the `timestamps` mixin as an example: most of the time you would be ok with the default column names and wouldn't pass any options to it. I think it would be cleaner to allow the mixin to be used without configuration like this `timestamps(Model)` instead of something like `timestamps(null, Model)` or `timestamps({},

[2017-03-29 09:25] koskimas commented on #341
The prefixing is the key here :D. Maybe you could have included that in the original example. Using a dot as a separator is not a good idea. I'm pretty sure many other things with objection and knex will blow up as they interpret anything coming after the first dot as the column name. Could you use for example `:` as the separator?

[2017-03-29 09:37] adiamini commented on #341
Sorry for not including that in original example, I couldn't figure out the problem could be related to that :-) I think I can't change the dot, because of sql (the dot is not inside the table name, it's to separate DB name and table name); actually if I replace it I got this:

[code]

The extra `id_pet` has disappeared, but ...

[2017-03-29 09:47] koskimas commented on #341
Oh, sorry! I thought you had just prefixed your table names. I can fix this particular case, but I'm pretty sure you will run into others that I cannot fix because of knex. I have never used multiple databases like this with mysql. Maybe you could use the `schema` method? That's a knex feature for postgresql schema's which is a similar feature. Objection supports that. Something like this:

[code]

[2017-03-29 12:30] #341 closed

[2017-03-30 07:04] koskimas opened #342 "Drop support for node < 4?"
I will drop the support for node versions below 4.0 in 0.8.0 release if I don't get too many objections. So speak now or forever hold your peace!

[2017-03-30 07:18] koskimas commented on #341
@adiamini 0.7.11 is out with this one fixed. I did some testing and you may not be as screwed with the cross-db dot separated queries as I thought. Everything I tried just worked.

[2017-03-30 07:27] elhigu commented on #342
I've been planning to do the same for the knex in near future.

[2017-03-30 08:14] koskimas commented on #307
This would break join based eager queries as well as any usage with `update` and `insert*` methods. Maybe we shouldn't do this. I'll add a mention to the documentation that this doesn't modify the database query. `limit(1)` needs to be used in addition to get the performance benefits.

[2017-03-30 08:14] #307 closed

[2017-03-30 08:16] koskimas commented on #295
The original issue has been fixed in 0.7.0 and I'm not going to fix it for earlier versions since this is not critical. Please open separate issues for the other cases if needed.

[2017-03-30 08:16] #295 closed

[2017-03-30 08:30] fl0w commented on #340
I'm a simple man, and thus I like simple solutions. Either let fetch in `*AndFetch` to be static (easy to maintain and explain), or require a separate chained call. My brain will hurt if I have to understand why some QB methods propagates down to the fetch call and some doesn't. I fear this might get messy to maintain?

[code]

[2017-03-30 09:04] koskimas commented on #340
@fl0w You have an excellent point. I was only thinking about `insertAndFetch` where it's pretty clear which methods belong to the insert part and which don't. With  `patchAndFetch` and others it's not clear at all.

So maybe it's better to forget about this.

[2017-03-30 09:04] #340 closed

[2017-03-30 09:15] denizdogan commented on #278
http://knexjs.org/ has a cool feature at the top right hand side where you can pick an SQL dialect. The Objection.js documentation would be much easier to navigate if visitors could switch between different ES versions for the examples!

[2017-03-30 09:59] adiamini commented on #341
Thank you ! I just upgraded to 0.7.11 and tested it and there are cases when it doesn't work: if I use `select('*')` it's ok, but if I use `select('pets.*')` it doesn't (I can see it still adds the extra `id_pet` field in debug).

[2017-03-30 10:02] koskimas commented on #341
If your table is `zoo.pets` and you select `pets.*` it won't work, because objection cannot know if there is a `pets` table in your "main" database your knex is connected to. `select('zoo.pets.*')` should now work.

[2017-03-30 11:32] adiamini commented on #341
Oh, right ! I can confirm that adding the DB name in the select it works. Thank you very much ! :-)

[2017-03-30 14:21] koskimas commented on #341
But column names should work without table name! For example `select('foo', 'bar')` should work now.

[2017-03-30 16:48] adiamini commented on #341
Yes of course. ... but I need table name because I'm getting data from joined tables too :-)

[2017-03-30 21:00] koskimas commented on #17
Is this going to happen some day or can I close it?

[2017-03-30 21:03] koskimas commented on #83
We should start moving towards 1.0 and real semver. @ next tag is already documented.

[2017-03-30 21:03] #83 closed

[2017-03-30 21:06] koskimas commented on #109
Closing this because of inactivity.

[2017-03-30 21:06] #109 closed

[2017-03-30 21:07] koskimas commented on #173
We should add support for other databases instead

[2017-03-30 21:07] #173 closed

[2017-03-30 21:08] koskimas commented on #198
Closing because of inactivity

[2017-03-30 21:08] #198 closed

[2017-03-30 21:28] mceachen commented on #83
* I wouldn't worry about alpha/beta/rc unless you've got a huge refactor coming.
* I'd hope you'd add deprecation warnings with instructions on migrations before breaking anything
* I'd let master document master, and as you tag source, you can tag your docs.

👍 for passing 1K stars, btw!

[2017-03-30 21:32] mceachen commented on #342
For the less initiated, is https://github.com/nodejs/LTS the authoritative security and support schedule?

[2017-03-30 22:05] koskimas opened #343 "Get rid of Model.RelatedQueryBuilder and always use Model.QueryBuilder"

[2017-03-31 06:05] elhigu commented on #17
I can do it. I have those queries and info already in the old blog post about postgres jsonb stuff. Just need to write them down here.

[2017-03-31 10:01] koskimas commented on #313
This will be fixed with #343

[2017-03-31 11:29] fl0w commented on #313
Alright, then I'll close this one.

[2017-03-31 11:29] #313 closed

[2017-03-31 13:02] matias025 opened #345 "orderBy using eagerAlgorithm"
Hi! After all, sorry about my english, I speak spanish and I'm using google translate...
I'm traying to use eagerAlgorithm, modify and orderBy in the same query, but the orderBy does not work.

Here is my code:
[code]
However, when I run the query that returns .debug () in pgadmin, it works.

I do not know if I'm doing something wrong, or it's a framework issue

Thanks! Matias

[2017-03-31 13:12] koskimas commented on #345
Could you be more specific: what happens, and what do you expect to happen? What's the query printed out by `.debug()`.

[2017-03-31 13:28] matias025 commented on #345
Thanks for the reply!
I pretend that the result is sorted by the field "fecha", but that does not happen, the result is sorted by the field "id".

The printed out query by .debug() is:

`
select "jornadas"."id" as "id", "jornadas"."terminal_id" as "terminal_id", "jornadas"."cantidad_tickets" as "cantidad_tickets", "jornadas"."total_apostado" as "total_apostado", "jornadas"."total_pagado" as "total

[2017-03-31 14:00] koskimas commented on #345
This is probably a bug in objection. Thanks for reporting this! I'll make sure that's the case and fix this on monday.

[2017-03-31 14:03] matias025 commented on #345
Thank to you!

[2017-03-31 17:26] ackerdev opened #346 "Always create queries from Model.query()"
Following #343, it seems like it would be beneficial if all queries internally could be started via `Model.query()`.

This would allow a pretty elegant way of setting default query options for all queries on a model:
[code]

[2017-04-01 10:29] elhigu commented on #17
https://github.com/Vincit/objection.js/pull/347

[2017-04-01 15:46] #345 closed

[2017-04-01 20:43] koskimas commented on #345
This bug is fixed in objection 0.7.12.

[2017-04-02 09:23] koskimas commented on #17
Merged

[2017-04-02 09:23] #17 closed

[2017-04-03 08:22] kapouer opened #348 "where(obj) with json fields"
Do objection supports
[code]
?

[2017-04-03 08:39] kapouer commented on #348
I found two other ways which involve not using objects:
[code]
which is a bit verbose because of the need to use the "=" operator,
and also `whereJsonField("tab.othercol", "otherval")` produces invalid sql by trying to access a json without path.

and
[code]
which could be a bit smarter about the type to default type to cast to (text because "val" is a string),
but doesn't work within an object:

[2017-04-03 09:10] koskimas commented on #348
Default casting could be improved i quess. @elhigu could what do you think? Is it feasible?

[code]

This just creates an object `{"[Object object]": "val"}` since `ref().castText()` returns an instance of `ReferenceBuilder`.

[2017-04-03 09:35] fl0w commented on #348
Wouldn't a `ReferenceBuilder#toString()` implementation solve this?

[2017-04-03 09:40] koskimas commented on #348
No it wouldn't. The whole point of `ref` function is that you don't need to access it through the knex instance (ref doesn't care which database is used). The `ref` instance is then expanded to SQL in build phase where a knex instance is available. We could simply return the input string from `toString()` but then why use `ref`at all?

[2017-04-03 09:41] fl0w commented on #348
Ah, I understand. Apologies.

[2017-04-03 10:06] elhigu commented on #348
@kapouer currently the correct way to do this is:

[code]

Old way with`.whereJsonField(...)` should be deprecated. I haven't added (at least intentionally) support to `.where(ojb)` to refer json attributes directly (I'm not sure if even field expressions can be used there yet to refer json attributes).

If the support is implemented one might need to do this (because string format of field expres

[2017-04-03 11:15] matias025 commented on #345
It works fine! thank you very much

[2017-04-03 15:50] gustavobilert opened #349 "Error with transaction and promises"
We are trying to use transaction following the documentation and this question: #140
But we always get this error:

I don't quite understand this error, to me it seems like the transaction auto commits when we call .then(), but that would not make much sense.

What can we do to prevent this error?

We are using Bluebird promises.

[2017-04-03 16:34] koskimas commented on #349
Please read and follow [these instructions](http://vincit.github.io/objection.js/#issues) about posting issues so that we are able to help you better. Only thing I can tell you based on this information is that your error doesn't come from objection but from knex or even the underlying database engine. Are you trying to use objection a browser? If so, that is completely untested and unsupported.

[2017-04-03 18:38] gustavobilert commented on #349
Ok, we are using it on Mobile Cordova, with a home made driver for SQLite (https://github.com/tgriesser/knex/pull/1676).
So the problem is probably there.
I had tought we were using the transctions and promises in the wrong way.
Thank you for your advice.

[2017-04-03 21:08] newhouse commented on #304
Haven't forgotten about trying to add some to the documentation/tests...super busy. I ❤️  you all though!

[2017-04-03 21:44] newhouse opened #350 "Postgres 'returning "id"' appended to Insert query on table/model that has no "id" column"
I'm using Postgres and (sadly) Objection 0.6.2, so maybe this is not an issue anymore, or perhaps it's a Knex issue.

I have a simple Model and table called `performance` that has the following columns:
`object_id`, `time` and a JSON `data` column.

Here's an example query giving me trouble:
[code]

When I perform that Insert query, I get an error back saying `error: column "id" does not exist`.

[2017-04-04 02:27] newhouse opened #351 "Possible to use instance property in `modify` of `relationMapping` triggered by an `eager`?"
Hello again, and thanks for all the hard work!

I'm wondering if the following is possible:
To utilize a property of a parent instance in the `modify` portion of a `relationMapping` for a Model that's triggered as part of an `eager` clause.

Example:
I have `Post` Model (table `posts`) which is related to the `Performance` Model (table `performance`) as `performanceHistory` by way of a `relationMa

[2017-04-04 03:33] koskimas commented on #350
The static idColumn property should point to an existing column. As a workaround you can set it to be any existing column like `object_id`.

[2017-04-04 05:13] koskimas commented on #351
Eager queries are created for multiple parents at a time for peformance reason. So there is no single parent for the query passed into the `modify` functions. For example in your eager query `[campaignRoles, broadcasts.posts.[channel, performanceHistory]]` one single `performanceHistory` query is generated for all posts of all broadcasts of all campaigns.

One way to do this is to override the `$a

[2017-04-04 05:38] newhouse commented on #351
Ok, thanks for the reply and the suggestion!

[2017-04-04 05:38] #351 closed

[2017-04-04 16:47] #350 closed

[2017-04-04 20:25] juanjoLenero commented on #19
I no longer have a use case for my original request. I stopped using the `commentable(string), commentable_id(integer)` pattern where `commentable` would be a table name and `commentable_id` the id of a record on that table.

I started using another approach that is completely compatible with Objection and mantains referential integrity. It's known as an [exclusive arc](https://hashrocket.com/blog

[2017-04-04 21:26] devinivy commented on #19
@juanjoLenero never heard of that– thanks for sharing!

[2017-04-05 05:50] fl0w commented on #342
@mceachen does have a point with node 4.x is dropping out of LTS soon. It's worth considering just clean-slate it to node 6.x instead.

Yet another consideration is for objection 1.x aim to be clean-slated for node 8.x+. By the looks of it, v8 5.7 seems to have been merged, which comes with a significant promise and async-await performance boosts.

Koa 2.0.1 (latest) dropped all support for node <

[2017-04-05 06:02] koskimas commented on #342
There's not much added benefit of dropping 4.x that I can think of. Even if we only supported 8.x or whatever that fully supports async/await, I wouldn't change the internals to use async await. There will always be a small overhead of using async/await vs. raw promises and most of the promise usage in objection internals is complex `Promise.all` stuff, that would still have to be done using promi

[2017-04-05 12:16] devinivy commented on #342
Regarding this,

I would greatly appreciate keeping the callback API around (bluebird provides it with `promise.asCallback()`).

I also support the direction of dropping babel when it becomes reasonable to do so.  _Looking up aspect-oriented programming_

[2017-04-05 13:07] peteyy opened #352 "$relatedQuery().insert() race condition"
[code]

The query runs in mysql which doesn't support batch insert so I'll have to manually map over the object and add it as a `$relatedQuery`. It works fine if I try to insert a single element, because it will assign that newly created element to the values array. But if there are multiple elements added, each of them will overwrite the current values array, therefore I'm going to end up with a

[2017-04-05 14:53] koskimas commented on #342
I don't think we have any reason to drop bluebird so promise.asCallback() will remain. I cannot imagine why anyone would use callbacks anymore 😜

[2017-04-05 15:18] wswoodruff commented on #342
loL wish there was a :trollface: reaction to posts

[2017-04-05 15:38] koskimas commented on #352
Maybe this:

[code]
? Don't know if it works. If it doesn't, you can always just manually assign the return value of the `Promise.map` operation to `someTable.values`.

This would get fixed with #323.

[2017-04-05 18:22] peteyy commented on #352
manually assigning is not good enough because `.toJSON` breaks in that case. I'd have to manually convert each of them to json.

[2017-04-05 18:26] koskimas commented on #352
You are doing something wrong. There is absolutely no magic in what `relatedQuery.insert` does with the models. All it does is assign them to the property named after the relation. If you have a relation named `foo` and you assign a model (or a list of models) to a property `foo` `toJSON` will get called for them also. If you really have a problem with this, please post a code snippet that reprodu

[2017-04-08 03:57] danielsalles opened #353 "Synchronizing with DB"
In Objection, can not synchronize the model with db?

Like a sync [Sequelize](http://docs.sequelizejs.com/en/latest/api/model/?highlight=sync#sync-promisethis)

[2017-04-08 05:36] koskimas commented on #353
Nope, and that's a design decision. Knex migration can be used to do that.

[2017-04-08 05:36] #353 closed

[2017-04-12 22:57] nlazzari opened #354 "Query based on eager loaded relation data"
I'm pretty new, so excuse me if this is a dumb question, or listed elsewhere. I'm wondering how I can make queries based on related model data that is eager loaded in?

For instance, I have a model called **Doctor**, that uses a HasManyRelation relation property **contactInfo** as such:

`contactInfo: {`
       ` relation: Model.HasManyRelation,`
       ` modelClass: __dirname + '/DoctorContact',`

[2017-04-13 00:04] ivanbaj opened #355 "whereInComposite for mssql"
I am trying to use whereInComposite with a mssql dialect.

The SQl that comes out is:

where ([Id], [OrganizationId]) in (@p0, @p1),(@p2, @p3).....)

However this is not proper TSQL for MS-SQL server.

Are there any plans for making whereInComposite  compatible with MS-SQL?

Or any guidance how to modify the code?

I see: './operations/whereInComposite/WhereInCompositeSqliteOperation'

Is the plan

[2017-04-13 01:14] newhouse commented on #354
This is a good one and I just tried doing it like 10 different ways, but most of them make multiple queries OR would return `Doctor` instances even if the `DoctorContacts.cityField` was not a match OR would not load up the `Doctor.contactInfo` relations as Model instances, etc, etc.

Here's what I found to be the most efficient way to get what I think you want. Apologies if there are any errors in

[2017-04-13 08:30] fl0w commented on #354
I think what you're looking for is [modifyEager](http://vincit.github.io/objection.js/#modifyeager). Based on the path expression, it appends to the related query.

Check out the examples in docs and write back if you have further questions.

[2017-04-13 08:35] koskimas commented on #354
Maybe something like this:

[code]

[2017-04-13 12:04] koskimas commented on #355
There are no plans to maintain MSSQL-specific things at least until there is some way to test them in travis. I will accept a pull request though.

`WhereInCompositeMSSqlOperation` is the way to do it. You also need to specify the operation class for the `whereInComposite` function in QueryBuilder the same way it is done for sqlite.

[2017-04-13 16:40] haywirez opened #356 "mapping.relation is not a function"
Getting a bunch of `mapping.relation is not a function` after project dependencies update (long time, 6+ months), is there perhaps a quick reason / suggested fix? Anyone encountered this? The models in my project are based on the ES7 documentation.

[2017-04-13 16:42] koskimas commented on #356
Are you using the old `OneToOneRelation` and `OneToManyRelation` types? They were deprecated and eventually removed. You should replace `OneToOneRelation` by `BelongsToOneRelation` and `OneToManyRelation` by `HasManyRelation`.

[2017-04-13 16:49] haywirez commented on #356
Yes, I think that's it! Thank you for the super quick response

[2017-04-13 16:49] #356 closed

[2017-04-13 23:42] mjyoung opened #357 "modifyEager with sum?"
Imagine I have a comment system with upvotes.

In my Comment model I've defined the relationship as such:
[code]

[code]

Doing this, votes always returns an empty array `[]`.

I'm able to get the votes separately without eager loading through comments:
[code]

The above returns:
[code]

I'm sure this is just user error on my part. Any idea how I can get this to work with `.modifyEager` so that I

[2017-04-14 00:28] nlazzari commented on #354
@newhouse - you were bang on, and the pitfalls you describe mirror my own.
The only other problem I'm running into now is that I'm trying to add pagination using .page(pageNumber, 10). When I add the .page query I get the error message:
'Error: TypeError: Cannot read property 'columns' of undefined'. Any idea how to solve this ?

@fl0w - I will try your edit solution using inner joins and let you

[2017-04-14 03:12] newhouse commented on #354
Loss of the use of `page` and `limit` methods are listed in the limitations of the [JoinEagerAlgorithm](http://vincit.github.io/objection.js/#eager), unfortunately.  Also, I've not used Objection's pagination helpers before but now's a good time to try.

You're starting to get into the realm of serious trade-offs, but for pagination I'm pretty sure you'll need a subquery to do it in 1 shot. There

[2017-04-14 09:16] #349 closed

[2017-04-14 09:19] koskimas commented on #352
Closing due to lack of activity. Please reopen if the problem remains.

[2017-04-14 09:19] #352 closed

[2017-04-15 13:22] adamryvola opened #358 "HasManyRelation - inserting child (same model)"
Hi,
I have model Message and each message could have sub-messages (list of child messages).
Relation definition is:
[code]

If I want to add some child message to messages collection I got error:

[code]
So it looks like hasOne, not hasMany relation.

I tried 2 methods for insert:
1. insert submessage with `parrent_message_id` attribute
2. insert message  (without `parent_message_id`) and then cal

[2017-04-15 14:16] koskimas commented on #358
I'm quessing the model you are trying to insert has some value in the `id` property...

[2017-04-15 14:17] #358 closed

[2017-04-15 17:54] koskimas commented on #357
Unfortunately you cannot do things like that in `modifyEager`. Objection expects the result of votes query to be an array of `CommentVote` objects that have `comment_id` property so that it can determine to which `Comment` they belong to. You seem to select only one `Comment` by id here, but there is no special treatment for such cases.

Since you are only fetching a single relation, you can do th

[2017-04-17 12:30] Claud opened #359 "Use context in model"
How i can get access to the context inside model?

[code]

[2017-04-17 14:05] koskimas commented on #359
There is no way to access the query context from `$formatJson` because it's not always associated with a request at all. What are you trying to achieve? Maybe you can use `$afterGet` instead? `$afterGet` gets passed the query context.

[2017-04-17 15:36] Claud commented on #359
I try access to "koa context" object. My "koa context" have common data: user model, log, id request. user timezone. I try use this data for processing result.

[2017-04-17 17:01] #359 closed

[2017-04-17 21:40] mjyoung commented on #357
Interesting! Thank you!

[2017-04-17 21:40] #357 closed

[2017-04-18 17:13] pvatterott opened #360 "QueryBuilder.toString() and QueryBuilder.toSql() throw TypeError when using JoinEagerAlgorithm"
In objection 0.7.9, when calling `QueryBuilder.toString()` or `QueryBuilder.toSQL()`, objection will throw an exception from `RelationJoinBuilder.js`.

The following code snippet should be a minimal repro:
[code]
throws the following exception:
[code]

[2017-04-18 17:17] koskimas commented on #360
Whoops! Actually there is no way to return anything useful from `toString` of a join eager query since the table information (all columns and types) need to be fetched first. `toString` will work after the first query thought. I need to add a better error message there.

You can chain `.debug()` method to the query to get the sql printed out. Will that work?

[2017-04-18 17:27] pvatterott commented on #360
`.debug()` is definitely sufficient for my immediate needs. However, there are a few places where I log a query to our logfile at debug level. The `toString()` method should at least not throw - I should be able to call `toString()` on anything without breaking execution (logging should be a benign operation).

[2017-04-18 17:29] newhouse commented on #360
+1 as I also recently experienced this "cannot read property 'columns' of undefined" error while calling 'toString()' on a query and was not sure what was going on. My case was in Objection 0.6(.2?).

[2017-04-19 05:28] koskimas commented on #354
@nlazzari Did you solve your problem? Can I close this?

[2017-04-19 11:56] richardsimko opened #361 "Strange join eager query issue"
I'm having some trouble using the Join algorithm for eager queries. When running my tests it will some normally resolve to the following SQL:

    select "TableA"."id" as "id", "TableA"."date" as "date", "relation"."id" as "relation:id" from "TableA" as "TableA" left join "TableB" as "relation" on "relation"."foreignKey" = "TableA"."id" where "TableA"."id" = ?

(I've omitted a lot of the columns b

[2017-04-19 12:38] koskimas commented on #361
It's really difficult to say anything based on this information without sacrificing hours to your problem. Please read and follow [the issues section](http://vincit.github.io/objection.js/#contribution-guide) from the contribution guide if you want more help.

What I can tell you based on this is that `select *` should never be there. The relevant code is found [here](https://github.com/Vincit/obj

[2017-04-19 12:44] richardsimko commented on #361
Yeah, I'm fully aware that it's a tall order to be able to give a direct answer to this (Which is why I wrote so in the ticket) however debugging a code base such as this one without knowing it is close to impossible, which is why I thought this would be the place to ask for pointers.

The fact that it shouldn't be there is helpful, now at least I know which of the two is the expected behavior ;)

[2017-04-19 12:54] koskimas commented on #361
I'd be happy to help if you can provide a standalone app that reproduces the problem (gets the `select *` there). `0.7.X` patch versions have lots of fixes for the eager join stuff. Are you using the latest version.

[2017-04-19 13:01] richardsimko commented on #361
Yeah, but the problem is for me to figure out what actually causes it, as the only reproduction I've found so far is running a certain subset of my test cases which is really odd.

I made a little bit of progress, noting that in the bad case the following array is empty: `columnInfo[modelClass.tableName].columns` in the method `buildSelects` in the piece of code you linked me to. Now I'm trying to

[2017-04-19 13:04] fl0w commented on #361
@richardsimko are you able to minimise and isolate what's happening? With current information, my only idea is that you're leaving a state which "overflows" to adjacent tests.

[2017-04-19 13:06] richardsimko commented on #361
I'm trying my best ;)

I'm using SQLite in-memory and wiping it between tests, my current working theory is that some part of the tests are not properly waiting for this to be done, causing objection to attempt a fetch of columnData when there are no columns (Because the migrations are being run) and as a result ending up with an empty list of columns. However there's a lot of guesswork involved f

[2017-04-19 13:18] richardsimko commented on #361
Found it! I've nailed it down to one of the test cases (Which was being run first in one case but not in the other) which runs through all methods triggering database queries, doing some validation on how input is handled. This test doesn't perform migrations in the "normal" way and since Objection caches the columnInfo, that bad state gets left behind for future test cases.

While I wouldn't real

[2017-04-19 19:31] nlazzari commented on #354
I'm still implementing this solution, will see tomorrow if this has done the trick.

[2017-04-20 14:46] richardsimko opened #362 "Empty object after json validation"
When using JSON validation with `patchAndFetchById()` (I'm assuming `patch()` behaves the same way) one can end up with an empty object after validation, since the `required` part of the schema isn't validated. This will result in invalid SQL statements such as this one:

    update "Test" set  where "Test"."id" = 1

Perhaps an error should be thrown after validation if the resulting model is comp

[2017-04-21 05:51] koskimas commented on #362
Yep. Currently all properties that are not listed in `jsonSchema` (if jsonSchema is defined) are omitted from the database representation. This behaviour will change in 0.8.0. You can already control it using the static `Model` property [`pickJsonSchemaProperties`](http://vincit.github.io/objection.js/#pickjsonschemaproperties).

Related to #299 and #308

[2017-04-21 05:51] #362 closed

[2017-04-21 06:02] richardsimko commented on #362
I knew I had seen something like that in the docs but I couldn't find it when I went back to look for it, thanks!

[2017-04-21 07:31] jeff3yan opened #363 "Querying a parent model by related properties"
I'm trying to filter a parent model based on it's related properties on PostgresQL, e.g.
Country _hasMany_ City _hasMany_ Customers

I want to query all customers who live in a country.

I thought the query would look something like this:
[code]

The eager query works as expected, including the related models on the customer rows.

However, using the alias in the where query results in postgres th

[2017-04-21 08:38] koskimas commented on #363
Since the whole relation tree is joined, you need to apply the filter on the root query like this:

[code]

[2017-04-21 10:05] jeff3yan commented on #363
@koskimas that works perfectly, wasn't aware that this was the case. Originally thought it was an issue with [objection-find](https://github.com/Vincit/objection-find).

Great to hear nested filtering exists with this type of syntax natively, as it's perfect to (partially) expose via API.

[2017-04-21 14:38] #363 closed

[2017-04-22 15:48] vitaly-t commented on #342
I dropped Node.js < 4 support for [pg-promise] 2 month ago.

Now only the [loading file](https://github.com/vitaly-t/pg-promise/blob/master/lib/index.js) supports the old Node.js, to detect and throw correctly.

@koskimas you can re-use the same approach in your library :wink:

[pg-promise]:https://github.com/vitaly-t/pg-promise

[2017-04-25 07:08] koskimas commented on #361
The `columnInfo` cache is the only global state objection stores. I would really like to get rid of it somehow, but the `columnInfo` queries need to be cached or they will destroy the eager join performance.

I could maybe store the cache in the `knex` instance. That way it would get destroyed with knex. Would this solve your problem? I don't really like adding a method like `objection.reset()` be

[2017-04-25 08:27] richardsimko commented on #361
Yeah, it's a really slim usecase. I worked around it by running the test causing the issues in a separate run. Is the variable holding the columnInfo exposed somehow? I realize that it would be a "private" variable but for a test it might be good enough to simply set it back to `undefined`?

[2017-04-25 12:51] Huulivoide opened #364 "Regression: 0.7.6 broke count()"
Prior to 0.7.6 doing `Model.query().count()` resulted in in a query `select count(*) from "model"` as the underlying knex count function defaults to '*' as the column name parameter, in an falsy value is passed in.

After 0.7.6 if no column name is specified the query becomes  `select "model".* from "model"`.

[2017-04-25 13:11] koskimas commented on #364
hmm.. Does knex documentation mention that `count` can be called without arguments? I didn't find it. I'm trying to make objection as compatible as possible with the knex API, but I don't try to reproduce the undocumented functionality.

It's possible that this worked before by accident. I'd recommend just changing the `count` calls to take a column name or `*`. Or is this somehow not an option?

[2017-04-25 13:16] Huulivoide commented on #364
The documentation doesn't mention that, but they do have tests for that functionality.

[2017-04-25 15:50] koskimas commented on #342
@vitaly-t Good idea about the loading file check. I'll do that.

Arrow functions and yield are there even in 4.0.0.

[2017-04-25 15:55] koskimas commented on #342
There is a 0.8.0 branch that no longer supports node versions < 4.0.0. I ended up removing babel as well. There was very little refactoring to be done (except for the decorators that are not there even for node 8).

Dropping 4.x would have made absolutely no difference in the user's perspective and very little even for the internals. There was a few places where I had used destructuring and rest p

[2017-04-25 23:48] vitaly-t commented on #342
I was only talking about droping Node.js < 4, never about dropping Node.js 4, that would be unthinkable.

[2017-04-26 13:36] VladShcherbin opened #365 "Objection with GraphQL usage"
I'm trying to wire graphql and objection to avoid N+1 queries. Simple example:

GraphQL:

[code]

Objection models:

[code]

So, now I want to take all leatherTypes and their colors with graphql resolvers:

[code]

It works, but produces N+1 queries. How is it possible to prevent this?

[2017-04-26 20:09] mattboutet opened #366 "Relate behaving in unexpected way for 1-to-many relation"
I'm using the `relate` function and it seems to pass the key through regardless of whether or not any records were updated.  For the return value, I'd have expected an integer representing the number of updated rows, or maybe the updated record, but what I'm getting back gives no indication of whether or not it succeeded.
Note: this is a MySQL DB.

[code]

This code is generating

[code]

Which is

[2017-04-26 23:07] newhouse opened #367 "Problem using composite keys on Model that uses $formatDatabaseJson and/or $parseDatabaseJson"
Hello there!

I've got an issue where I have a table/model called `Performance`, which has the following significant columns: `object_id`, `time` and `frequency`. (It actually has more, such as the actual data, but they're not significant I don't believe)

- As you might guessed, the `object_id` is a Foreign Key, but can point to a Primary Key on many different Models/Tables. Probably not signific

[2017-04-27 02:23] devinivy commented on #366
I delved into this a bit and found that the input to `relate()` is explicitly being returned, which isn't particularly useful.  It seems the code change to instead return the result of the underlying `patch()` (the number of affected rows) is relatively straightforward.  I think it would be useful.  Might this fit into v0.8 @koskimas?

[2017-04-27 13:16] Tapppi opened #368 "Timestamptz being parsed into js Date"
Hey, reading through past issues it seems dates from PostgreSQL timestamp with timezone isn't supposed to be parsed through dates, but since upgrading to latest from ~0.6.x, I'm getting back JS Date objects from a model. I don't have any custom type parsing.

I'll test this more once I have time, since this wasn't critical in this upgrade, but will be soon.

[2017-04-27 15:13] elhigu commented on #368
By default node-postgres parses timestamp, timestampz and date columns to Date objects. I don't remember that older objection would have changed that default behavior either.

[2017-04-27 18:00] Tapppi commented on #368
Alright, I must have been mistaken, I'll dig through if I just had my assumptions wrong about how this sits into our stack.

[2017-04-27 18:00] #368 closed

[2017-04-27 20:23] koskimas commented on #365
You may want to check out https://github.com/Vincit/objection-graphql. Its not actively maintained at the moment, but you can check out the code. Basically I get the graphql AST tree and build a eager expression from it. Then I only register a resolver to the root that performs the eager query.

[2017-04-27 20:32] koskimas commented on #366
Sounds like a good idea. I'll fix this in 0.8.

[2017-04-27 20:37] koskimas commented on #361
It's not exposed at the moment, but I can move it to `RelationJoinBuilder.columnInfo`. Then you could clear it out like this:

[code]

[2017-04-27 20:55] koskimas commented on #367
`$parseDatabaseJson` and `$formatDatabaseJson` get called in weird places to convert column names to property names (in case they have been overridden to perform for example a snake_case to camelCase conversion). You need to be prepared for undefined null and missing values in `json`.

Does the error go away if you only call `mapShortFrequencyToLong` when the json contains a `frequency` and make s

[2017-04-27 21:09] koskimas commented on #364
Fair enough. This will be fixed in 0.8.

[2017-04-27 23:04] newhouse commented on #367
I saw those _nota benes_ in the docs, and figured they are the reason behind the error. Unfortunately only mapping `frequency` when it's present as you suggested did _not_ result in the error going away.

Out of curiosity, I tried applying the same approach in the `$parseDatabaseJson` and received a new, different error:
[code]

Are you saying that you think this is a bug and can be changed/fixed

[2017-04-28 01:13] mitchellporter opened #369 "Insert succeeds with knex but not with Model subclass"
Hey, first off thanks for building this. I just got started using `objection.js` and I love it. The docs are great as well. I'm trying to insert new objects into Postgres and running into some problems.

I have two models, `Team` and `User`. A `Team` can have many members, and a `User` can only belong to one `Team`. So I have a one-to-many relationship, where team is the one and user is the many.

[2017-04-28 01:20] mitchellporter commented on #369
Update: I have been staring at this code too long so not sure what I did, but I now have the `User` inserts working, but the foreign key column for `team` is always null. Am I not supposed to be inserting new objects with a foreign key column set to an id?

Ideally I'd be able to set the `team` column on `User` to not null so that it's required, because in our system a user cannot exist without a

[2017-04-28 01:31] newhouse commented on #369
I'm on the move now so can't dive all the way in,  but the problem with your second issue is probably because your models do not have any JSON schemas defined. I believe the query builders will strip out any properties it doesn't recognize from the object you're inserting. You need to add a JSON schema that defines any properties you want to use the Model as mediator to the DB for. Hope that makes

[2017-04-28 02:27] mitchellporter commented on #369
@newhouse Appreciate the fast reply! I added the following json schema code to my `User` model but the `team` field still isn't present when logging in `$beforeValidate` and doesn't have a value in Postgres either.

static get jsonSchema() {
		return {
			type: 'object',
			required: ['id', 'email', 'password', 'name', 'avatar_url', 'position', 'team'],
			properties: {
				id: { type: 'integer' }

[2017-04-28 05:30] richardsimko commented on #361
Yeah, that would work! Since it's only for the purposes of a test case so I feel like it would be OK to use a private variable that way.

[2017-04-28 06:28] mitchellporter commented on #369
Can't test till morning but per https://github.com/Vincit/objection.js/issues/333 I think this is because the relationship name of team is conflicting with the actual team column name in my User table.

[2017-04-28 08:05] koskimas commented on #369
`jsonSchema` is optional. The properties are stripped only if you have defined a schema. That behaviour can be changed by `pickJsonSchemaProperties` and starting from 0.8 the default value for that will change to false.

The problem exactly what you just figured out yourself. The relation name cannot be the same as the foreign key.

[2017-04-28 08:08] koskimas commented on #367
This is definitely a bug, but I cannot figure out what is causing this if my suggestion didn't fix it. Could you create a minimal standalone app that reproduces the problem?

[2017-04-28 12:53] mattboutet commented on #366
@koskimas -- I'd be happy to submit a PR to make this change.  I've already made the code changes, and am hoping to go through the tests this weekend.

[2017-04-28 12:55] koskimas commented on #366
For `BelongsToOne`, `HasOne` and `HasMany` relations `relate` is an update operation and returning the number of affected rows makes sense. For `ManyToMany`  and `HasOneThrough` it's an insert. What should we return for those? I see two options:

1. Keep the API consistent across relation types and return a number (the number of inserted rows)
2. Return what the insert would natively return (the i

[2017-04-28 12:59] koskimas commented on #366
@mattboutet Thanks for the offer, but this is a small change and it's easier if I do it myself.

[2017-04-28 13:59] devinivy commented on #366
I'd go with whatever is most flexible– so probably pass-through what it would natively return.  That way (I think) one could take advantage of postgresql's `returning()` trick to, for example, obtain the newly created join records or updated records.  That idea relates to something I was wondering about with `relate()`– might it make sense to allow passing the full join record to `relate()` in the

[2017-04-28 16:58] mitchellporter commented on #369
@koskimas Yep, it fixed it. I ended up renaming the column name to `team_id` in the `User` table. I do have another question though. I wanted the `User` model to have a `team` property for the relation mappings, and this works fine, but one thing I noticed is that when incoming json comes in to create a new user, the json field needs to be `team_id` instead of `team`.

I had no problem renaming al

[2017-04-28 17:42] koskimas commented on #369
`$parseDatabaseJson` and `$formatDatabaseJson` methods are used to map the object from/to the database format. Similarily `$parseJson` and `$formatJson` methods are used to map from/to the "outside world representation". Whenever a model is created explicitly/implicitly for example in `insert`, `patch` etc. methods the data gets passed through `$parseJson`. Whenever the object is serialized to jso

[2017-04-28 18:08] newhouse commented on #367
Yeah I can whip something up. Before I do, I didn't mention that I'm still using 6.x. Do you think that changes anything materially?

[2017-04-28 21:39] newhouse commented on #367
This reproduces this issue for me:
https://gist.github.com/newhouse/88acab94f45388a8fa19070926779556

Let me know if you need anything else...

[2017-04-29 07:55] VladShcherbin commented on #365
Would be great to see an example of this (in the docs or in the examples folder) as graphql is getting a hype today.

[2017-04-29 08:32] koskimas commented on #367
Thanks for the excellent repro! If only I got one of these every time someone had a problem.

The problem is in objection, but I don't know if it is a bug or not. As you found out also, a new error is thrown if you also check the existence of `frequency` in `$parseDatabaseJson` but that's what you should do. The error in that case is because objection doesn't map the `id` values through `$formatDa

[2017-04-29 08:48] koskimas commented on #365
https://github.com/Vincit/objection-graphql is the example 😄

This isn't a simple problem and objection-graphql is pretty much the minimal amount of code you need to do it. If you build your GraphQL schema by hand you can probably get forward by simply checking out the [buildEager method](https://github.com/Vincit/objection-graphql/blob/master/lib/SchemaBuilder.js#L230).

[2017-04-29 08:48] #365 closed

[2017-04-29 14:49] fl0w opened #372 "Feature request: add JoinEagerAlgorithm equivalent for loadRelated"
A common use case I keep stumbling upon is having allot of 1-1 relations in "large" quantities loaded eagerly. For example, query an account and all its users, and some user meta table.

`Account` <== `User` <-- `Meta`

Instinctively I'd like to avoid throwing a 3-4k `whereInComposite` query at Postgres by doing:
[code]

There's simple workaround today by splitting the request e.g.
[code]

*Discla

[2017-04-29 18:14] mitchellporter commented on #369
@koskimas I read your response yesterday and was excited to get in this morning and get it working. However, I'm still running into problems. When `$parseJson` is called, the `json` param never has the `team` property set on it. If I rename it to anything other than `team` (which is the same name as the relation mapping property), then it exists in `$parseJson` and I can do whatever I want with it

[2017-04-29 18:53] mitchellporter commented on #369
I have tried hooking into the following methods but can never access a `team` field on the json:
`$beforeValidate`, `$setJson`, `$setDatabaseJson`, `$parseDatabaseJson`, `$formatDatabaseJson`, `$parseJson`, `$formatJson`.

`$parseDatabaseJson` is always the first to fire and the `json` param looks like this the second time that it fires: `{team_id: null}`

If I edit the `relationMappings` in my `U

[2017-04-29 18:53] mitchellporter commented on #369
@koskimas  I have tried hooking into the following methods but can never access a `team` field on the json:
`$beforeValidate`, `$setJson`, `$setDatabaseJson`, `$parseDatabaseJson`, `$formatDatabaseJson`, `$parseJson`, `$formatJson`.

`$parseDatabaseJson` is always the first to fire and the `json` param looks like this the second time that it fires: `{team_id: null}`

If I edit the `relationMapping

[2017-04-29 20:06] mitchellporter commented on #369
The only workaround I've found for this is to first create an instance of my `User` model class, and then query and insert off of that:

[code]

Hopefully there's another way though to use the convenience of the static method and just passing in `req.body` like the examples show. Thanks for the help.

[2017-05-01 16:59] newhouse commented on #367
I can make it work and realize that it's probably just how it is and needs to be. Thanks for looking into it!

[2017-05-01 16:59] #367 closed

[2017-05-01 18:41] koskimas commented on #369
@mitchellporter Did you remember to check for `team` __before__ calling super in `$parseJson`?

[2017-05-01 23:11] mitchellporter commented on #369
@koskimas Yeah I did. I went back and copy/pasted your code when it first failed just to make sure I didn't mistype something. Here's a quick recap.. If I run the following code, $parseJson is called, but the `json` param never has a `team` field so there's nothing for me to change or format anyways:

[code]

If I run this code instead, then when $parseJson is triggered, there is a `team` field on

[2017-05-02 00:04] VladShcherbin opened #373 "Correct insertGraph usage"
I'm got User and Permission (many to many).
User has unique fields (username, email), same as Permission has unique (title, description).
Simple user insert example:

[code]

First user will be added with no problem, the second will hit the unique error:

[code]

However, the second user info will be stored in the database, but without permissions. Isn't it supposed to rollback all second user que

[2017-05-02 07:27] koskimas commented on #373
Objection never starts a transaction implicitly. You need to start a transaction yourself and perform the insert inside it.

[code]

[2017-05-02 07:30] VladShcherbin commented on #373
@koskimas thanks, will try this. What's the recommended way of returning unique validation error here?

[2017-05-02 07:34] koskimas commented on #373
What do you mean? If `insertGraph` throws in this example, the `await objection.transaction(...)` will also throw the same exception after the transaction has been rolled back. Do you mean how to detect the unique violation error and send seomething useful back to the client?

[2017-05-02 07:37] VladShcherbin commented on #373
@koskimas yeah, a recommended way how to handle unique violation in `catch` to send a useful error object to the client (didn't want to open another issue for this question) ?

[2017-05-02 07:43] koskimas commented on #373
That's a bit tricky at the moment.. There are no libraries that map the errors of various database clients (postgres, mysql, mysql2, sqlite, etc.) to a shared set of errors. Basically you need to handle whatever your database client throws. For postgres I have used utility functions like these:

[code]

[2017-05-02 07:45] VladShcherbin commented on #373
@koskimas looks hacky. Thank you a lot, will try this.

[2017-05-02 07:45] #373 closed

[2017-05-02 09:17] koskimas commented on #369
Thank you for the detailed description. I think this is a bug. I took a glance of the code and in the `insert(user_json)` case the relations are stripped away before `fromJson` is called. I can't remember a reason for that. I'll see if I can remove or alter the code so that what you do is possible.

[2017-05-02 17:55] mitchellporter commented on #369
@koskimas Of course no worries and likewise I appreciate the help. I'm really looking forward to using objection on some fun projects and potentially contributing. Thanks.

[2017-05-03 03:40] devinivy opened #374 "Should we think about models differently for aggregate queries?"
Model instances seem to represent a table "row" conceptually, at least in the sense that they are validated upon writes (they seem to not be validated when fetched from the database– is that correct?).  I find this to be a little confusing when performing reads that do not actually return a valid record.

A simple example of this is when performing an aggregate query, where the result does not rep

[2017-05-03 10:33] drew-r opened #375 "Define named filters on model"
Currently you can supply named filters when doing eager stuff, e.g
[code]
It would be cool if you could define these named filters at the model level on the related model itself.
That is to say,
[code]
Thinking here is that the filter implementation is a concern of the model being filtered, not some related consumer of the model.
Probably the named filters passed immediately to the query should ov

[2017-05-03 13:48] koskimas commented on #375
You can do this:

[code]
or this:

[code]

I think this is pretty easy to implement on the application side and maybe shouldn't be added to objection.

[2017-05-03 18:41] drew-r commented on #375
Thanks @koskimas
I came up with the same kind of implementation as your first example and have also used functions to create parameterised filters.
When working with multiple relations I was looking at merging named filters from multiple models but you run into trouble where filters from different models could overwrite one another - 'active' could mean different filters to different models.

I re

[2017-05-03 18:52] drew-r commented on #304
Could a method like `model.$refresh()` or `model.$refreshRelation('relation')` help here?

If a model instance is able to hold on to the query that generated it (and apply some magic to limit the result set to only that particular model as with `$query()`), it can be refreshed at will .
Same with it's relations but not sure this could work for join algorithm.

This would allow me to run relatedQue

[2017-05-03 20:14] #308 closed

[2017-05-03 20:14] #343 closed

[2017-05-03 20:14] #346 closed

[2017-05-03 20:14] #364 closed

[2017-05-03 20:14] #361 closed

[2017-05-03 20:14] #366 closed

[2017-05-03 20:14] #369 closed

[2017-05-03 20:37] koskimas commented on #374
There is the `knexQuery` method:

[code]

[2017-05-03 20:41] devinivy commented on #374
Ah, thanks!  That's actually great for my purposes– I had overlooked it.

[2017-05-03 20:41] #374 closed

[2017-05-03 20:41] koskimas commented on #375
My second example would probably work (to some extent) how you want if you are using the default `WHERE IN` based eager algorithm since it calls `eager` recursively.

[2017-05-03 21:03] newhouse commented on #304
Just submitted a PR for the documentation: https://github.com/Vincit/objection.js/pull/376

I'll try my hand at adding tests if I feel brave enough...

[2017-05-03 21:04] koskimas commented on #278
ES5 support is now removed in the master branch and will be released with 0.8.0. ES5 examples have been removed, node 4.0.0 examples are the default (the lowest supported node version) and then there are ESNext examples.

[2017-05-03 21:04] #278 closed

[2017-05-03 21:05] koskimas commented on #342
Done in master branch. Will be released with 0.8.0.

[2017-05-03 21:05] #342 closed

[2017-05-03 21:07] drew-r commented on #375
Forgive me I don't follow... can you expand?

[2017-05-03 21:11] koskimas commented on #375
It was poorly written and incorrect. Never mind 😄

[2017-05-03 22:53] roytz opened #378 "Parsing knex.raw() result to a model"
Hi,
Is there a way calling parsing `knex.raw()` result to a specific model (the query I run returns a specific model)?

More so, if I call a postgres function (I created) using `knex.raw()`, can I get the result "objectified" to a clear json and not having to go through all the object 'rows'?

Thanks

[2017-05-04 03:05] pavannaga opened #379 "BUG Updating invalid column along with valid column does not error out in patchAndFetchByid"
Updating invalid column along with valid column does not error out in patchAndFetchByid
Let say we have a table called `Users` in `db1`.
Users schema looks like this
[code]

Now we try to patchAndFetchById for userid 1 whose employerId column should be updated to 3 from 2
I use this

[code]
After running that program with sqlite3 or mysql2 client, I see the promise is resolved with this result

[c

[2017-05-04 03:28] newhouse commented on #379
My guess is that this is a "feature" and not a "bug". Because your Model has a `jsonSchema`, I think the patch data is _filtered then validated_ using that, and an error is only thrown if/when you try to pass a invalid value to a property defined in the `jsonSchema`. I'm guessing it works like that by default so as to allow for the accumulation of arbitrary data to the patch/update/insert object.

[2017-05-04 08:28] koskimas commented on #379
@newhouse is right. [`pickJsonSchemaProperties`](http://vincit.github.io/objection.js/#pickjsonschemaproperties) property can be used to control this behaviour. Starting from version 0.8.0 the default will be changed from true to false.

[2017-05-04 08:28] #379 closed

[2017-05-04 08:31] koskimas commented on #378
Could you give an example of how you are trying to use it?

[2017-05-04 11:09] roytz commented on #378
Sure, I call `knex.raw('select some_function()')` which call a postgres function I created that does some work but eventually returns rows of known (and "modelized") object.

[2017-05-04 11:19] koskimas commented on #378
So you are asking if objection modifies the output of `knex.raw`? The answer is no. Objection in no way monkey patches `knex.raw`. If you have a question about the output of `knex.raw` you should probably ask this question in knex forums or github.

[2017-05-04 11:19] #378 closed

[2017-05-04 15:15] shai32 opened #380 "Calling Functions with objection"
does objection support calling to functions:
https://www.postgresql.org/docs/9.6/static/sql-syntax-calling-funcs.html

it will be nice if we had something like.
Model.call('functionName', args)
that call the function and return the result as js object.

[2017-05-04 15:41] elhigu commented on #380
As you noticed this has been discussed in knex lately https://github.com/tgriesser/knex/issues/2021

Making up syntax for calling stored procedures/functions in platforms independent way, that supports e.g. casting parameters (or some other strange things people might like to do when calling) and using function calls as part of other queries / calls is not very trivial task.

For now I would sugge

[2017-05-04 15:49] newhouse commented on #378
Perhaps your best bet is to use [fromJson](http://vincit.github.io/objection.js/#fromjson) somewhere/somehow to create Model instances from the results of that function.

[2017-05-04 16:14] roytz commented on #378
@koskimas it seems like you didn't understand my question.. In no place I requested for a monkey patch but a simple objet conversion from the knex.raw() results.

@newhouse thank you. I guess that's what I'll do.

[2017-05-04 16:15] shai32 commented on #380
@elhigu can you consider adding it in a roadmap?

its not trival but I think its feasible.
I think using functions are good, performance wise, and this feature will encourage using functions.

[2017-05-04 16:42] elhigu commented on #380
I think that feature should be implemented at knex level if there will be good syntax proposal which is significantly cleaner to use than `raw`.

For example it is common to use functions as a part of select/where like this (dummy code, couldn't think of real query at the moment):

[code]

AFAIK just calling some function and getting the results is pretty uncommon use case.

[2017-05-04 16:49] elhigu commented on #378
@roytz how about you call

[code]

to be able to make query through objection instead of directly calling knex? I have no idea what kind of result object you will get like that though...

[2017-05-04 20:27] roytz commented on #380
@elhigu I also think it should be implemented at knex level.
Why calling function and getting results is uncommon? If I want to do some complex actions on multiple tables it is much more efficient calling a function(/store procedure) with the relevant parameters that will do all the work and return the relevant result instead of passing the whole query from the server as string (and definitely bet

[2017-05-05 07:37] elhigu commented on #380
@roytz uncommon compared to the case where people call them as part of select / where to do conversions etc. I believe that you are using them all the time.

About the performance some times it is a lot more performant, some times it is marginally more performant. From my career I can remember only one case years ago where we had to write stored procedure to make query enough performant (IIRC it w

[2017-05-05 08:00] koskimas commented on #380
This is definitely something that needs to be implemented on the knex side.

[2017-05-05 08:00] #380 closed

[2017-05-05 23:44] mitchellporter opened #382 "Docs should go into more detail for jsonSchema behavior and pickJsonSchemaProperties for validation"
A colleague and I realized through trial and error yesterday that when you implement `jsonSchema` in a `Model` subclass, that any properties in the json that are not listed in the `jsonSchema` property will be excluded from the insert or update.

The only place I found this mentioned in the docs was under the description for `pickJsonSchemaProperties`, but no mention of this property or the above

[2017-05-05 23:45] mitchellporter commented on #382
I would happy to take a first pass at this and submit a PR for this if you guys agree.

[2017-05-06 04:12] koskimas commented on #382
The default value for pickJsonSchemaProperties will be changed to false in version 0.8.0. Thank you for the offer but after the change it doesn't need extra documentation. 0.8.0 is coming soon.

[2017-05-06 04:12] #382 closed

[2017-05-07 07:30] shai32 commented on #378
@elhigu: I tried that, not working

[2017-05-07 16:26] koskimas commented on #372
Good idea. I can't promise anything before I see if there was a reason I didn't do this in the first place.

Regarding your example, why don't you just do this:

[code]

?

[2017-05-07 22:49] retorquere commented on #60
What is the ES5 equivalent for this? I can't yet move to ES6.

[2017-05-08 07:29] koskimas commented on #60
@retorquere Objection now has a real support for virtual attributes. Check out the documentation
http://vincit.github.io/objection.js/#virtualattributes

[2017-05-08 19:32] #355 closed

[2017-05-11 11:37] fl0w commented on #372
@koskimas Micro optimisation was the initial reason, really. The example is not real-world.
Consider having a larger amount of users rows, I'd love to avoid duplication thrown from account table for each user, it's the same for each.

[2017-05-13 01:34] roytz opened #383 "Complex queries"
Hi,
From what I read in your api I saw we can use `where`/`andWhere`/`orWhere` and each receives search conditions.
What if I want to do something more complex such as:
[code]
Is there a way achieving it using the selectors above?
Thanks.

[2017-05-13 07:28] fl0w commented on #383
Yes, if you pass a function it'll be grouped.
Your example would translate to
[code]

There's a better description at http://knexjs.org/#Builder-where

[2017-05-13 14:17] roytz commented on #383
That's exactly what I look ed for @fl0w , thanks!

[2017-05-13 14:17] #383 closed

[2017-05-15 07:23] peteyy commented on #70
I have the same issue as @nurkkala, when using `through` queries, all of the fields are selected. Do you know any workarounds for that?

[2017-05-15 13:15] kapouer commented on #70
Hmmm this works:
[code]
however i only had troubles trying to use `relationMapping.filter` as a default replacement.

[2017-05-16 04:20] kdmcclel opened #384 "Join table with extra columns - Patching"
#97

Any chance we could make similar changes for patching?  This would simplify some code.  If I add a .where() it checks the related table and not the through table.  Or is there already a way to specify where() on the through table?

Example based on other post:
[code]
Result:
[code]

[2017-05-16 04:41] kdmcclel commented on #384
Hmm I guess the workaround isn't too complex.

[code]

[2017-05-16 04:44] koskimas commented on #384
What version are you using? Patching with extra columns doesn't currently work, but the query I'm getting is

[code]

Was the `Result` you posted the thing you want or the thing that is currently happening?

[2017-05-16 05:06] kdmcclel commented on #384
The result was what I am looking for.

[2017-05-16 08:58] koskimas commented on #335
After some additional research I ended up with mixins that only take one argument: the class to extend. Options should be passed using a factory method like this:

[code]

This keeps the mixins simple and supports the decorator case without modification. There is no commonly agreed specification for mixins. Taking only one argument keeps them compatible with libraries like [mixwith](https://github

[2017-05-16 12:23] #242 closed

[2017-05-16 20:54] dearsaturn opened #385 "Flow typedefs?"
Are there plans to support flow-type in the future?

[2017-05-17 07:21] elhigu commented on #385
Also typescript bindings were kindly contributed by the library users. So if someone is willing to create and maintain flow-typings I don't see any problems for supporting it.

[2017-05-21 23:03] facundopoblete opened #387 "Exception getIdProperty ?"
I'm using objection & MSSQL.
My model (ClassA) is something like this:

[code]

And for the objection query I defined my where clause in a var objectClassA.

[code]

But this throws a exception: "TypeError: model.constructor.getIdProperty is not a function."

[2017-05-22 08:00] koskimas commented on #387
This probably has something to do with the constructor and the ES5/6 the typescript compiler produces. What happens if you remove the constructor and use `fromJson` method instead? Also you don't need to pass a model instance to the `where` method. You can just use an object literal.

[2017-05-23 11:52] #335 closed

[2017-05-23 12:06] koskimas commented on #384
So what you actually want is this:

[code]

to produce

[code]

?

In your example both `order` and `name` were in the patch object.

Unfortunately this is currently difficult to implement since objection doesn't parse `where` calls. It simply passes them to knex. We would need to parse the `where` calls and then move the ones that mention one of the extra properties to the subquery.

I will close

[2017-05-23 12:07] koskimas commented on #354
@nlazzari how about now?

[2017-05-23 16:23] amiuhle opened #388 "Class constructor Model cannot be invoked without 'new'"
I'm getting the following error after upgrading to `0.8.0`:

[code]

[2017-05-23 16:38] koskimas commented on #388
Yep, please read the change log. You need to migrate from the legacy ES5 inheritance to `class` and `extend` keywords. This is because of the way classes are implemented in Ecmascript. You cannot invoke `class` constructors without `new` and therefore this doesn't work:

[code]

[2017-05-23 22:17] nlazzari commented on #354
Sorry, yes it's good now, you can close the thread. Thanks everyone, I appreciate your help.

[2017-05-24 04:07] #354 closed

[2017-05-24 08:12] amiuhle commented on #388
Thanks. I did look at the changelog, maybe you should be more explicit about Babel.

I have shared code between backend and frontend, guess I'll have to do some refactoring before I can upgrade to `0.8.x`.

[2017-05-24 08:38] koskimas commented on #388
You're right, I'll add a mention about Babel & friends to the change log. I'll also leave this open for other people to find.

[2017-05-24 09:57] koskimas commented on #387
@facundopoblete Did you solve this? If so, please close this issue.

[2017-05-25 16:24] facundopoblete commented on #387
@koskimas Same problem.

[code]

[code]

const idProp = model.constructor.getIdProperty();

**model debug info** =>
Builder {client: Client_MSSQL, and: Builder, _single: Object …}

**model.constructor debug info** => function Builder(client) { … }

[2017-05-25 16:45] koskimas commented on #387
Weird.. I'll try to reproduce.

[2017-05-25 18:39] koskimas commented on #387
It was an actual bug. Really weird that this hasn't come up earlier. Passing a model instance to the where method broke things mysteriously. I still don't know why you do that :D. Anyway fix is on the way. I'll release it with the next patch version 0.8.1.

[2017-05-25 19:36] #387 closed

[2017-05-26 20:05] solumos commented on #251
I would suggest that you re-open this. the `ltree` plugin has its own set of operators (see https://www.postgresql.org/docs/9.1/static/ltree.html)

There is a simple third-party Django field that supports the most common operators for Django:

https://github.com/whitglint/ltreefield

[2017-05-28 09:54] koskimas commented on #375
After giving this some thought, I think I'll implement this. There are some fun things you can do with this. For example graphql-like selects:

[code]

[2017-05-28 10:43] akramali86 opened #389 "Eager only loads related many to many relation for first result"
Hi, i'm having an issue where i'm trying to load a many to many relation using an eager query. But its only loading them for the first result.

This is the query which i'm trying to execute

[code]

Relation Mappings for the Task model
[code]

The result of the above query is this:
[code]

As you can see, only the first result has its relations loaded, in the database every Task has at least 1 man

[2017-05-28 11:13] koskimas commented on #389
Sorry, I'm unabled to reproduce this. Could you create a minimal standalone app that I can easily run that reproduces the problem? I tried to create a similar query, and got all results (also there are multiple similar queries in the test set).

[2017-05-28 11:14] ssljivic opened #390 "Eager and LeftJoinRelation"
It seems that an error is thrown if `eager` and `leftJoinRelation` are used with the same path prefix:

[code]

The above will throw error the _"table name "children" specified more than once"_.

[2017-05-28 11:46] ssljivic commented on #390
Forgot to mention: eagerAlgorithm is **JoinEagerAlgorithm**

[2017-05-28 13:24] akramali86 commented on #389
Hi, Thanks for the quick response, After a lot of testing i figured out It appeared to be something to do with the user model having a default join algorithm. Removing the default join algorithm would make it run fine. I created a small app as you requested and to my surprise it was working as intended. I then uninstalled objection, and installed the latest version and it's been working perfectly.

[2017-05-28 13:24] #389 closed

[2017-05-28 15:59] koskimas commented on #390
`.leftJoinRelation('children.pets')` creates exactly the same join as `eager('children')` (plus the join for `pets`). You have two options here:

1. Call `.eager('children.pets')` and you don't need the`leftJoinRelation`
2. Use `WhereInEagerAlgorithm` for the eager part.

I would be possible to detect which joins have already been created and skip those when added the second time, but currently th

[2017-05-28 16:39] koskimas commented on #251
This is a perfect candidate for a plugin. I don't think this should be a part of objection core.

[2017-05-28 19:03] #375 closed

[2017-05-28 20:05] ssljivic commented on #390
@koskimas thanks for answering.

The option #1 is not optimal. eager on children.pets would return all pets in a result set, which is not desirable. Therefore I need leftJoin on 'pets' so that where condition can be applied on pets without returning them in a result set.

[2017-05-29 04:29] koskimas commented on #390
You get the result even when using just `leftJoinRelation`. The __only__ difference is that `eager` parses the result from the a flat list of records into a tree structure. Maybe as a workaround, you can  simply omit the pets afterwards:

[code]

[2017-05-29 05:03] koskimas commented on #211
I've started writing this three times and ended up saying "**ck it, it's too hard" followed by `git reset --hard`. `upsertGraph` has soooo many problems to be solved and things to consider that I'm beginning to wonder if it can be implemented in a clean and useful way.

### Problem 1

We would need to detect existing models from the fact that they already have id's present. There is no other meani

[2017-05-30 06:58] fl0w commented on #385
Is it even possible to externalise flow typings? I thought it had to reside in source (e.g. cannot opt out without removing flow)?

[2017-05-30 07:36] elhigu commented on #385
@fl0w in that case it sounds impossible to support flow-type

[2017-05-30 07:40] fl0w commented on #211
Would it simply the issue if it's very strictly defined/specced? I.e. be very defensive of it capabilities.

The problem I see with these type of high level functions is the magic (my opinion). They're great as an USP, but at the end of the day maintaining these dragons is hard (unmanageable?).

**Problem 1**
if `id` exists, I has to be an update - if not rows were updated, throw. Since it would t

[2017-05-30 08:34] debone commented on #181
I'm facing the same issue and not having success solving it, does anybody has a light on how to bypass this without going raw?

[2017-05-30 11:19] fl0w commented on #385
@elhigu yea, that's what I'm pondering about. I would say it's to intrusive and would re-introduce babel (+flow) as a hard dependency

[2017-05-30 11:22] koskimas commented on #385
I know nothing about flow types, but isn't this what we want https://flow.org/en/docs/libdefs/creation/

[2017-05-30 11:25] fl0w commented on #385
@koskimas I swear I was searching flow docs for 5 minutes for it. Sorry for the confusion all. I'll show myself to the coffee brewer.

[2017-05-30 11:54] koskimas commented on #181
The problem with eager loading is that `relationMappings` have the source and target table hardcoded in them. Changing a table name for a query would require recreating all relations of all models that mention the changed table. It would require quite a bit of refactoring to make this work.

[2017-05-30 14:58] debone commented on #181
Thanks for the answer. I assume then that the proposed solutions for "tableName" wouldn't be feasible so, or would it? Because the hard-coded string now would be returning the aliased name.

[2017-05-30 16:49] koskimas commented on #390
This is one option:

[code]

but not optimal for performance.

I'll try to figure out how to fix this, but I'm not positive it can be done with a reasonable amount of work. For objection to be able to detect if the same join has already been made, I would have to implement equality check for the query builder, and that's __a lot__ of work.

[2017-05-30 17:29] dearsaturn commented on #385
You can create `libdefs` the way the `flow-typed` project does and install them using their module.

[2017-05-30 17:48] musou1500 commented on #360
`toString` should execute synchronously, but [fetchColumnInfo](https://github.com/Vincit/objection.js/blob/c5a640c5bccea76ffbc296adfb62addfc48d6496/lib/queryBuilder/operations/eager/RelationJoinBuilder.js#L55) fetches column info asynchronously.

Is it possible to process it synchronously ?
I think get column info from jsonschema definition in model.

[2017-05-30 22:16] newhouse commented on #390
@ssljivic Can you provide an example of the SQL you'd be trying to generate? I feel like there are a few important details missing from this description that really change the possible route you should take and the area where the solution can/should be found. Example:

Are you trying to get "People + their Children + their Children's Pets that are Dogs"? If so, have you tried (not tested at all):

[2017-05-31 05:31] koskimas commented on #181
I did the refactoring anyway. I feel like it made the codebase cleaner by adding an abstraction layer for resolving table names for queries. There is a branch called `views-and-aliases` that has a beta version of this. You can test it by referring putting this `"objection": git://github.com/Vincit/objection.js.git#58d28c878` in your package.json.

I only implemented this for `table` method for now

[2017-05-31 16:10] venelin-mihaylov commented on #211
Feedback:
1. There is already an option to insertGraph, so inserting a record along with relations is handled.
2. updating a model along with its relations can be divided to:
  a. update model fields
  b. upsert relations (the most common use case IMO)

2.b is the most common use case, that is not present in most ORMs. I myself am interested in that use case.

So, approach for 2.b)
2.b.1) keyed ma

[2017-05-31 21:23] koskimas commented on #280
There's a tag for each version and the documentation can be found in `doc` folder in a pretty readable format since it's github flavored markdown. I think that's enough for now. Let's revisit this when moving from 1.0 to 2.0 in the distant future.

[2017-05-31 21:23] #280 closed

[2017-05-31 21:26] koskimas commented on #360
jsonSchema is optional and it doesn't necessarily match the database schema. It cannot be used.

[2017-05-31 21:34] koskimas commented on #360
@pvatterott Would you rather have a `toString` method that happily returns incorrect SQL rather than throws? Isn't a log message with the wrong SQL just confusing?

This will always work:

[code]

[2017-05-31 21:49] pvatterott commented on #360
@koskimas - ha, not a great set of choices. I'm not sure what the right route is here, but here are some thoughts:

 * I'll definitely use the `runAfter` pattern for logging queries in the future - that definitely makes this issue less critical for me.
 * I would expect a `toString` method to never throw. I'm not sure if this is a bad assumption on my part? I can't find anything in the spec explic

[2017-06-01 03:47] newhouse opened #391 "Where did `objection.transaction.start()` documentation go?"
I've recently been re-visiting some code that I wrote that uses transactions and it looks (something) like this:

[code]

I'm pretty sure I got this example from the docs, and the code is still working, and I think even as intended (as far as transactions go)!  However, I cannot _currently_ find anything in the docs about `objection.transaction.start()` being used in this manner anymore. I only fo

[2017-06-01 04:35] newhouse commented on #273
Oh yeah, I think I remember why I keep trying to use `$loadRelated` vs `$relatedQuery` in cases like this: I didn't recall this nuance of the documentation: `The fetched models are also stored to the owner model’s property named after the relation`. I'm guessing this means that `parentInstanceFromSlowSlave.$relatedQuery('children', txn)` should work above?!

Is that only true for basic usage like

[2017-06-01 05:10] koskimas commented on #391
I'm trying to discourage people from using the "binding" version of the `transaction` and the `transaction.start` method and use the `transaction(knex, trx => {})` version instead. I couldn't think of a reason why `transaction.start` would be better than `transaction` in any situation. Please enlighten me if you can. Your example can be written like this:

[code]

The binding version and `transact

[2017-06-01 06:24] koskimas commented on #391
Whoops, I just realized that the  `API` documentation only points to the now missing. I'll update the API docs.

[2017-06-01 10:24] malimichael opened #392 "Joining many-to-many data after an .eager() query"
I have 4 tables `users`, `playlists`, `genres` and `playlists_genres`. `playlists_genres` is a table that contains `playlist_id` and `genre_id`. I'm currently successfully querying a user by their id and returning all their associated playlists:

[code]

However I'm wondering what would be the best way to then populate the returned playlists with their respective genres that sits in the `genres` t

[2017-06-01 10:42] koskimas commented on #392
If your `relationMappings` are set up correctly you can simply do this:

[code]

Since you probably already tried that, there must be something wrong with the `Playlist` model's `realationMappings.genres` definition. Can you post the `Playlist` model here?

[2017-06-01 11:52] jsnick opened #393 "required column and $relatedQuery.insert bug"
Three models are `User`, `UserTeam`, `Team`.

[code]

I have an error when query below
[code]

If I remove jsonSchema from UserTeam, that query works.
(I checked userId, teamId saved is correct.)

[2017-06-01 12:08] koskimas commented on #393
You have `userId` marked as required. Remove it from the `required` list and things will work. `jsonSchema` is not the database schema. You need to think of it as the schema for objects that can be used to create model instances. You cannot mark properties as `required` and then instantiate models without them like you do in `insert({ teamId: team.id })`. If you want to enforce that a database row

[2017-06-01 12:08] #393 closed

[2017-06-01 13:35] newhouse commented on #391
Thanks for the reply. I can't think of any reason at the moment that I can't do this one of the other ways, but I'll let you know if I find one.

Thanks!!!

[2017-06-01 13:35] #391 closed

[2017-06-01 14:30] malimichael commented on #392
Thanks for the speedy reply.

Here is the `relationMappings` from my `Playlist` model

[code]

[2017-06-01 14:34] koskimas commented on #392
Looks good to me. The problem is somewhere else. Can you create a simple standalone app I can run that reproduces your problem?

[2017-06-01 14:38] malimichael commented on #392
Sure, Ill put something together now

[2017-06-01 14:43] malimichael commented on #392
I managed to fix it. The issue was that I was setting a many-to-many relationship within my `Genre` model too. As soon as i commented out this code within that model it worked as expected. Thanks for your help

[code]

[2017-06-01 14:44] #392 closed

[2017-06-01 14:46] koskimas commented on #392
You can define the relation from both directions and you need to if you want to create the query from the other direction. You probably have a circular dependency. Try to move the `require('Playlist')` inside the `relationMappings()` getter in `Genre`.

[2017-06-02 11:48] koskimas commented on #390
After looking into this I don't think it's worth the work to fix this right now. This is one of those things I'd like to be solved in knex (preventing or at least detecting duplicate operations).

[2017-06-02 11:48] #390 closed

[2017-06-02 20:41] koskimas commented on #238
I believe this can now be solved using `getRelations` and `mergeContext`.

[2017-06-02 20:41] #238 closed

[2017-06-05 03:34] jovinbm opened #395 "Static properties, static methods undefined after bindTransaction"
When I try to bind a transaction to a class, my previous static properties and methods get lost. i.e.
[code]
Output
[code]
Am I missing something? I hoped that `bindTransaction` returned the the original class bound to the passed transaction. Thanks in advance.

Node 8.0
Objection 0.8.1

[2017-06-05 07:37] koskimas commented on #395
I wrote this test and it works perfectly.

[code]

Could you be more specific about what you are trying to do?

[2017-06-05 16:46] jovinbm commented on #395
There might be something wrong with my code that's causing this issue. I'll keep investigating and perhaps try to extract some code that you can use to reproduce.

[2017-06-05 17:06] jovinbm commented on #395
So here is what I've been to come up with so far: When I do
[code]
The static properties and method remain intact when using the fakeTrx `{}` object. The `trx` object passed in the last two statements is a real `trx` object got from the `objection.transaction` api as in
[code]
Hopefully this might be helpful.

[2017-06-05 17:32] koskimas commented on #395
I have a test for that case and I repeatedly use custom methods in transactions like that. This probably has something to do with your setup. Could you write a standalone app that I can easily run that reproduces your problem?

[2017-06-05 17:45] jovinbm commented on #395
After further debugging, I think I have found the issue. In my case I have a `Blog` model that uses the `BlogUserXref` as part of it's relationMappings like so:
[code]
Here is `BlogUserXref` snippet
[code]
It seems that somewhere in the pipeline, `BlogUserXref` appears to be already cached in `knex.$$objection.boundModels` (the trx being passed) and as seen below, the cached model is not what I wa

[2017-06-05 18:15] koskimas commented on #395
Could you try this version if it fixes your problem:

[code]

[2017-06-05 18:27] jovinbm commented on #395
This works perfectly!

[2017-06-05 18:39] koskimas commented on #395
Awesome. You were using `BlogUserXref` table as a join table in some `ManyToMany` relation right? That's what created an invalid model. The fix won't be out just yet. In the mean time you can specify the `BlogUserXref` model as a model class for the `ManyToManyRelations` like this:

[code]

[2017-06-05 18:44] jovinbm commented on #395
Okay, that was fast! Thanks for the quick fix, really appreciated!

[2017-06-05 18:47] devinivy commented on #395
@koskimas could this be done more cleanly with a `Map`? https://github.com/Vincit/objection.js/blob/c5a640c5bccea76ffbc296adfb62addfc48d6496/lib/model/Model.js#L650

[2017-06-05 18:48] koskimas commented on #395
@devinivy Great idea! I forgot that `Map` can be used now that 4.0.0 is the minimum.

[2017-06-05 20:25] #395 closed

[2017-06-06 10:28] koskimas opened #396 "Support modules with named Model exports in `relationMappings`"
Using named exports seems to be the preferred way to export stuff. We should not force people to use `export default` in modules that export Model classes.

This could work like this

1. Check if the default export is a model class (also handle babelized modules and .default attribute)
2. If not, check for named model class exports
3. If multiple named model exports are found, throw an error

[2017-06-06 10:53] koskimas commented on #181
Has anyone tested the branch? I'll leave the`from('Foo as bar')` syntax since it's supported by knex. I could also add an `alias` method for setting just the alias?

[2017-06-06 12:36] juhaelee commented on #388
You can also make it so that babel is using your node version by doing something like this:
[code]

[2017-06-06 12:49] koskimas commented on #388
@juhaelee Awesome, didn't know about that! Do you happen to know which Babel versions support that?

[2017-06-06 13:43] #396 closed

[2017-06-06 14:49] juhaelee commented on #388
@koskimas  I believe you can use it as long as you're using Babel 6. You just need to use the `env` preset package instead of `es2015`

[2017-06-06 16:09] koskimas commented on #194
Not a real problem (I opened it myself)..

[2017-06-06 16:09] #194 closed

[2017-06-06 17:27] #181 closed

[2017-06-06 19:06] allxie opened #397 "Eager the same model twice (as custom name)"
I have a table called Page with a bunch of different page_types. Page has a many to many relationship with itself, and I have the ability to eager parents or children through a parent_id and a child_id in the page_relationship table.
BUT, I would love to eager two page_types divided up into different arrays based on their page_type.

I'd love to get back...

[code]

 I've been messing around with

[2017-06-06 19:14] allxie commented on #397
Side note-- it would be great to have `as` in eager for other reasons, besides being able to eager the same model twice. I have `parents` and `children` that would be great to rename based on what item I'm eagering them from.

[2017-06-06 19:21] koskimas commented on #397
If I understood your problem correctly, you can setup two separate relations with filters:

[code]

[2017-06-06 19:33] allxie commented on #397
Oh! Perfect. Thank you!

[2017-06-06 19:37] koskimas commented on #397
You're welcome! Let me know If that doesn't work for some reason.

[2017-06-06 21:50] VladShcherbin opened #398 "pickJsonSchemaProperties and $beforeInsert / $beforeUpdate hooks usage"
Hey.

I've got a model with `$beforeInsert`, `$beforeUpdate` hooks where I set timestamps. I also want to use `pickJsonSchemaProperties = true` to clean all unwanted data.

[code]

The problem is that *before hooks* run first and my timestamps are cut after. Is it the correct behaviour or is it supposed to filter data -> run before hooks -> insert into db?

[2017-06-06 21:54] koskimas commented on #398
Json schema properties are picked in `$formatDatabaseJson` which is the last step before database. So what's happening is expected. One solution is to add the timestamps to jsonSchema.

[2017-06-06 21:55] VladShcherbin commented on #398
@koskimas  Yeah, but this way I can pass this properties which I don't want to. Do I need to always clean the incoming data from them? This kinda kills the `pickJsonSchemaProperties` purpose.

[2017-06-06 22:11] koskimas commented on #398
I not following... Do you mean that you don't want `createdAt` and `updatedAt` to come from the outside world? Leaving them out from `jsonSchema` doesn't guarantee that. So nothing changes if you add `createdAt` and `updatedAt` to `jsonSchma`. If you want to be absolutely sure that `createdAt` is never updated (`updatedAt` gets overwritten in every case) you can override `$parseJson` to remove `cr

[2017-06-06 22:19] VladShcherbin commented on #398
@koskimas My use-case is the form data coming from client. The incoming object can be for example `{ url: 'page', ..., createdAt: 'hello' }`.

I need to remove the fields that I don't want to receive so I wanted to set `pickJsonSchemaProperties = true`. This way, all incoming object properties that are not defined in `jsonSchema` are removed. Then I wanted hooks to add timestamps and save to datab

[2017-06-06 22:31] koskimas commented on #398
I don't know if you read the comment I deleted, but that was a brain fart on my part. I can see why you would think that the properties are filtered as the first thing when `pickJsonSchemaProperties` is true. That makes absolute sense since `jsonSchema` is the "outside world schema" and not the database schema. `pickJsonSchemaProperties` is kind of an anti feature. Before, there was no such proper

[2017-06-06 22:59] VladShcherbin commented on #398
@koskimas yeah, I saw you turned `pickJsonSchemaProperties` false in 0.8.0.

Sorry, I'm a bit confused, I want to remove all fields that are not in jsonSchema properties.

- if I use `$parseJson` to delete fields, I need to list all fields I want to delete (but I don't know all of them)
- if I use `pickJsonSchemaProperties = true` and define this two fields (createdAt, updatedAt) in schema, their

[2017-06-06 23:12] VladShcherbin commented on #398
And even if I define this fields in schema and use `pickJsonSchemaProperties = true` this will not work as `createdAt` is not replaced in `beforeUpdate` hook, only `updatedAt` is replaced. So, in this `beforeUpdate` hook I'll need to delete `createdAt` or something else =/

[2017-06-07 00:05] koskimas commented on #398
[code]

[2017-06-07 00:05] #398 closed

[2017-06-07 00:10] VladShcherbin commented on #398
@koskimas thank you :)

[2017-06-07 00:59] VladShcherbin commented on #398
@koskimas maybe the second variant can be included in the library with some model flag, smth like `persistOnlySchemaProperties = true`, what do you think?

[2017-06-07 06:51] koskimas commented on #397
All good? Can I close this?

[2017-06-07 09:36] PierBover opened #400 "how to create a many-to-many relationship on the same table?"
I'm trying to relate persons among themselves.

So I have the persons table:
[code]
Then the junction table:
[code]
Then I've defined the models (I'm guessing the relationships are wrong):
[code]
So far so good, but when I do this, nothing gets written in the Person_Person table and I get no error at all:
[code]

So what am I doing wrong?

[2017-06-07 09:44] koskimas commented on #400
You are defining a `ManyToManyRelation` but using `HasManyRelation`. Objection examples and documentation contains tens of examples. You can usually find an answer to these kind of basic questions there.

So here's what you want in this case:
[code]

You don't necessarily need to define a `Person_Person` model.

[2017-06-07 09:55] PierBover commented on #400
Thanks for your help @koskimas .

Sorry I missed that. It's almost 5am here.

So I've changed the model to this:
[code]

But now it appears that instead of writing the relationship into `Person_Person`, objection is trying to write it in the `Person` table since I'm getting this error:
[code]
And the `Person_Person` table is still empty.

[2017-06-07 09:59] koskimas commented on #400
What are you trying to achieve? You already have existing rows and you simply want to create a relationship between them? If that's the case `relate` method is what you want. `insert` inserts the `Person` __and__ relateds it to the other.

[code]

[2017-06-07 10:02] PierBover commented on #400
Ah that was it.

Thanks a lot for your time @koskimas 👍

[2017-06-07 10:02] #400 closed

[2017-06-07 10:51] VladShcherbin commented on #398
@koskimas maybe the second variant can be included in the library with some model flag, smth like `persistOnlySchemaProperties = true` or maybe `pickJsonSchemaProperties = true` can work this way by default, what do you think?

[2017-06-07 13:48] gausie opened #401 "$formatJson being applied to database JSON"
I am trying to omit two fields from appearing when my model is formatted to JSON while still saving them to the database.

[code]

When this line is included, however, the fields defined in Booking.privateFields do not get saved to Postgres. Isn't this the point of $formatJson vs $formatDatabaseJson?

[2017-06-07 13:57] koskimas commented on #401
Yep, `$formatJson` shouldn't affect the database representation. Could you write a simple standalone app I can easily run that reproduces the problem. I have never encountered anything like this. This is probably very specific to your setup.

[2017-06-07 14:44] gausie commented on #401
Ah this was on my end. await/async on Knex queries are confusing because it runs .then() immediately.

[2017-06-07 14:44] #401 closed

[2017-06-07 18:03] #397 closed

[2017-06-08 08:27] koskimas opened #402 "Aliases for eager expressions?"
What do you think about extending the eager expression language to support aliases:

[code]

Combined with the new Model property `namedFilters` this would provide a pretty powerful and highly configurable graphql-like language. Competing with graphql is in no way a goal here, but this would be pretty easy to implement without complicating the codebase and could be really useful.

This was origina

[2017-06-08 08:52] zuck commented on #402
Yes, definitely a great addition!

[2017-06-08 12:53] devinivy commented on #402
Could someone provide the equivalent version of @koskimas's code above using objection v0.8?  I think it will be easier to understand the benefits with something to compare to.

[2017-06-08 13:06] fl0w commented on #402
@koskimas would it be super complicated having graphql as a core feature of objection? I know Vincit has done (and probably used?) objection-graphql, but instead of working and maintaining a graph-like language - why not graphql specifically? Maybe it's technical maybe it's just out of the scope of objection.

However, with the introduction of namedFilters, this looks amazingly pleasing.

[2017-06-08 13:29] koskimas commented on #402
@devinivy What do you mean? There is no way to do that currently. Well you could loop through the related models, fetch the filtered relations to all of them separately, etc. etc. That would be like 100 lines of code.

This is completely supported in 0.8
[code]

[2017-06-08 17:25] allxie commented on #402
@koskimas, I love it!
As a heads up, I'm going to open a few separate issues/feature requests somewhat related to this, eg. selecting json fields in joinRelated queries.

[2017-06-08 19:30] allxie opened #403 "Eagered grandparents disappear when selecting the pkey as an alias on eagered parents"
Hey,
I'm trying to clean out some of my columns when selecting/eagering by using .select() in a modifyEager() (and/or using the syntax with the comma and object full of functions), but if I try to clean out the top level eagered item of random columns, the bottom level doesn't get eagered at all and I can't figure out how to get it back. I've fixed this for now with omit as you'll see below (omitt

[2017-06-08 19:42] koskimas commented on #403
Which objection version are you using?

[2017-06-08 19:53] allxie opened #404 "Select jsonb fields when using .joinRelation"
Hello again.
I'm selecting some children and grandchildren of my model, and I'd love to be able to grab fields from jsonb. Currently I have...
[code]
But I would love...

[code]
Other syntaxes...
`.select("children:children.page_id", {"children:children": knex.raw("object_data->>'name'")})`
Or...
`.select("children:children.page_id", "children:children.object_data.name")`
Or...
[code]
Might be sep

[2017-06-08 19:56] allxie commented on #403
0.7.12

[2017-06-08 20:03] koskimas commented on #403
Damn I really thought this was because use used and ancient version. This should have been fixed in 0.7.4. You should be able to select any columns in named filters or `modifyEager` and the needed relation columns are automatically selected and later removed to make the eager fetching work. I don't know what makes your query special. I'll try to reproduce the bug.

Is `parents` in your example a m

[2017-06-08 20:23] koskimas commented on #403
I wrote this test and it works correctly..

[code]

Can you spot what I did differently?

[2017-06-08 20:44] koskimas commented on #404
Does this work?

[code]

[2017-06-08 21:09] koskimas commented on #403
Based on your other issue I'm starting to think that `parents` is a many-to-many relation? I could really use the `Page` model so that I don't waste my time testing the wrong things.

[2017-06-08 21:15] allxie commented on #404
Woo! Thanks, yes it does! I appreciate the help.

[2017-06-08 21:20] allxie commented on #403
Page is many to many.
Here's the page model file ~~ has a bunch of crap that you won't need. I'm running these queries using parents and children.
Thank you so much for your help!!!

[code]

And here's the model file for the PageRelationship model...

[code]

[2017-06-08 21:23] koskimas commented on #403
Thanks! I'll update my tests and see what happens.

[2017-06-08 21:28] allxie commented on #403
(Incidentally, I'm also having trouble working the new jsonb column update (update a single jsonb field rather than taking out the whole thing, modifying, and putting it back in) that @elhigu implemented in #270 (based on this issue from my coworker and I... #187 ) , so I'm curious if there's a knex version problem or something, given that that issue should have been fixed in 0.7.0. I'm in knex ve

[2017-06-08 21:34] koskimas commented on #403
I still can't reproduce the bug. I updated my test to have exactly the same tables and relations, but all parents/children appear as they should. This is now my test:

[code]

Both of the tests work..

[2017-06-08 21:39] koskimas commented on #403
I'm testing on 0.8.2 though. There shouldn't be any updates that could affect this, but maybe there is. Can you try out 0.8.2? You seem to be using babel, so you probably need to make some changes to your setup as described here: https://github.com/Vincit/objection.js/issues/388

[2017-06-08 21:42] allxie commented on #403
Ahah!
Okay, so...this works...

[code]
And this breaks:
[code]

[2017-06-08 21:50] koskimas commented on #403
There it is! Objection thinks the needed `page_id` is selected and doesn't explicitly select it. But when it later attempts to used to fetch the related models, it isn't found since it's aliased.

I'll try to fix this, but if the fix requires a huge refactor, I won't probably do it right now since this isn't very common case. In the meantime maybe you can convert the `page_id` into something else

[2017-06-08 21:53] koskimas commented on #404
Excellent! By the way @elhigu has been working on a nicer syntax for jsonb stuff. Try if this works:

[code]

[2017-06-08 21:56] allxie commented on #403
Yes, absolutely. Thanks so much, again, for your help! I got to refactor my code to remove .omit(), which was causing all sorts of other problems.

[2017-06-08 21:56] #404 closed

[2017-06-08 22:03] koskimas commented on #403
Since you are using a lot of those complex `modifyEager` filters, maybe you would benefit from the new `namedFilters` feature. It allows you to do this:

[code]

return await Page
  .query()
  .findById(page_id)
  .eager('parents(name, page_id).parents(name, page_id)')
  // After next release you can replace the following two lines with
  // .modify('name', 'page_id')
  .modify(Page.namedFilters.n

[2017-06-08 22:12] allxie commented on #403
Oh, amazing! Thanks a lot!

[2017-06-09 04:18] newhouse commented on #403
Been following along here a bit, and have a question for @koskimas. I'm not that familiar with the `namedFilters` feature yet, but why did you add the two calls to `modify()` to the just-above example? Won't they end up stripping out all but the `page_id` and `object_data-->>'name' as name` from the starting/primary child? Or was it simply to highlight a neat way to apply a `namedFilter` to the pr

[2017-06-09 07:31] koskimas commented on #403
@newhouse The modify calls simply apply the filters for the main query also (the original example had the same selects for the main query and for the relations). You don't need to call `modify` for the the name filters to work in the eager expression.

[2017-06-09 07:38] newhouse commented on #403
Thanks @koskimas !

[2017-06-09 09:41] #403 closed

[2017-06-10 09:42] koskimas commented on #275
`raw` is now implemented.

[2017-06-10 12:17] elhigu commented on #404
Ref has also `.as` builder method to be used for example like this `.select(ref('columnRef').as('aliasName'))`

http://vincit.github.io/objection.js/#ref

Having colons in names might be a problem for the parser though. I have never used them with eagered relations.

[2017-06-10 13:34] koskimas commented on #402
@fl0w I thought about it, but graphql is a very complicated beast and we could only support a small subset of its features if used as a eager language. Also graphql is just a language, we would still need to implement and maintain all the code that actually builds and runs the query.

The eager expression language itself (even with aliases) is just a 100-line pegjs file.

[2017-06-10 15:39] #402 closed

[2017-06-10 17:34] koskimas commented on #404
dangit, it doesn't work when there are colons. @elhigu Do you think this could be fixed?

[2017-06-10 18:22] elhigu commented on #404
Maybe parser could be changed to support relation name or ref() builder could support some `.rel()` or something like that to allow for passing relation name.

I'm a bit confused how this all is works also when one is also trying to declare which schema query should use :D

[2017-06-10 18:37] koskimas commented on #404
In case there colons in the table name, it's already an alias (unless someone actually puts colons in the table name) and the schema has been specified when the alias is created:
[code]
I don't think we need to support the case where the actual table name has colons.

I suppose it's impossible to solve this with a parser update since the json field expression language supports the case where there

[2017-06-10 18:39] koskimas commented on #404
How about this?
[code]

[2017-06-10 19:17] elhigu commented on #404
I like the builder approach. If some day there is need to have parser syntax, it can be figured out later on.

[2017-06-12 13:46] fl0w commented on #372
I keep stumbling on the following use case:

[code]

[2017-06-12 15:43] pulse14 opened #407 "pickJsonSchemaProperties problem"
Hi,
First, thank you for your work on objection. Looks very promising.

`pickJsonSchemaProperties ` is set to true on a model, let's say `Post`. Posts have a `categories` relation. `categories` is not in my json schema.

When I insert data :
[code]
It raises an exception `You should only pass objects to $setJson method. $setJson method was given an invalid value 1`.

I understand what objection tr

[2017-06-12 18:27] koskimas commented on #407
Hi, thank you!

Relations actually do get stripped away whether `pickJsonSchemaProperties` is true or false right before the actual insert operation, but the relations are first parsed into models in when `insert`, `update` or `patch` is called. This means that everything works if the relation property contains valid models, but if there is something else (like ids in your case?) this happens.

I

[2017-06-12 19:54] #407 closed

[2017-06-12 19:58] koskimas commented on #407
This should now be fixed in master. You can test it by putting this
[code]
in your package.json.

[2017-06-13 05:57] pulse14 commented on #407
thank you !

[2017-06-13 19:17] allxie opened #409 "Global query and eager conditions"
Hello again,
Trying to add a filter/condition/where to every single query.
I have a BaseModelQueryBuilder extending from QueryBuilder and I have a bunch of stuff in there including...
[code]
But the `is_deleted` column is "ambiguous" because of the joins.
Beyond writing a javascript filter in each `$afterGet` or `$parseDatabaseJson` and/or putting a filter in every relationship or query, can you t

[2017-06-13 19:26] allxie commented on #409
Potentially fixed with...
```queryBuilder.where(`${builder._modelClass.tableName}.is_deleted`, false);```

[2017-06-13 19:41] koskimas commented on #409
It's better to use the public `builder.modelClass()` method instead of the private `_modelClass` property. There is no guarantee that I (or someone else) won't rename or move the `_modelClass` property.

[2017-06-13 19:50] allxie commented on #409
Oh, awesome. Thanks for the tip!

[2017-06-13 21:12] mitchellporter opened #410 "insert fails for postgres with large array"
I'm pulling data from a third party service, modifying the data to match our schema, and storing the data as we need it. So far everything works fine except for when pulling large amounts of data from the third party service.

For example, when trying to insert an array of 229 objects at once, I get the following error:

`"insert into \"cards\" (\"card_id\", \"list_id\", \"name\", \"raw_json\") va

[2017-06-13 21:50] mitchellporter commented on #410
I am an idiot 😝... this had nothing to do with the array, and everything to do with one of the columns for table, in this case it's called `name`, and the text I was setting was going over the specified limit of 255 characters.

[2017-06-13 21:50] #410 closed

[2017-06-14 07:19] kapouer opened #411 "leverage ajv cache and serialize function"
Currently objection [manages the compiled schema cache itself](https://github.com/Vincit/objection.js/blob/546e1e7ab56a9161da648ba655c9217d770826de/lib/model/AjvValidator.js#L68).
However [ajv has a cache too](https://github.com/epoberezkin/ajv/blob/fde7030a19833273b08e8de879cb2bf149adaf2f/lib/ajv.js#L298).
To avoid that redundancy, i suggest objection could use directly the ajv cache.
To keep the

[2017-06-14 08:03] fl0w commented on #411
Correct me if I'm wrong, but to my recollection one simply has to pass the schema to ajv and it'll use it's cached instance if available? It's not something that has to be setup/configured by consumer, correct?

[2017-06-14 08:09] kapouer commented on #411
The links i gave above show that objection optimizes the common case when the class schema did not change, by maintaining its own cache to avoid ajv doing a useless `json-stable-stringify(schema)` just to get a unique cache key.

[2017-06-14 08:14] koskimas commented on #411
One of the biggest reasons to switch to AJV was performance. `JSON.stringify` is slow compared to the actual validation and AJV's serializer is even slower. The most important optimization `AjvValidator` has (on the line you linked) is that we skip the `JSON.stringify` and AJV's serializer when the `jsonSchema` is the default one (it hasn't been changed). Even if we leveraged AJV's cache, we would

[2017-06-14 08:22] kapouer commented on #411
Originally yes but now i don't have any issue (i'm in the `jsonSchema === ModelClass.getJsonSchema()` case). However i thought letting the user build its own cache key would be better than falling back to `JSON.stringify`.

[2017-06-14 11:31] koskimas commented on #411
Why would a user want to build its own cache key?

[2017-06-14 12:44] kapouer commented on #411
To avoid the call to JSON.stringify...

[2017-06-14 18:23] koskimas commented on #411
Why should it be avoided? AJV cache basically uses a slower (but sorting) version of JSON.stringify to generate the keys (at least last I checked). Is the sorting property something you find useful here?

[2017-06-14 21:45] kapouer commented on #411
I think what ajv is doing is worse, unless the user provides a key through the ajv's serialize option, in which case it can be much more efficient since the user knows how/when schemas were changed.
However, my point was that this last sentence is made impossible in objection since objection builds its own key, regardless of what the user wants.

[2017-06-15 00:29] davidgwking opened #412 "JoinEagerAlgorithm seems to drop items with a 0 key integer value"
# Description

I, unfortunately, don't have enough information at this time to formulate an appropriate description for this issue.

When eager loading the User model's widgets relation (found below), Objection builds the expected query, but seems to mishandle the data if a portion of they eager loaded data's key is 0.

When I initially attempted to create this reproduction, I used the widget keys

[2017-06-15 07:35] koskimas commented on #411
Ok, now I finally get it 👍 I didn't know that AJV allowed a customer serializer to be used. I'll figure something out for this.

[2017-06-15 07:39] koskimas commented on #412
Thank you for the super awesome issue 😄 I wish all issues were this specific and well written.

There seems to be an assumption that id cannot be zero. Probably a `if (row.id)` -kind of thingy somewhere. I'll fix this as soon as I can. I'm leaving on a trip right now so It'll probably be some day next week.

[2017-06-15 07:48] koskimas commented on #412
Actually I found one error just by glancing at the join algorithm. I pushed a fix to master. Can you try it out to see if it worked? I'll write proper test case when I have time if that was it.

[code]

[2017-06-15 13:22] davidgwking commented on #412
@koskimas Your commit seems to have addressed the issue, as it stands in my application. It also looks like it has fixed my reproduction case.

Thank you! I am looking forward to the future release.

[2017-06-15 16:16] kacpak opened #413 "Updating extra in related query"
I've been struggling with updating extra field on many-to-many relation.
I have join table with user_id, session_id, character_id, is_game_master.
[code]
I wanted to update character_id through related session.
I hope I was clear enough with what I want to accomplish.
What is the best way to accomplish that?

[2017-06-15 16:19] fl0w commented on #413
[code]

Also, take a look at the last example in [docs for insert](http://vincit.github.io/objection.js/#insert)

[2017-06-15 16:23] kacpak commented on #413
Won't it create another user with extras? Or am I reading wrong?
I want something like this:
[code]

[2017-06-15 16:26] fl0w commented on #413
Right, you want to update, have you tried using `.patch()` and a `.where()`?

[2017-06-15 18:32] aconran commented on #330
I tried to follow the advice of @elhigu using model.raw but my problem was the first argument needed to be run through to_jsonb.

Given a table like
[code]

Where the address jsonSchema is:
[code]

If I only want to update a single subkey of the address I tried to do the following:
[code]

This generates the SQL
`error: update "Person" set "address" = jsonb_set("address", '{street1}', to_jsonb($1:

[2017-06-15 18:46] aconran commented on #330
For others following along; my issue was using json in the table definition instead of jsonb.

I had switched because to_jsonb doesn't exist in PG 9.4 (it was added in 9.5) and was trying to see if putting json would call to_json instead of to_jsonb

It would be nice if we could easily infer PG type based off of a jsonSchema to eliminate the need for explicit casts.

[2017-06-15 19:13] helixion opened #414 "Error: Post.relationMappings.author: join: either `from` or `to` must point to the owner model table."
I'm trying to do fetch a relation using eager, however I get the following error:
[code]
My post model relationshipmapping is as follows:
[code]
What exactly am I doing wrong?

[2017-06-15 19:19] #414 closed

[2017-06-15 19:20] helixion commented on #414
Solved it.

[2017-06-15 19:27] aconran opened #415 "Searching a jsonb array of objects that a key has a specific value"
Given table defintion
[code]

and jsonSchema
[code]

I would like to get all emails that are of type "personal". Using raw SQL, I can do the following (found here https://stackoverflow.com/questions/28486192/postgresql-query-array-of-objects-in-jsonb-field)
[code]

Is there any way to do this with the whereJson* methods of Query builder?

[2017-06-15 19:59] aconran commented on #415
Or a bit prettier (from https://stackoverflow.com/questions/22736742/query-for-array-elements-inside-json-type/22737710#22737710)...
[code]

[2017-06-15 20:27] kacpak commented on #413
I tried
[code]
But then I am getting `SQLITE_ERROR: no such column: character_id` or `SQLITE_ERROR: near ".": syntax error` when I try `'character_session_user.character_id': character.id`.
Right now I am considering deleting relation and recreating it with character_id as extra, but it seems too hacky to me.

[2017-06-15 21:35] jeff3yan opened #416 "Linking models with a many-to-many relationship"
I've looked through the documentation and have read that using the `insertGraph` method can be used to create a model and it's relations with a single query.

However, I can't seem to find any information about linking 2 existing models which are related with a many-to-many relationship. For example if `Person` hasMany `Role`, and `Role` hasMany `Person`, how would I go about creating a new `Perso

[2017-06-15 21:44] newhouse commented on #416
@jeff3yan Did you have a look at the [relate](http://vincit.github.io/objection.js/#relate) area of the documentation? Sounds like what you're looking for, I hope.

[2017-06-15 21:53] jeff3yan commented on #416
@newhouse thanks for that, don't know how I missed it. Went through all the examples but not the full API reference list.

[2017-06-15 22:56] newhouse commented on #413
@kacpak Can you chain a `debug()` to the query builder for any attempts? It will show the raw SQL that is being generated and can help with figuring out what your attempts are doing wrong. I played around with this just now and was not able to successfully get an update/patch to work, either. Maybe this is a bug or an enhancement can be made.

In my experience, however, given that you have meaning

[2017-06-15 23:07] newhouse commented on #416
You're welcome @jeff3yan

[2017-06-15 23:08] fl0w commented on #413
I played around with this as well. The reason is because the update/path is done against the end table (not against join table) - this is true for `Model.ManyToManyRelation` as well.

[2017-06-15 23:30] newhouse commented on #413
@fl0w yeah, this is not surprising that it's not currently working they way we were hoping here...that would be really poweful/magical if it did!

[2017-06-16 01:55] #416 closed

[2017-06-16 08:54] fl0w commented on #413
Well, I'm not sure how the logic flows through objection - but theoretically it should be possible to check, pseudo:
[code]
Though the absence of this might be by design, it would require (for most DBs) an additional statement as PG does not allow UPDATEs for multiple tables.

[2017-06-16 10:03] jeff-kilbride commented on #181
@koskimas  Sorry I didn't have a chance to give more feedback on this or test it much. I've been in the middle of some breaking changes in my database schema, so my test suite needs to be updated. I was just able to upgrade to 0.8.3 this evening.

The `from` method works great!  👍

Is the `alias` method working? I see it in the docs, but I'm getting an error when I use `Table.query().alias('t')`:

[2017-06-16 16:50] PierBover commented on #19
Does anyone know how to implement the `constraint exactly_one_taggable` proposed by @juanjoLenero be implemented in knex?

[2017-06-16 19:23] newhouse commented on #19
@PierBover (just saw your edit, but was nearly done with this comment, so I'll post anyways)
In trying to do some complex constraints, or dropping and redefining existing constraints, I ended up finding that it's not very well supported due to the differences between DB syntaxes, so I've always just done it with `raw`. Just 1 example, as there are several ways to do this:
[code]

[2017-06-16 20:41] aconran opened #418 "Dynamic Defaults - Setting values based on other properties"
I would like to change the value of one field dependent on setting the value of another value.

My use-case is a User authentication system. When an email matches certain "safe-domains", I don't require that they activate the account. ie get an email/click the link. They can automatically login.

How can I set the value based on email?

Something along the lines of
[code]

Should I be overriding $

[2017-06-16 20:42] PierBover commented on #19
Thanks @newhouse I finally solved it like this:

[code]

[2017-06-16 21:20] aconran commented on #418
Put this into $beforeInsert like this

[code]

Are there concerns about changing/re-writing the same field name?

[2017-06-16 22:29] newhouse commented on #19
Glad you figured it out @PierBover glad I can help with this repo's success. I really like it a lot

[2017-06-17 10:39] kacpak commented on #413
OK, so for the time being I created a new model for join table as you suggested.
Thanks for the help :)

Would you consider adding such a feature to update extras in the future?

[2017-06-18 15:18] newhouse commented on #418
@aconran I personally think that's a good solution based on what you've stated above. I've used `$beforeInsert` and/or `$beforeUpdate` for some similar things, such as creating UUIDs, automatically set the `update_at` fields, etc.

[2017-06-18 20:46] VladShcherbin opened #419 "Objection usage with dataloader"
Hey, I'm trying to make [dataloader](https://github.com/facebook/dataloader) work with Objection.

The simple example is user - permissions (one to many).

[code]

In graphql I have a `permissions` field which I can load as `user.$relatedQuery('permissions')`, but this would create N+1 queries. Instead, I want to use dataloader, so that the resolver is (here I have user model and I pass `user.id`

[2017-06-18 21:13] VladShcherbin commented on #419
Or maybe if I pass `user` model instead of `user.id`, I can use `loadRelated` and map after:

[code]

This one works but I'm not sure if this is the best way.

[2017-06-19 08:49] koskimas commented on #415
Maybe
[code]
?

[2017-06-19 09:47] elhigu commented on #415
Those queries mentioned doesn't extract emails of type `personal`, but actually returns those persons, who has at least one email of type personal.

As far as I know postgres does not have any easy way for filtering what kind of data is fetched from inside of a jsonb column. So it is always pretty much just one attribute of the json column that can be selected to be fetched, except if you first ex

[2017-06-19 15:16] aconran commented on #418
@newhouse thank you for the response! Are there any concerns about changing/re-writing the same field?

For an example say I store password in the db column password. so am I safe to re-write this.password or do I have an issue where it could be rewritten twice/not hashed

[2017-06-19 15:26] aconran commented on #415
That's what I was looking for, thanks!

[2017-06-19 15:26] #415 closed

[2017-06-19 16:29] fl0w commented on #418
Re-hasing the same field will yield different values, which isn't great for passwords :)
I store my pass using bcrypt (like you have), but I also compare for signatures - 2y specifically.

As I've hashed and stored all passwords myself and do not allow anything other than hashes using fixed crypt_blowfish. So 1, 2, 2a, 2x, 5, 6 will all be disregarded as valid passwords and thus (somewhat wrongful

[2017-06-19 17:38] newhouse commented on #418
@aconran As @fl0w pointed out, for the original `email -> isActive` check you posted, there's little danger here, but with auto-hashing of the `password` field any time it's encountered in `$beforeInsert` and `$beforeUpdate`, you could run into problems. If you're only doing `User.query.insert`s and `User.query.patch || user.$query().patch`, but NOT [updates](http://vincit.github.io/objection.js/#

[2017-06-19 18:25] aconran commented on #418
@fl0w and @newhouse thank you.

That was my understanding and think I have it implemented properly here. Have a handful of tests along with it verifying that it works properly.

[2017-06-19 18:25] #418 closed

[2017-06-19 23:47] fl0w commented on #409
Note that the is_deleted case will not build when using `*joinRelated`(and friends).

[2017-06-20 09:27] johannessjoberg commented on #211
Any news regarding this feature?

I agree with @fl0w . To make it manageable I think it will be important to make this feature strictly defined and opinionated. This will most likely results in a bunch of opinionated issues, but also a very useable feature!

[2017-06-20 10:13] koskimas commented on #409
@allxie Did you reopen this on purpose?

[2017-06-20 10:58] koskimas commented on #419
`loadRelated` is probably the best option here.

[2017-06-20 11:04] koskimas commented on #413
@kacpak Maybe... There probably was a reason I didn't implement this in the first place. I'll check to see if the only reason was laziness 😄

[2017-06-20 12:09] #412 closed

[2017-06-20 14:31] allxie commented on #409
Unfortunately reopening this issue. The above code does filter out all columns where is_deleted is true on the initial model queried, but I'd love to filter out all eagered models, too, including join tables.
For example, I have a page_relationship model who's is_deleted gets ignored despite this query.
I tried adding ... `filter: (builder)=>{builder.where('page:page_relationship.is_deleted', fals

[2017-06-20 14:50] koskimas commented on #409
If you have installed the query builder for all models, your code from the original post should work. You only showed a small part of your setup, but I'm assuming you have something like this going on:

[code]

If you are still using objection below 0.8 you need to have

[code]

[2017-06-20 18:38] allxie commented on #409
~~ Alright, so I think I have mine set up that way.
The query I'm testing out is the following...
[code]
This currently returns two pages. I'd like it to return only one of the two-- I'd like it to only return entries where the join table entry has is_deleted:false.

Here are the relevant parts of the models:
Page-->
[code]
PageRelationship:
[code]
BaseModel (adjusted to look more like yours):
[co

[2017-06-21 04:01] VladShcherbin commented on #419
@koskimas thank you! :)

[2017-06-21 04:01] #419 closed

[2017-06-21 08:03] koskimas commented on #409
The problem is that the

[code]

query is actually for the `page` table. The `page_relationship` table is only joined to the same query. Your code in the `QueryBuilder` constructor only gets executed for `Page`. You should be able to do this as a workaround:

[code]

[2017-06-21 15:46] allxie commented on #409
Thanks Sami, but when I set it up that way...

[code]
I get the following error:
`unhandled rejection: error: invalid reference to FROM-clause entry for table "page_relationship"`
I can't get the sql debugger to run when that errors, so that's all I have to work with.

[2017-06-21 15:54] koskimas commented on #409
Works for me:

[code]

[2017-06-21 15:55] koskimas commented on #409
And by the way, it __is__ `RelatedQueryBuilder` and not `QueryRelatedBuilder` as you said. It was a typo.

[2017-06-21 21:55] luketurner opened #421 "Missing type definition for creating "transaction objects""
It appears that the typings file only includes overrides for the "model binding" type of `objection.transaction` call, not the "transaction object" type that expects a `knex` object.

Consider, if you please, the following Objection snippet:

[code]

The docs indicate this should be supported, but if you are using TypeScript, you get a typing error:

[code]

[2017-06-22 07:27] #421 closed

[2017-06-22 10:24] drew-r opened #422 "Access QueryBuilder or query SQL from $afterGet"
Currently the query context is passed into the $afterGet hook, I am wondering if it is possible to pass the QueryBuilder or the SQL used in the query (could be added to context?).

My use case is a Model.refresh() method that will re-execute the original query that produced the model.

[2017-06-22 10:58] koskimas commented on #422
I'm sorry, but no. Query context is a shared object between multiple queries. It's not query specific. For example when you execute an `.eager` query and give the query some context object, that object will be shared across all queries started by the original query. Same goes for all other queries that actually create multiple queries. Adding the current query to the context would be pretty hacky.

[2017-06-24 09:18] VladShcherbin opened #423 "Return single item after updating/patching single item"
[code]

In this example, `user` will return me a single user. Now I want to patch the user and return it. If I use the above, `patchedUser` will be an array of users so instead I have to use:

[code]

It feels a little bit weird to call `first` after updating already fetched single item.

Is it somehow possible that objection will automatically return single item if `first` was used before patchin

[2017-06-24 09:35] VladShcherbin commented on #307
Also curious about this one, when using `first()`, `limit` is not added to the query, so basically what you have to do is:

[code]

Looks a bit weird and is not mentioned in the docs. (or maybe I didn't find)

[2017-06-25 02:15] helixion opened #424 ".page not returning results with .eager"
I'm trying to paginate results using .page, here's my model:

posts_comments
[code]
My route handler:

[code]

What I get back is the total, but not the actual results.

[2017-06-25 02:18] #424 closed

[2017-06-25 14:15] koskimas commented on #423
Thanks, I'll fix the issue with `returning`.

[2017-06-25 15:16] koskimas commented on #422
Just to clarify: The solution I provided is the hack I referred to, but I don't think it's a good idea to add that to objection.

[2017-06-25 15:16] #422 closed

[2017-06-26 12:04] VladShcherbin opened #425 "Possibility to always return all fields after query execution"
Is it possible to always return all fields after query execution (`'*'`) instead of using `.returning('*')` if database is postgres ?

Maybe a model property can be added and set to true (false by default) ?

It's useful when using GraphQL as it typically returns full types.

[2017-06-26 12:10] koskimas commented on #425
It's not a good idea for objection, but you can easily implement this yourself. The easiest way to do it is this:

[code]

`isFindQuery` is not documented yet, but will be in the next version.

[2017-06-26 12:10] #425 closed

[2017-06-26 12:12] VladShcherbin commented on #425
@koskimas maybe there are edge cases when it can cause troubles?

[2017-06-27 14:06] kapouer opened #427 "InsertAndFetch could use pg `returning` trick under the hood ?"
It would optimize it for us !

[2017-06-27 14:13] koskimas commented on #427
I haven't done this because I'm not 100% sure it is equivalent to fetching the row in all cases. Maybe there are some corner cases in which the name `insertAndFetch` is misleading. What's wrong with using explicit `returning('*')` instead of `insertAndFetch`? Are you using different database for testing and production or something similar?

[2017-06-27 14:36] kapouer commented on #427
Luckily, no, i'm using postgres everywhere :)
However it would be cool.

[2017-06-27 14:59] #413 closed

[2017-06-27 16:34] #411 closed

[2017-06-27 16:41] newhouse commented on #413
oh man, sweet! Is this in the docs, too?!

[2017-06-27 16:49] koskimas commented on #413
No docs yet. I'll write them before the next release.

[2017-06-27 18:38] koskimas commented on #423
This is now implemented, but since this is a breaking change, we need to release this with 0.9.

[2017-06-27 18:39] VladShcherbin commented on #423
@koskimas sure, I can wait 0.9 and then update code. Thank you!

[2017-06-27 18:39] #423 closed

[2017-06-27 19:50] newhouse opened #428 "$relatedQuery not triggering $afterUpdate hook on related Model"
Hello!

I'm seeing an issue whereby if I perform a `$relatedQuery` patch, the related Model's `$afterUpdate` hook (and probably others) is not getting triggered. Is this expected behavior? I don't see anything in the `$afterUpdate` hook documentation mentioning that this will not occur. I can figure out a workaround by making this query directly via the `Child` model class, but I was expecting it

[2017-06-27 22:26] koskimas commented on #428
It should be triggered, and according to my test cases it is. I just wrote a bunch test just to make sure. Could you create a minimal reproduction to help me find out what is going on?

[2017-06-28 00:28] fl0w opened #429 "modifyEager#builder.limit for eager limits entire N+1"
node 8.1.2
objection 0.8.3

While I was running a rather complex eager structure with more than a few relations and namedFilters I found that, when appending a `builder.limit` on a child relation, it does so for the entire N+1 query; i.e. not yielding a limit on rows per child.

This might or might not be expected/unsolvable by objection. I initially thought this was a bug in namedFilters, or eage

[2017-06-28 01:31] fl0w commented on #429
So, once you've stopped laughing, this can (probably) be closed without an answer to my question.
I posted this in full because I initially thought there was a bug in eager expression parser - felt bad deleting it after dwelling at this issue for about 3 hours.

[2017-06-28 06:47] koskimas commented on #429
Yeah, this is one of the limitations of eager fetching. I recently added the `NaiveEagerAlgorithm` that allows you to use `limit` but doesn't solve the N+1 selects problem. You could maybe achieve `limit(1)` using some kind of `groupBy` trick in `modifyEager`.

[2017-06-28 06:53] koskimas commented on #409
@allxie Were you able to solve this?

[2017-06-28 07:07] koskimas commented on #425
Not that I can think of. Performance should't be an issue. The insert/update itself will surely dominate the runtime.

[2017-06-28 07:35] koskimas commented on #429
By the way, I just added some shorthand methods with `0.8.4`. This should work for you:

[code]
but if you have a large dataset to fetch, it can become slow because of N + 1 selects. With small datasets the performance difference is minimal.

[2017-06-28 09:23] fl0w commented on #429
Yes, was pondering about `NaiveEager` briefly but that's unfortunately worse than just selecting everything :). I'm currently considering sub-querying and casting results to JSONB array. But this is mad science for me - so I have no clue if it's an acceptable solution :)

[2017-06-28 09:23] #429 closed

[2017-06-28 09:38] fl0w commented on #429
The "pure" PG approach is to use a combination of `ROW_NUMBER()` and `OVER (PARTITION BY ...)`, but it's still a sub-query.

For reference: https://stackoverflow.com/questions/1124603/grouped-limit-in-postgresql-show-the-first-n-rows-for-each-group

[2017-06-28 09:47] jansenignacio opened #430 "objection doesn't use mysql.js's typeCast option"
I basically have something like this

[code]

I pass this knex instance to Objection

[code]

but Objection doesn't use it. I've tried using the knex instance outside objection and it logs the fields when I query something.

[2017-06-28 09:47] jansenignacio commented on #430
P.S. I'm using mysql2 but it honors the same options as mysql

[2017-06-28 10:27] koskimas commented on #430
Objection doesn't alter knex in any way. It simply uses it's public interface. If you really think this is objection's fault, please provide a minimal standalone app that reproduces the issue.

[2017-06-28 10:31] koskimas opened #431 "Document that first() doesn't use limit(1) by default"
Also point the reader to the new `Model.useLimitInFirst` flag.

[2017-06-28 10:39] elhigu commented on #430
@jansenignacio knex filters out some mysql config parameters. It has been removed in master, but current 0.13 still filters some out. https://github.com/tgriesser/knex/commit/804c338dd00cb644a1dc3fdcb2d5fff5aadb6760 however looks like `typeCast`indeed is included in the list that is picked from confs but it was included here https://github.com/tgriesser/knex/commit/c4fcfa8f7632d3de570bf28b7427cb3d

[2017-06-28 10:44] jansenignacio commented on #430
I'm using knex 0.13. It correctly uses typeCast. I'll work on a minimal standalone app and try to reproduce the issue.

[2017-06-28 10:59] jansenignacio commented on #430
My bad. I forgot that I wired my Objection models to check redis first for a cached version of their database counterparts. Since the objects I was trying to query were cached, knex wasn't even called. Sorry for wasting your time but thanks for the quick responses. :)

[2017-06-28 10:59] #430 closed

[2017-06-28 13:30] newhouse commented on #428
I was afraid you'd say that! Only thing different here I can think of that may be significant is that the 'children' relationship has a modifier specifying only Child records with a certain property. I'll whip something up to try and reproduce.

[2017-06-28 17:50] #431 closed

[2017-06-28 17:52] newhouse commented on #428
Oh man...after getting 90% of the way done writing an solid reproduction gist, it occurred to me that I was actually doing in my code was patching the Parent, and _**deleting** the Children_ (not patching the Children), so the hook I was after was the `$afterDelete` hook on the Children. The docs clearly state that "this method is only called for instance deletes started with `$query()` method". I

[2017-06-28 17:56] koskimas commented on #428
I actually wrote test cases to the test suite so I should thank you 😀 There can never be too much tests.

[2017-06-28 18:56] #428 closed

[2017-06-28 20:20] skray opened #432 "Model.$set will try to set Class getter fields when parsing JSON"
I'm not entirely sure this is a problem that Objection should be handling for me, so please feel free to just let me know if that is the case.

The problem: I have added a getter function to one of my models, and added the getter as a virtual attribute to the model so that it renders out in the JSON, like this:

[code]

The JSON for `MyModel` will look like this:

[code]

The issue is that when I

[2017-06-28 21:38] koskimas commented on #432
Thank you for bringing this up. I hadn't thought about this. I think your solution is pretty perfect and I don't see a reason why it shouldn't be added to objection. If a virtual attribute is a function or only has a getter, there is no way to set the value anyway. I'll add this in the near future.

[2017-06-28 22:10] #432 closed

[2017-06-28 23:43] skray commented on #432
Awesome, thanks!

[2017-06-29 12:51] koskimas commented on #409
Closing again since nothing is happening..

[2017-06-29 12:51] #409 closed

[2017-06-29 19:54] allxie commented on #409
I did not solve it. ~~ Sorry for the late response. Needed to spend the time refactoring for a launch. Was still getting `invalid reference to FROM-clause entry`, or `is_deleted is ambiguous`

[2017-06-29 20:02] wswoodruff commented on #409
Ok, please let me know how it turns out

[2017-07-06 10:00] capaj opened #434 "conversion to utc for DATETIME"
I am migrating and app from sequelize to objection and one thing I've hit is that sequelize normalizes any date into a UTC before storing in the DB: https://stackoverflow.com/a/28410849/671457

knex/objection just stores the time local to the machine it is running on. Is there a way to normalize all dates to UTC as with sequelize @koskimas ?

[2017-07-06 10:10] koskimas commented on #434
Neither objection nor knex touch the dates. They are saved as given and returned in the format the DB returns them. One way to change the DB timezone is to add a `afterCreate` hook to the knex config:

[code]

[2017-07-06 10:11] capaj commented on #434
Thanks @koskimas I solved it even easier by doing:
[code]
as suggested here https://stackoverflow.com/a/25729295/671457

[2017-07-06 10:11] #434 closed

[2017-07-06 10:12] koskimas commented on #434
Oh, didn't know about that 😄

[2017-07-06 10:51] elhigu commented on #434
@capaj  yup mysql driver supports that attribute in connection object. If you are using postgres you would need the trick mentioned by @koskimas

[2017-07-07 01:28] mitchellporter opened #436 "Strange behavior on insert with returning(*) and case conversions"
I've been experiencing some strange behavior when inserting to postgres and performing case conversions going to and from the database.

Please see the test project I have put together: https://github.com/mitchellporter/objectionjs-insert

I have two tests in the linked project. Here is the first one:

[code]

When I run the above code, the insert is successful, but when I log `item` it has duplic

[2017-07-07 01:34] mitchellporter commented on #436
Also I did notice with a quick search prior to posting this that it looks like someone else was experiencing the same thing: https://github.com/Vincit/objection.js/issues/200

After looking through that , I'm either not understanding the problem/solution, it's slightly different, or the same but not actually being solved.

Also, please let me know if there's anything I can do in the future to make

[2017-07-07 20:30] dcominottim opened #437 "Advice on integration testing and how to manually rollback transaction"
I am trying to create some integration tests and I need to rollback my transactions after objection's queries complete, just as in

[code]

Can someone please offer some advice?

[2017-07-08 11:45] newhouse commented on #437
Hmm, based on my experience and the documentation, you should be able to simply do:

[code]

...which is basically what it looks like you are doing already. What exactly are you experiencing as output for your code? Can you log out the value of `txn` to make sure it looks like a transaction object? If it's `undefined` somehow, passing it to query like `query(txn)` will not use a/the transaction.

[2017-07-09 15:44] koskimas commented on #436
Why are you some snake cased and some camel cased properties to the `insert` method? Also why do you set snake cased properties in `$parseJson`? `$parseJson` is called when a model instance is created from a non-db object. I'm pretty confused about what you are trying to camelize and when...

[2017-07-09 15:55] koskimas commented on #436
Your json schema also contains snake cased properties. Are you sending and receiving snake cased json to the outside world from your API? You only want to use camel case in in code but snake case everywhere else? In that case you also need to run `camelizeKeys` and `decamelizeKeys` in `$parseJson` and `$formatJson` respectively.

[2017-07-09 16:23] koskimas commented on #436
Something like this:

[code]

[2017-07-09 16:46] koskimas commented on #437
Your example and what newhouse suggested, should work. You should also be able to use `trx.rollback()`, but in that case you shouldn't return anything from the `transaction` callback. Your problem is probably somewhere else. What does "doesn't work" mean in this case? What happens? Error message? Stack trace? Something?

[2017-07-10 21:25] dcominottim commented on #437
Thanks for the replies. However, the suggestion from @newhouse doesn't work; it is equivalent to the last lines I commented out in my original post. By "doesn't work" I mean that in the case of returning a rejected promise, the data is commited anyway; and in the case of manually invoking trx.rollback(), an error is thrown (because the transaction has been closed already when I invoke the method o

[2017-07-10 21:41] dcominottim commented on #437
My specific test case passes, but that's because it tests the return of the insert query. I only posted my test case in order to show the exact usage of the framework; it passes perfectly even with the rejected promise, because of where the assertion is placed.

I will try to provide a standalone example then, but from what I saw in objection's test suite it only tests against MySQL -- and I am us

[2017-07-10 21:43] lucaswxp opened #438 "should be datetime"
I have a weird issue.

The following doesn't work:

[code]

Inserting:
[code]

Throws:
[code]

But when creating with birthday null, the "created" field in beforeInsert seems to be working ok. Any idea on how to debug?

[2017-07-10 21:45] koskimas commented on #437
I'll take a look at the `rollback` method since there are no tests for it. Did you test what I suggested earlier about not returning a promise from the callback when calling `rollback`? Because if you do both, you are using it wrong. You an also see knex documentation about transactions. Objection transaction object is just a knex transaction object.

All tests are ran for sqlite, postgresql and m

[2017-07-10 21:48] koskimas commented on #437
I just wrote a test case for the `rollback` method and it works as it should:

[code]

[2017-07-10 22:04] koskimas commented on #438
`datetime` is not a valid JSON schema type. This is the correct way to validate a datetime:

[code]

[2017-07-10 22:04] #438 closed

[2017-07-10 23:18] mitchellporter commented on #436
I now have it working thanks to your code sample and details thanks.

I would like to only use snake case for the column names in the database. In our application code, and in all of our json responses to API clients, I would like to use camel case. Sometimes when we receive json payloads from third party services like jira for example, the payload can use camel case or snake case. We don't have c

[2017-07-10 23:22] mitchellporter commented on #436
Also, if you wouldn't mind offering general advice, have you ever seen a project where snake case is used as the database naming convention, but camel case is used in application code, or does this seem strange to you? I've always just used snake case everywhere for my REST API's, but the team I currently work with prefers to use snake case for db naming and camel case everywhere else, which is wh

[2017-07-11 07:09] koskimas commented on #437
Alternatively you __can__ use return if you also return the result from `rollback` since it is an async operation.

[code]

[2017-07-11 09:49] koskimas commented on #436
* `$parseDatabaseJson` is only called when parsing database rows into model instances. This method is called as the very first thing.
 * `$formatDatabaseJson` is only called when converting model instances to database rows. This method is called as the very last thing.
 * `$parseJson` is called whenever a model instance is created (except when creating one from a database row). This is called befo

[2017-07-11 11:35] pineapplemachine opened #439 "joinEager doesn't work with table names that contain a postgresql schema"
I have a query that looks similar to this:

[code]

Both the thing and user tables have a `creationTime` column. When I try to express the query like above I get an error `column reference "creationTime" is ambiguous`.

One solution would be to do this, but I really don't want to because it's verbose and repetitive and I'd have to do it in lots of places. It wouldn't help maintainability at all.

[2017-07-11 11:55] koskimas commented on #439
You can use the `alias` method:

[code]

[2017-07-11 12:36] pineapplemachine commented on #439
This solved the problem, thank you!

[2017-07-11 12:59] mattboutet opened #440 "skipUndefined broken with whereJsonSupersetOf"
It seems like skipUndefined() doesn't work with whereJsonSupersetOf():
[code]

Throws:
[code]
Digging into it a little makes me think this is a bug. It appears that args in WhereJsonPostgresOperation:call() is different from this.args in the case where myArray is undefined (and therefore should've been skipped).

[2017-07-11 13:07] pineapplemachine commented on #439
I have another question related to the same example actually -

Is it possible to cause the returned object to look something like this or will it be necessary to construct a new object meeting this format from the one acquired by the query?

[code]

[2017-07-11 13:15] koskimas commented on #439
Yes:

[code]

[2017-07-11 13:36] pineapplemachine commented on #439
This didn't work for me - if I use `select("*")` none of the author columns are included in the output and there is no "author" object. If I try to select e.g. "author.emailAddress" it produces an error `missing FROM-clause entry for table "author"`. I'm using objection@0.8.4.

[2017-07-11 13:46] koskimas commented on #439
Can you add `.debug()` to the queries and post the generated sql here?

[2017-07-11 13:47] koskimas commented on #439
By the way, I think `author` should be a `BelongsToOneRelation` instead of `HasOneRelation` because the source table `Things` has the foreign key.

[2017-07-11 13:55] pineapplemachine commented on #439
I made the relation change you suggested, that makes sense - still having the same issue though

In my use case the Things are Questionnaires that Users may create.

Postgres schema: https://pastebin.com/BPtpp5du

Models: https://pastebin.com/EYEgmeVc

The query: https://pastebin.com/YZGuSYiX

Console output:

[code]

[2017-07-11 14:04] koskimas commented on #439
There might be a bug with using `*` in select with joinEager. I'll look into that. It should work if you leave out the `select`. You never need to say `select('*')` since it's the default.

You seem to have two eager's in your query: `eager` and `joinEager`. The latter overwrites the first. You can simply say `joinEager('[author, title]')`.

[2017-07-11 14:05] koskimas commented on #439
This is unrelated, but there is now a `findOne({foo: 'bar'})` method that can be used instead of `where({foo: 'bar'}.first()`.

[2017-07-11 14:13] pineapplemachine commented on #439
I rewrote the query as

[code]

The resulting object does have an `author` attribute but it's null.

The console output reads:

[code]

If I manually run the query and add `"author".*` to the select statement then I do get the user information I expect; this seems not to be an issue with the User not existing but rather with the query not selecting that data. (The `title` attribute should in fact

[2017-07-11 14:19] koskimas commented on #439
That's not the SQL that should be generated. Are you sure that's __exactly__ the query you are running? And you don't have any custom hooks or query builders that add selects or something like that to the query? Where does the `select "questionnaire".*` come from?

[2017-07-11 14:28] pineapplemachine commented on #439
Hey, thank you for your help so far - I'm leaving the office for the day but I will return to troubleshooting tomorrow morning around 7:00 AM UTC

[2017-07-11 14:37] lucaswxp commented on #438
Ohhh,
So I could have put anything in "type" like "asdfg" and it would throw exception saying "should be asdfg"?

[2017-07-11 15:12] koskimas commented on #438
Probably... Objection uses AJV for json schema validation. You should open an issue there if that's something you would like to change

[2017-07-11 15:23] lucaswxp commented on #438
Ok! Thanks for the help.

[2017-07-11 15:56] koskimas commented on #437
@dcominottim Did you solve this? Can I close the issue?

[2017-07-11 16:45] dcominottim commented on #437
@koskimas Thanks for your replies. Unfortunately, the problem persists, although I seem to be doing things exactly as in your tests. I am preparing a standalone test case that I intend to show you today or tomorrow at last. I will try to have it ready in a couple hours.

[2017-07-11 17:30] dcominottim commented on #437
Done. Please run the `schema.sql `script against your local `objection_test` DB, then `npm install`, place `persistence.test.js` in a `test` folder, and `npm test.` It should result in

[code]

https://gist.github.com/dcominottim/8142e68bd0c890012fce63182a7fe495

[2017-07-11 17:46] koskimas commented on #439
I found a bug in `joinEager` when a table name has a schema in it. I'll fix it tomorrow. Maybe you could test it before I create a release?

[2017-07-11 17:52] koskimas commented on #437
I just looked at the code and you are not doing the rollback using either of the ways I told that would work. You are using this:

[code]

when you should be doing this:

[code]

or this:

[code]

[2017-07-11 17:59] pineapplemachine commented on #439
I'd be happy to test. Thank you very much for the quick response!

[2017-07-11 18:13] dcominottim commented on #437
Oh, reading the whole discussion again, I definitely misunderstood your explanation about when to return promises. Indeed, both of your last examples do work. Thanks a lot for the great support and library. The issue can be closed.

[2017-07-11 18:54] koskimas commented on #437
Great! I probably should document the `rollback` method better.

[2017-07-11 18:54] #437 closed

[2017-07-11 19:09] koskimas commented on #439
Awesome!

You can test the HEAD version by putting this in your package.json:

[code]

[2017-07-11 21:49] mitchellporter commented on #436
@koskimas Thank you for such a detailed replied. I fully understand everything now. Cheers! 🍻

[2017-07-11 21:49] #436 closed

[2017-07-12 07:20] pineapplemachine commented on #439
My package.json dependencies object now looks like this:

[code]

I get this error when attempting to `npm install` with npm v3.10.10

[code]

[2017-07-12 07:24] koskimas commented on #439
I messed up the original commit, force pushed a new one and edited the message. That's why 😄

[2017-07-12 07:27] pineapplemachine commented on #439
This query quite unintuitively fails:

[code]

with this error:

[code]

This query succeeds but the `author ` attribute of the outputted object is incorrectly `null`:

[code]

The query debug output followed by the received object:

[code]

It appears that it is correctly joining on the users table but failing to select any fields.

This query selects the author table column I'm interested in but

[2017-07-12 07:31] pineapplemachine commented on #439
I did also try selecting `author.emailAddress as author.emailAddress` but this only changed the key in the object rather than placing `emailAddress` in the author object

[code]

produces

[code]

[2017-07-12 07:34] koskimas commented on #439
Argh! The knex method `columnInfo` doesn't work with schemas. I need to open an issue in knex before this can be solved. It may take a while. Fortunately @elhigu has push rights to knex 😄

[2017-07-12 07:36] pineapplemachine commented on #439
Aaaaa ok. What would you suggest as the best workaround to use in the meantime?

[2017-07-12 07:43] koskimas commented on #439
I had one more idea. Could you try out commit `0f3094010ea`

[2017-07-12 07:47] pineapplemachine commented on #439
the good: it populates the author object! sweet

the bad: there doesn't seem to be a way to specify which columns should be included. it's important that I be able to select specific fields so that there's no chance of e.g. password hashes being accidentally included in an API response

[2017-07-12 07:50] koskimas commented on #439
You can select columns using `modifyEager` like this:

[code]

You need to use modifyEager or follow the weird naming convention `joinEager` uses to be able to parse the flat result rows into a tree. `modifyEager` works with normal `eager` as well as the join based `joinEager`.

[2017-07-12 07:53] pineapplemachine commented on #439
Aha I believe I have what I need

[code]

produces

[code]

[2017-07-12 07:53] koskimas commented on #439
By the way, a useful pattern to remove password hashes is to delete them in `$formatJson` like this:

[code]

[2017-07-12 07:57] pineapplemachine commented on #439
That is awesome, thank you for letting me know about that

[2017-07-12 08:04] #439 closed

[2017-07-12 08:11] pineapplemachine commented on #439
Is the pattern for limiting columns selected from a `HasManyRelation` different from a `BelongsToOneRelation`? What worked for `author` isn't working for `text` -

[code]

which outputs the _almost_ correct

[code]

Except I was expecting only the `languageCode`, `content`, and `contentOrigin` columns to be included in the results

[2017-07-12 08:15] pineapplemachine commented on #439
I also just realized that the query neglected to select the `titleTextId` column from the `Questionnaire` table

[2017-07-12 08:17] pineapplemachine commented on #439
Sorry I'm an idiot

I forgot to restart the server

[2017-07-12 15:17] Gustav0ar opened #441 "[Q] Insert/Update model with references in many-to-many with extra property"
I have the following doubt that I couldn't find clearly in objection.js docs. I have the following 2 Models:

[code]

I want to insert/update a country like:
[code]

As you can see, I don't want to create a new Language, I want to just add the reference with the extra property. I just want to create the country with the relations. What's the correct way for inserting/updating like that? I couldn't

[2017-07-12 16:00] koskimas commented on #441
Syntax for that is kind of nasty:

[code]

[2017-07-12 16:48] Gustav0ar commented on #441
@koskimas Thanks very much. That's what I wanted, that part isn't clear in the api.

To update the relation is there an api to do it that it handles the modified, inserted and removed automatically? Or do I need to create my own logic for that?

Thanks

[2017-07-12 17:11] koskimas commented on #441
Not yet, but [there will be soon](https://github.com/Vincit/objection.js/issues/211)

[2017-07-12 17:13] Gustav0ar commented on #211
Ok, thank you

[2017-07-12 17:13] Gustav0ar commented on #441
Ok, thank you

[2017-07-12 17:13] #441 closed

[2017-07-12 18:04] Gustav0ar commented on #211
looking forward for this feature

[2017-07-13 20:01] Gustav0ar opened #442 "Bug in InsertGraph"
I found a bug when inserting item to database where the children has errors like invalid id. In this cause it is inserting the parent, where it should rollback in case it can't insert its children. Look at issue  #441 where I used the same example, but passed invalid ids (that doesn't exist) to the related table.

[2017-07-13 20:04] koskimas commented on #442
There are no implicit transactions in objection. You need to start a transaction and perform the insertGraph operation insde it.

[2017-07-13 20:04] #442 closed

[2017-07-13 20:05] Gustav0ar commented on #442
Ah ok, I thought that it treated a single operation like a transaction

[2017-07-14 01:52] nielsonphu opened #443 "Duplicate where clause with .patchAndFetch"
For example, `user.$query().patchAndFetch({ password: 'asdfasdf' });`
generates the following knex log:
[code]
The where clause is duplicated.

[2017-07-14 10:01] k1dbl4ck commented on #388
For anyone who lands here I shimmed like so :

`class TestHandler {
    constructor() { return this;  }
    process(request, response) { ...  }
}
module.exports = new TestHandler().process;`

[2017-07-14 21:44] koskimas opened #444 "Document `with` method"

[2017-07-17 07:07] pineapplemachine opened #446 "Using objection to update row with ID if it exists, otherwise insert a new row"
I'm used to writing `REPLACE INTO` queries in MySQL, but what's the best way to achieve a similar query with objection and postgres? Is there any builtin tool for update-else-insert queries?

Thanks!

[2017-07-17 11:36] pineapplemachine opened #447 "Bug: whereNotExists missing from generated query"
I have this query:

[code]

It produces this output:

[code]

And because the `where not exists` clause is missing from the generated query I then get this error:

[code]

[2017-07-17 11:38] pineapplemachine commented on #447
Not a bug, just a user error http://knexjs.org/#Builder-whereNotExists

I expected `whereNotExists` to behave like `where` if I passed it an object.

Though I would suggest throwing an error instead of silently failing

[2017-07-17 11:45] pineapplemachine commented on #447
Reopening because actually I am having the same problem even if I write

[code]

or

[code]

[2017-07-17 12:10] newhouse commented on #447
To see if you can get it working, then later determine if it's still a bug, try changing your `whereNotExists` function argument to actually use `this.select(...)...` rather than an Objection query builder. In my experience you have to play by Knex's rules once you are that deep in. Also be sure to **not** use an arrow function as the argument but instead a regular old anonymous function so that t

[2017-07-17 12:24] pineapplemachine commented on #447
This also does not work

[code]

[2017-07-17 12:50] fl0w commented on #447
Can you try something like:
[code]

[2017-07-17 12:53] pineapplemachine commented on #447
Ah sorry - I should have clarified that I extended the model so that `Text.where(...)` is the same as `Text.query().where(...)`.

[code]

outputs

[code]

[2017-07-17 13:00] fl0w commented on #447
Yea, maybe knex doesn't support `where*Exists` in combination with `insert`. I'm in an awkward position so I can't check right now, but maybe later unless you've solved it. In worst case scenario you'd have use `raw`.

[2017-07-17 13:07] pineapplemachine commented on #447
Ah this does appear to be an issue with knex

https://github.com/tgriesser/knex/issues/871

The reason I need this is to do an upsert. Is there some other pattern recommended for this?

[2017-07-18 15:56] koskimas commented on #447
Maybe `INSERT ... ON CONFLICT UPDATE`, but you probably need to use `raw` for that. And of course you can use two queries in a transaction. I'm closing this since this is a knex issue. Knex also has an open ticket for `upsert`. Maybe that will get implemented one day.

[2017-07-18 15:56] #447 closed

[2017-07-18 19:28] pineapplemachine commented on #447
I did a lot of googling and found some possible upsert implementations, including one you (@koskimas) posted in response to a similar issue, but none of the ones I tried worked for me; I think they only applied to older versions of knex. I really am not that familiar with the library - It would be wonderfully helpful if you could point me toward an example of how to actually use `ON CONFLICT UPDAT

[2017-07-18 21:22] fl0w commented on #447
Well, using bookshelf.js I do something close to an (untested) objection.js equivalent of:

[code]

I have a bit more options (like specifying what fields to update on conflict and whatever), but I think maybe this helps?

[2017-07-18 23:54] elhigu commented on #447
@fl0w when dealing with knex queries, you don't need to do `toString()`, when passing sub-queries to raw.

When sub-queries are passed as `?` value bindings then internal value bindings of the sub-query will be passed to database driver as bindings (safer against sql injection and values containing `?` marks).

So safer version where column names are also escaped would be like:

[code]

But thanks

[2017-07-19 04:04] fl0w commented on #447
@elhigu not sure why I've never thought of using value binding for SQL queries. I think I just assumed `?`would wrap a query in quotes, and `??` in double quotes - but of course, it behaves as expected with ints and so I should have concluded that it does coerce correctly for query builder objects. Thanks for that - sometimes once you see it, it instantly makes sense. Weird how old habits sometime

[2017-07-19 04:25] fl0w commented on #446
Refer to https://github.com/Vincit/objection.js/issues/447
I think this can be closed.

[2017-07-19 10:25] koskimas commented on #446
Yeah, upsert should be implemented in knex.

[2017-07-19 10:25] #446 closed

[2017-07-19 18:16] #444 closed

[2017-07-19 18:19] koskimas commented on #443
Thanks for bringing this up. I'll fix this in the next patch version.

[2017-07-20 06:43] pineapplemachine commented on #447
Could someone help me out? When I try to upsert with this, I don't get any error but neither is any change made to the database. The returned query object does not have `debug` or `toSql` attributes which is making this difficult to troubleshoot.

[code]

Here's what I see when I `console.log` the returned query object:

[code]

[2017-07-20 07:17] pineapplemachine commented on #447
I have been experimenting with `objection.raw` and even with definitely valid raw query strings with no substitutions, the returned object is not thennable and does not support any of the other methods I expect from a query object either. Am I just misusing `raw`? But I'm doing the same thing as was given as an example in the comments above.

[2017-07-20 07:28] koskimas commented on #447
`objection.raw` is no not the same as `knex.raw`. It's a wrapper that is specifically meant to be knex independent. You can just use `knex.raw` or `Model.raw` to create raw queries.

[2017-07-20 07:46] pineapplemachine commented on #447
Ok, that did help, but I'm now stuck on incorporating the insertion query.

Here's my implementation currently:

[code]

I get this error because `insertQuery` is incorrectly substituted:

[code]

When I try putting `insertQuery` in the bindings instead of `insertQuery.toSql()` I get a different error:

[code]

[2017-07-20 08:56] elhigu commented on #447
That query combining with `knex.raw`, works currently only for queries generated with knex. Queries returned by objection does not work when passed to `knex.raw()`.

https://runkit.com/embed/j0mq97zqe30u

 And I don't know if there are any possible ways to support it either with objection, since objection query builder creates some times multiple queries per each builder method and that really can

[2017-07-20 10:09] #443 closed

[2017-07-20 10:21] koskimas commented on #211
Now I'm going to sit my lazy ass down write this! What has been said, cannot be unsaid (for the fourth time).

[2017-07-20 11:44] pineapplemachine commented on #447
Here is something that seems to be constructing queries as expected

I realized in so succeeding that the version of postgres I'm using doesn't support `ON CONFLICT`

I will update postgres and report back later

[code]

[2017-07-20 14:28] joaonice opened #448 "Async validation"
Hi!

One of the greatest features of `AjvValidator` is the async schema validation and currently `objection.js` doesn't implement it. Is there any plans to implement model async validation?

Ref #113

[2017-07-20 19:52] koskimas commented on #211
First alpha version is almost done. One more night of coding and I'll push this into a branch for the bravest of you to try and comment.

[2017-07-20 20:15] fl0w commented on #211
Awesome!

[2017-07-21 11:31] koskimas commented on #211
For **ck's sake! I just hit a brick wall with my design. I knew this would happen with this one. Complete rewrite... 😭

[2017-07-21 13:35] newhouse commented on #211
Hang in there and good luck!

[2017-07-22 05:50] theogravity opened #450 "insertGraph - should it be auto-populating the parent id?"
I have a model that's defined like this

[User] - hasOne -> [Profile]
[Profile] - belongsTo -> [User]

There is a `Profile.user_id` field that needs to be populated.

When I try

[code]

It errors out saying `Profile.user_id` is not defined. The docs for `insertGraph` made it seem that it would auto associate the `User.id` -> `Profile.user_id` due to the relational mapping.

Does it not? Do I need

[2017-07-22 06:18] theogravity commented on #450
Figured out the dynamic way

[code]

Still unsure if I actually need to go this route.

[2017-07-23 09:14] koskimas commented on #450
It should set the id automatically. There should be tons of tests for this in the test suite, but I'll try to reproduce this when I get to my computer.

[2017-07-23 13:05] koskimas commented on #450
I cannot reproduce this. The problem is somehow related to your setup. Could you try to write a minimal standalone reproduction that I can debug?

[2017-07-23 18:07] koskimas opened #451 "Mention in insertGraph (and friends) docs that the operation is not atomic by default"

[2017-07-24 13:12] koskimas commented on #211
I just pushed the first draft of the `upsertGraph` method to master. I documented [the tests](https://github.com/Vincit/objection.js/blob/master/tests/integration/upsertGraph.js) so that they can be used as a reference at this point. There is still alot of work to do, but it should already work for the most common use cases.

I would be very grateful if some of you tested this for their own use ca

[2017-07-24 16:20] mceachen commented on #211
Well done!

I've found [chai-subset](https://www.npmjs.com/package/chai-subset) to be helpful in my objection integration tests, so you don't have to do stuff like [this](https://github.com/Vincit/objection.js/blob/master/tests/integration/upsertGraph.js#L112). Also, kudos to writing out all the TODO test cases at the bottom.

[2017-07-24 17:13] koskimas commented on #211
@mceachen Thanks for the tip! I'll switch over to chai.

[2017-07-24 21:06] theogravity commented on #450
Thanks for looking into it - I've created a repro sample here:

https://github.com/theogravity/objectionjs-issue-450

After installing via npm / yarn,

- `npm migrate`  for db creation
- `npm start` to exec the sample

[code]

[2017-07-24 21:10] koskimas commented on #450
Awesome! Thank you for the repro. I'll take a look at this as soon as I can.

[2017-07-24 21:16] theogravity commented on #450
Thanks - i've updated the repo with some comments and cleaned it up a bit just now - it's yours to take

[2017-07-24 21:35] koskimas commented on #450
Your `$format*` and `$parse*` methods are quite complex. Objection uses this code to figure out the conversion between database and "external" column names:

[code]

What happens is the column name is not converted from `user_id` to `userId` at any point in the repro and that's why the validation is failing.

Is there are reason you have snake_case column names and camelCase properties in the code

[2017-07-24 21:37] theogravity commented on #450
ah - I had some odd feeling that might have been the case - we're just starting to build this out so we can switch to a case format that's consistent with the objection model. I'll try with that - thanks

[2017-07-24 21:42] theogravity commented on #450
To add on the snake vs camel case, it's a minor thing with postgres - postgres will lowercase camel case fields without adding quotes around each field name.

https://www.drupal.org/node/1622982 (we're not using drupal here, but the issue describes it well)

I wanted to have an external API def that uses camel casing, while the internals are lower cased.

[2017-07-24 22:42] theogravity commented on #450
Your suggestion worked - thanks!

[2017-07-24 22:42] #450 closed

[2017-07-25 08:02] ppinel opened #452 "String conversion to JSON not working as it should."
Hello,

I have troubles using json as string with mariadb and Objection.js.
I tagged my column as json in knex migration file. This should just fallback on text and it does.

My issue is when I use Objection.js to get data from database. As I saw in code, it should try to convert any string to JSON. It doesn't for in my case.
In a column I have a stringify json object and I am expecting Objection

[2017-07-25 10:25] koskimas commented on #452
You need to mark the property as `object` or list it in the `jsonAttributes` list for it to get automatically stringified andbparsed. Did you do either of those?

[2017-07-25 10:35] ppinel commented on #452
Nope I didn't.
Thanks for your help!

[2017-07-25 10:35] #452 closed

[2017-07-25 23:56] theogravity commented on #211
I was brave to test!

Having an issue with `unrelate` not working (?)

[code]

[2017-07-26 00:01] theogravity commented on #211
Also an option to only do an update operation only and throw if it's trying to update an id that doesnt exist

[2017-07-26 00:30] theogravity opened #454 "Cannot read property '$relatedQuery' of undefined"
Having trouble trying to get `$relatedQuery` to work.

[code]

I get `TypeError: Cannot read property '$relatedQuery' of undefined`.

I did look at the unit tests for relations and tried to mimic what I saw there.

[2017-07-26 00:42] theogravity commented on #454
nm, i think i di dsomething wrong

[2017-07-26 00:42] #454 closed

[2017-07-26 07:16] koskimas commented on #211
@theogravity Thank yoy for testing this!! yes, unrelate only works for relations. `merge` option for object columns could be a good idea! I'll write it down. It could be a bit difficult to implement, so that propably won't be the first thing I'll implement. I'm pretty sure worse bugs and missing features will be found soon 😀

Option to throw if nothing gets updated (invalid id, or id not found in

[2017-07-26 07:46] theogravity commented on #211
Default.

For patching I noticed there was no validation if the id is missing (via patch and fetch by id) - would be great if it could make sure the id was present instead of having to do a manual check for it

[2017-07-26 08:41] elhigu commented on #211
Would it be ok to validate only those fields which are patched and ignore required attributes validation altogether? I don't know how easy that is to implement with our validation lib though and still be allowing custom validators...

[2017-07-26 18:02] theogravity commented on #211
Maybe there should be a separate required patch attributes field, but based on what I know on how patchAndFetchId works, that phase would be way too late

[2017-07-27 11:35] danieloprado opened #455 "Generic Transaction"
With the new update, the Transaction became a generic type, but its broken all my code, see the example below:

![image](https://user-images.githubusercontent.com/7683575/28668270-6c8911de-72a5-11e7-9174-0241197a7652.png)

I can't use the same transaction for two different queries and it create a idea that is not possible.

[2017-07-27 11:38] danieloprado opened #456 "WhereIn Typings"
Before update, the query above is correctly, but now **whereIn** expect a query based on Event this is not right because I can do a subquery in another table.

![image](https://user-images.githubusercontent.com/7683575/28668539-b09625d2-72a6-11e7-8ea0-145a60e3b5f3.png)

[2017-07-27 11:38] elhigu commented on #455
What is the error typescript is giving? It might be caused also because you are shadowing variable name `transaction`. Try to change inner `transaction` argument name to `trx` and pass that to queries?

[2017-07-27 11:46] danieloprado commented on #455
Rename didn't work, The error message:
[code]

The **ChurchUser.query()** expect a Transaction<ChurchUser> not a Transaction<User>, but Transaction works in both cases

[2017-07-27 12:20] danieloprado commented on #456
Typescript error:

[code]

[2017-07-27 13:01] elhigu commented on #455
Yeah, looks like typing is too strict. These are good test cases for typings 👍

[2017-07-27 13:07] danieloprado commented on #455
Yep! I think Transaction don't need to be a Generic Type, like before...

[2017-07-27 13:28] koskimas commented on #211
@theogravity please create a separate issue for the patchAndFetchById issue. This issue is only about upsertGraph.

[2017-07-27 14:19] tahv0 opened #459 "Eagers pick doesn't work when doing patchAndFetchById but omit works"
Eg. if I have models like this:
[code]
[code]

And I'm doing query like this:
[code]
It returns Account object that doesn't have Person in it as eager.
But if I use **omit** instead of **pick** it returns Person object normally as part of it and Account fields are parsed like it should be after omitting some key-value-pairs.

[2017-07-27 19:47] koskimas commented on #459
Thanks for bringing this up! There's not that many (if any) tests for patchAndFetchById + other query methods. I'll look into this as soon as I can. Currently I'm on vacation and comfortably drunk in Berlin, but maybe during the next week or so.

[2017-07-27 19:51] newhouse commented on #459
Enjoy your vacation, @koskimas ! 🍻 🕺

[2017-07-27 21:24] marcus-sa opened #461 "Catching a query error only returns an empty object"
I think that all the ORM's is handling errors really bad.
e.g Bookshelf.js only output error code, SQL state, and field index.

Objection.js doesn't provide anything at all.
When catching a promise the error only returns an empty object.

Example when creating a new user:
[code]

Model:
[code]

[2017-07-27 21:49] newhouse commented on #461
Are you saying that (and are you sure that) the error is occurring due to your `insert()` attempt? In my experience, Objection would definitely throw a useful error to the `catch` if something went wrong with the `Users.query.insert()` part. Perhaps there's a bug in this instance, but I get totally useful errors and always have.

Are you sure that the problem is not within the `.then(user => { ` c

[2017-07-27 21:58] koskimas commented on #461
First of all, really nice way to report an issue! It really makes me want to help you. Second of all, you are simply wrong. Objection returns the database error in case of database errors. I realize that there should probably be a layer that unifies those errors between different database engines, but that should be implemented as a separate module. I don't want to start maintaining that layer as

[2017-07-27 22:09] marcus-sa commented on #461
@koskimas I'm really sorry, I didn't mean to be harsh in any way at all.

I found out, that by removing the catching the error will then be logged into the console.
I'm using a routing middleware I coded that iterates through all my models requires them and assigns them to an object.
[code]

Aside from all that even if I import them normally I receive this error:
[code]

[2017-07-29 01:23] jeff-kilbride commented on #295
Just for posterity...

I think I finally figured this out. While stepping through some unrelated stuff with the debugger, I noticed that the signature for the transaction rollback function was:
[code]
In the code above, generating the warnings, I was calling rollback like so:
[code]
Changing the call to rollback to the following:
[code]
got rid of all the `a promise was rejected with a non-error`

[2017-07-30 18:24] #461 closed

[2017-07-31 02:18] koskimas commented on #211
@theogravity `upsertGraph` now throws if an invalid id is given somewhere in the graph by default. The original relate behaviour can be enabled by giving a `relate: true` option.

[2017-07-31 03:15] theogravity opened #463 "patch - dedicated field for required attributes?"
When I'm doing a patch, I'd like to still validate against some required fields (eg an id). Currently, I have to do something like this separately before my patch:

[code]

to test if the incoming patch data meets validation requirements. It'd be nice to be able to define required fields specifically for patching. It won't always match the required fields for inserting.

[2017-07-31 03:16] theogravity commented on #211
Thanks, I'll give it a try at work tomorrow, although my use-case is mainly patching compared to updating.

[2017-07-31 08:13] pineapplemachine commented on #447
For any future users trying to write an upsert with objection, here is my solution:

[code]

[2017-07-31 08:17] fl0w commented on #447
To avoid future headache, you probably should check for `hasOwnProperty` in that `for-in` loop :)

[2017-07-31 11:06] koskimas commented on #463
You can implement your [own validator](http://vincit.github.io/objection.js/#custom-validation) to do that. You can for example extend the default `AjvValidator`:

[code]

This is such a specific request that I don't think it should be added to objection.

[2017-07-31 11:11] koskimas commented on #463
Also if you have the same required properties for insert and update, you can just use the`update()` method instead of `patch()`. `update()` checks against the required properties.

[2017-07-31 11:13] #463 closed

[2017-07-31 11:20] pineapplemachine opened #464 "model.query().insert(...).toSql() does not return a valid query string"
I have an insert query that looks like this:

[code]

I am trying to extend the query builder in a way that seemingly requires me to produce a query string for the insertion before using `this.modelClass().raw(queryStringIncludingInsertion, bindings)`. It looks as though this would work fine for my use case except that the result of calling `toSql` is not a valid query, even though the query perfo

[2017-07-31 12:08] koskimas commented on #464
Objection usea knex to build the SQL. You should probably open this issue in knex github. Objection calls knex's `toString` method to create the string.

[2017-07-31 21:40] theogravity opened #465 "Schema.org - defined format validation"
I noticed in http://vincit.github.io/objection.js/#model

It notes that it says

[code]

Which I thought meant that you can specify whatever you want from the JSON schema validation spec. I'm trying to use the `format` portion of the spec:

http://json-schema.org/latest/json-schema-validation.html#rfc.section.8.3

Doing something like this:

[code]

However, running my unit tests, I get an error b

[2017-07-31 21:42] theogravity commented on #465
Oops, I take it back - the above is valid - I was not using a uri value for that field

[2017-07-31 21:42] #465 closed

[2017-07-31 21:57] theogravity commented on #211
It works! It was able to associate the user id in the profile.

[2017-07-31 22:00] theogravity commented on #463
ah, thanks

[2017-08-02 19:20] juanjoLenero opened #467 "first() not respected in modifyEager"

[2017-08-02 19:23] koskimas commented on #467
Unfortunately that's one of the limitations of eager queries as explained [here](http://vincit.github.io/objection.js/#eager). You can use `naiveEager` algorithm, but even then you cannot change arrays into objects. You can use `limit(1)` and get an array with only one item. Also note that by default `first` doesn't add `limit 1` to the query. You can change this behaviour using [useLimitInFirst](

[2017-08-02 19:23] #467 closed

[2017-08-02 19:39] juanjoLenero commented on #467
Thank you, sorry about the empty message body, I accidentally pressed enter when editing the submission. I'm aware of the limitations I just wanted a convenience method for doing exactly that `picking the first element out of the array`.

Several times in my APIs I have to return something like this:
[code]
I don't need paging/limiting on the relation, I just need to transform the array to its fir

[2017-08-02 19:40] koskimas commented on #467
Actually you can achieve what `first` would do by combining couple of things:

[code]

Now when you want to query a single item (use `first`) you can do something like this:

[code]

[2017-08-02 19:55] juanjoLenero commented on #467
That works! 👍

[2017-08-02 20:02] koskimas commented on #464
I'm closing this since there is nothing that can be done on objection's side. By the way, you can probably make that work if you use `timestamp.toISOString()` instead of the moment instance `timestamp` itself. knex probably check's its type and does somethings weird because it is an object, and finally calls its `toString` method.

[2017-08-02 20:02] #464 closed

[2017-08-02 21:27] fl0w commented on #448
I don't think this'll get implemented unless koskimas changes his mind on marrying Ajv with objection. But I would rather, personally, see this as a plugin.

[2017-08-03 16:25] #455 closed

[2017-08-03 17:25] rafaelkallis commented on #179
@koskimas the example you gave should really be in the docs!

[2017-08-03 18:15] newhouse commented on #179
@rafaelkallis PR's like that are for sure welcome! I've contributed (directly) to the code base only by updating docs and writing some tests for things I put in the docs. Would be much appreciated I'm sure!

[2017-08-03 18:16] rafaelkallis commented on #179
@newhouse on it!

[2017-08-03 20:11] koskimas commented on #456
Fixed in 5e33cbc

[2017-08-03 20:11] #456 closed

[2017-08-04 17:25] joaonice opened #469 "query.throwIfNotFound().delete() not working"
Hi,
`throwIfNotFound` method is not working with `delete` (and maybe other methods) since the result of deleting an inexistent row is `0`.

Maybe we can change the `throwIfNotFound` method to be like:

[code]

I'm not sure if there is another case that the result is `0` and we don't want to throw the error.

What do you think?

Thank you

[2017-08-04 17:33] koskimas commented on #469
Sounds good! The result is zero also when updating and no rows get updated, but we should probably throw then too.

[2017-08-04 20:06] koskimas opened #470 "Make it harder to shoot yourself in the foot with `unrelate`"
1. Throw an error if an argument is passed to `unrelate` with an explanation how it should be used as a message.
2. Mention the current behaviour in the docs

[2017-08-04 22:37] #211 closed

[2017-08-04 22:42] #469 closed

[2017-08-06 01:03] VladShcherbin opened #472 "Add model snake/camel-case conversion flag"
Mysql and postgres have snake case convention by default. Since `lodash` is already a dependency, it'll be very nice to have a model flag and a built-in conversion. Something like:

[code]

After using snake case naming convention in my databases, I tried using camel case for more than a month, but it still feels very weird and there are some cons - e.g. you have to use quotes in raw sql queries,

[2017-08-06 01:09] VladShcherbin commented on #472
This is also useful in `knex` migrations, there is `timestamps` method which by default creates `created_at`, `updated_at` columns.

[2017-08-06 03:58] fl0w commented on #472
Personally, I think this is outside of scope of objection.js and flirts with feature creep.

[2017-08-06 04:14] VladShcherbin commented on #472
@fl0w can you explain, why is it outside of scope of an ORM package for databases that have snake case column name convention for decades?

[2017-08-06 04:18] fl0w commented on #472
objection isn't a traditional ORM, more like a layer on top a query builder. There's very little (if anything) magic involved and very little data manipulation done by the library. I like the focus this my previous comment.

There's nothing today in objection that stops you from using snake case, and it's easy enough to implement a conversion if you so chose - but IMO it's not something I see as a

[2017-08-06 04:23] VladShcherbin commented on #472
@fl0w a layer on top of query builder is called ORM.

So, what you are suggesting - instead of adding a flag that everyone can use right from the start, you suggest that you have to implement this yourself in every time or download an additional package.

Makes sense.

[2017-08-06 04:31] fl0w commented on #472
Alright, I provided my opinion (and stated so multiple time), you might disagree and that's alright. The attitude is not. Don't get childish just because someone disagrees with you.

Not everyone does conversion, just like not everyone does soft deletes. And yes, I do believe it makes sense, thus the rebuttal on a feature request. You shouldn't re-implement things anyway - do a plugin and publish

[2017-08-06 04:38] VladShcherbin commented on #472
@fl0w I respect your opinion, just amazed that people like you are against a feature that has no downsides for you, but you are against just because you don't need it.

Comparing this to soft deletes is like comparing apples to oranges.

[2017-08-06 04:39] devinivy commented on #472
I agree that objection shouldn't necessarily handle this.  We certainly use our own class inheriting from `Objection.Model` for our models, in order to provide our own base functionality.  If objection were to handle attribute/column transformation I'd expect it to be handled in a more generalized way.  A plugin for this would be very cool.

[2017-08-06 04:42] fl0w commented on #472
Because I value lean libraries, and I value the unix philosophy. I also libraries that feature creep. I'm actually equally amazed at users expecting every library to fit their own needs. I favour composition.

[2017-08-06 08:19] koskimas commented on #472
What do you mean by this? I'm aware that Mysql and postgres are case insensitive and you have to escape identifiers that have mixed case, but I'm not aware of any conventions.

I have never really understood why people want to use snake case in database and camelCase in code. I can _almost_ understand it if you need to write a lot of raw SQL, but with node.js, knex and objection you really shouldn

[2017-08-06 09:15] koskimas opened #473 "Helper for applying multiple plugins"
This can become a mess:

[code]

Should we add a helper like this:

[code]

Or would `mixin` be a better name for the method?

Arrays would also be supported:

[code]

[2017-08-06 12:28] VladShcherbin commented on #472
In most tutorials, guides and frameworks (not only js) snake case is the default for mysql, postgres databases and this has been for decades. It's a standard most developers use. You can even google "postgres naming conventions" and answers suggest you to stick with best practices and use snake case.

When you use camelCase column names, you need to use quotes (`select table."columnName"` instead

[2017-08-06 12:43] StasevichJack commented on #472
I'd be also happy to see this in core as all our existing project databases have snake case table and column names.

Having to add a package for this basic functionality is over-engineering.

[2017-08-06 14:59] koskimas commented on #472
@VladShcherbin

I don't think it's ever a good reason to follow a convention just because "everyone else seem to do so". I'm also surprised that the convention is rooted so deeply that people feel "weird" when not following it.

How? The `timestamps` method? Why do you even use it? It saves you _one single line of code_.

Based on my own experience people that follow this convention are a minority

[2017-08-06 15:08] koskimas commented on #472
I need to add that off course I have seen people use snake cased identifiers, but in those cases they also used them in code.

[2017-08-06 16:12] VladShcherbin commented on #472
@koskimas this conventions are very useful when you have a different language background. For example, I started with php long time ago.

[Laravel](https://github.com/laravel/laravel) is one of the most popular frameworks and the whole [docs and ecosystem](https://laravel.com/docs/master/eloquent-relationships#many-to-many) is using snake case. For people who want camel case there is a [model flag

[2017-08-06 18:56] koskimas commented on #472
Don't you think I compared the number of issues to the total number of __objection__'s issues? I'm very aware of how popular objection is compared to other libraries. Please give me some credit.

You are still only listing documentation conventions, not actual projects. Nothing in knex suggests that you should use snake case names in database in your own project. They have just selected to use tha

[2017-08-06 20:06] fl0w commented on #472
I just have to proxy the discussion with some well deserved props to Vincit, thus elhigu and koskimas.

To call, having two overrides in a base model which all other application models extends from, "over-engineering and painful", is over dramatic. The fact that *it is* so easy to implement this as a third party plugin is a testament to how malleable objection is - and that's the goal (according t

[2017-08-06 20:23] VladShcherbin commented on #472
My point is if ORM uses underlying query builder (`knex` in this case), conventions of it should be first class citizen, not some plugins or mixins.

@koskimas sorry if I may sound like I don't like Objection, english is not my first language. I provided stats only to show that there are a lot of projects that follow the docs and conventions. Here is a simple example - search for [knex created_at]

[2017-08-06 21:17] StasevichJack commented on #472
@VladShcherbin don't give up, I also want this in core.

@koskimas another example is [Ghost using knex with snake case](https://github.com/TryGhost/Ghost/tree/master/core/server/data), you can see [fixtures](https://github.com/TryGhost/Ghost/blob/master/core/server/data/schema/fixtures/fixtures.json) with column names. Is this project good enough as a real-world example?

[2017-08-06 21:24] koskimas commented on #472
@VladShcherbin  My comment was also a bit too pointy. Sorry about that. Actually I modified it, but you read the original. Let's keep this open to see if it collects more opinions.

[2017-08-07 02:39] devinivy commented on #473
Worth checking the API/implementation of this lib for inspiration https://github.com/justinfagnani/mixwith.js

If you go the direction you're hinting at, I'd request to at least let `Model.plugin(P1, ..., Pn)` extend from `Model` even if `Model` is already an extension of `Objection.Model`.

[2017-08-07 07:32] koskimas commented on #473
@devinivy That library was my inspiration. I originally thought of adding a helper like:

[code]

but the you would need to require the `mixin` helper. Since we are always mixin in stuff to `Model` or `QueryBuilder` or some othe known baseclass, we can make the mixin helper a static method.

The implementation would be simply this:

[code]

Of course it will always extend `this` instead of `object

[2017-08-07 08:05] fl0w commented on #473
Wouldn't it be easier to have a callable api that just reassigns model with most recent "extends"?

[code]

[2017-08-07 08:31] koskimas commented on #473
@fl0w Nope, then we would lose part of the flexibility. After that you would have no way to access the original unmodified `Model`.

[2017-08-07 08:37] fl0w commented on #473
@koskimas understood. Storing the plugin/model chain layout wouldn't help either?

[code]

Extending with intent is always an option but, correct me if I'm wrong, generally plugins would be used application wide? (considering soft-delete/case-conversion/auto-update-timestamps perhaps).

[2017-08-07 08:39] koskimas commented on #473
Probably, but nothing prevents you from doing

[code]

[2017-08-07 08:40] fl0w commented on #473
Ah, got it. Thanks.

[2017-08-07 08:42] koskimas commented on #473
Would you prefer `mixin` instead of `plugin` as the name? I think we could use this kind of helper because many people seem disgusted by

[code]

This seems cleaner to me:

[code]